
{% load static %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Dashboard">
    <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
    <title>Voice Home</title>
    <link rel="stylesheet" href="{% static 'lib/bootstrap/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'lib/font-awesome/css/font-awesome.css' %}" />
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/style-responsive.css' %}" rel="stylesheet">
    <link href="{% static 'css/circle9.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/normalize.min.css' %}" rel="stylesheet">
    {% comment %} <link href="{% static 'js/normalize.min.css' %}" rel="stylesheet"> {% endcomment %}
    <link href="{% static 'img/gosoft.png' %}" rel="icon">
    <link href="{% static 'img/gosoft.png' %}" rel="apple-touch-icon">
    
    {% comment %} <link rel='stylesheet' href='https://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css'>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script> {% endcomment %}
    <script>
      .button-clone {
        background-color: #4CAF50; /* Green */
        border: none;
        color: white;
        padding: 32px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 20px;
      }
    </script>
  </head>
<body>
  <section id="container">
    
    {% comment %} <-- All Navigation Bars  --> {% endcomment %}
    <header class="header black-bg">
      <div class="sidebar-toggle-box">
        <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
      </div>
      <!--logo start-->
      <a href="" class="logo"><b>GO<span>SOFT</span></b></a>
      <!--logo end-->
      <div class="nav notify-row" id="top_menu">
        <!--  notification start -->
        <ul class="nav top-menu">
          {% comment %} notification of disk capacity status {% endcomment %}
          <li id="header_notification_bar" class="dropdown">
            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
              <i class="fa fa-hdd-o"></i>
              <span class="badge bg-warning">!</span>
            </a>

            <ul class="dropdown-menu extended notification">
              <div class="notify-arrow notify-arrow-yellow"></div>
              <li>
                <p class="yellow">You have new notifications</p>
              </li>
              {% for diskcap in voice_disk_cap_for_IP1  %}
              {% if diskcap.status == 'Alert' %}
              <li>
                <a href="#">
                  <span><i class="fa fa-exclamation-circle " style="color:yellow;"></i></span>
                   {{diskcap.ip}}.
                  <span class="small italic"> Alert</span>
                  </a>
              </li>
              {% elif  diskcap.status == 'Failed' %}
              <li>
                <a href="#">
                  <span><i class="fa fa-times-circle" style="color:red;"></i></span>
                   {{diskcap.ip}}.
                  <span class="small italic"> Failed</span>
                  </a>
              </li>
              {% else %}
              {% endif %}
              {% endfor %}
            </ul>

          </li>
          {% comment %} //notification of disk capacity status {% endcomment %}

          {% comment %} notification of asterisk status {% endcomment %}
          <li id="header_notification_bar" class="dropdown">
            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
              <i class="fa fa-server"></i>
              <span class="badge bg-warning">!</span>
            </a>

            <ul class="dropdown-menu extended notification">
                <div class="notify-arrow notify-arrow-yellow"></div>
                    <li>
                        <p class="yellow">You have new notifications</p>
                    </li>
                    {% for asterisk in voice_asterisk_server  %}
                        {% if asterisk.status == 'inactive (dead)' or asterisk.status == 'unable to connect host'  %}
                            {% if asterisk.status == 'inactive (dead)' %}
                                <li>
                                    <a href="#">
                                    <span><i class="fa fa-exclamation-circle " style="color:yellow;"></i></span>
                                    {{asterisk.ip}}.
                                    <span class="small italic"> Alert</span>
                                    </a>
                                </li>
                            {% elif  asterisk.status == 'unable to connect host' %}
                                <li>
                                    <a href="#">
                                    <span><i class="fa fa-times-circle" style="color:red;"></i></span>
                                    {{asterisk.ip}}.
                                    <span class="small italic"> Failed</span>
                                    </a>
                                </li>
                            {% else %}
                            {% endif %}
                        {% else %}
                        {% endif %}
                    {% endfor %}
            </ul>
          </li>
          {% comment %} //notification of asterisk status {% endcomment %}

          {% comment %} notification of httpd status {% endcomment %}
          <li id="header_notification_bar" class="dropdown">
            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
              <i class="fa fa-globe"></i>
              <span class="badge bg-warning">!</span>
            </a>

            <ul class="dropdown-menu extended notification">
              <div class="notify-arrow notify-arrow-yellow"></div>
              <li>
                <p class="yellow">You have new notifications</p>
              </li>
              {% for httpd in voice_httpd_server  %}
              {% if httpd.status == 'inactive (dead)' %}
              <li>
                <a href="#">
                  <span><i class="fa fa-exclamation-circle " style="color:yellow;"></i></span>
                   {{httpd.ip}}.
                  <span class="small italic"> Alert</span>
                  </a>
              </li>
              {% elif  httpd.status == 'unable to connect host' %}
              <li>
                <a href="#">
                  <span><i class="fa fa-times-circle" style="color:red;"></i></span>
                   {{httpd.ip}}.
                  <span class="small italic"> Failed</span>
                  </a>
              </li>
              {% else %}
              {% endif %}
              {% endfor %}
            </ul>

          </li>
          {% comment %} //notification of httpd status {% endcomment %}
          <!-- notification dropdown end -->
        </ul>
        <!--  notification end -->
      </div>
      <div class="top-menu">
        <ul class="nav pull-right top-menu">
          <li><a class="logout" href="#">Logout</a></li>
        </ul>
      </div>
    </header>
    {% comment %} <-- All Navigation Bars  --> {% endcomment %}

    {% comment %} Side panel  {% endcomment %}
    <aside>
      <div id="sidebar" class="nav-collapse">
        <ul class="sidebar-menu" id="nav-accordion">
          <p class="centered"><a href="#"><img src="{% static 'img/user.png' %}" class="img-circle" width="80"></a></p>
          <h4 class="centered">เค๊าเอง</h4>
          <li class="mt">
            <a href="../">
              <i class="fa fa-dashboard"></i>
              <span>Dashboard</span>
            </a>
          </li>
          <br>
          <li class="sub-menu">
            <a href="javascript:;">
              <i class="fa fa-tty"></i>
              <span>VOICE</span>
            </a>
            <ul class="sub">
              <li><a href="../voicemanual">Manual CheckList</a></li>
              <li><a href="../voiceAuto/">voice service status </a></li>
              <li><a href="../voicedataTable/">ดูข้อมูลย้อนหลัง</a></li>
              {% comment %} <li><a href="#">Trunk Status Cisco CUCM</a></li> {% endcomment %}
            </ul>
          </li>
          {% comment %} <li class="mt">
            <a href="#">
              <i class="fa fa-credit-card-alt"></i>
              <span>AP Radio Reset</span>
            </a>
          </li> {% endcomment %}
          <li class="sub-menu">
            <a href="javascript:;">
              <i class="fa fa-rss"></i>
              <span>AP Radio Reset</span>
              </a>
            <ul class="sub">
              {% comment %} <li><a href="../wireless">WIIRELESS ร้าน</a></li> {% endcomment %}
              <li><a href="../controllerhealth">WIIRELESS Controller</a></li>
              <li><a href="../controllerAP">Controller AP Down Count</a></li>
            </ul>
          </li>
          <li class="mt">
            <a href="#">
              <i class="fa fa-server"></i>
              <span>Router And Switch</span>
            </a>
          </li>
          <br>
          <li class="sub-menu">
            <a href="javascript:;">
              <i class="fa fa-rss"></i>
              <span>WirelessOffice & Warehouse</span>
              </a>
            <ul class="sub">
              <li><a href="../wireless">WIIRELESS ร้าน</a></li>
              
              <li><a href="#">Data Tables</a></li>
            </ul>
          </li>
          <br>
          <li class="sub-menu">
            <a href="javascript:;">
              <i class="fa fa-exchange"></i>
              <span>F5 Load Balancer</span>
              </a>
            <ul class="sub">
              <li><a href="../f5/">F5 Data</a></li>
            </ul>
          </li>
          
          
          <li class="sub-menu">
            <a href="javascript:;">
              <i class="fa fa-exchange"></i>
              <span>SDWAN</span>
              </a>
            <ul class="sub">
              <li><a href="../sdwan/">Overview</a></li>
            </ul>
          </li>
          
        </ul>
      </div>
    </aside>
    {% comment %} Side panel  {% endcomment %}

    <section id="main-content">
      <section class="wrapper">
            <div class="jumbotron">
              <h1 class="display-4">F5 Overview</h1>
              <div class="example1">
              </div>
            </div>
            <hr class="my-4">
            <div style="text-align:center;">
              <form method="POST">
                {% csrf_token %} 
                  <button class="button-clone" type="submit">check status</button>
                  
              </form>
              
            </div>
            <div class="col-lg-12">
              <h3><i class="fa fa-angle-right"></i>  Fan Status</h3>
              <div class="row mt">
                <div class="content-panel">
                  <div class="adv-table">
                    <table cellpadding="0" cellspacing="0" border="5" class="display table table-bordered" id="hidden-table-disk">
                      <thead>
                        <tr>
                          <th>ip</th>
                          <th class="hidden-phone">Fan 1 Status</th>
                          <th class="hidden-phone">Fan 2 Status</th>
                          <th class="hidden-phone">Fan 3 Status</th>
                          <th class="hidden-phone">Fan 4 Status</th>
                          <th class="hidden-phone">Fan 1 Speed</th>
                          <th class="hidden-phone">Fan 2 Speed</th>
                          <th class="hidden-phone">Fan 3 Speed</th>
                          <th class="hidden-phone">Fan 4 Speed</th>
                          <th class="hidden-phone">DATE</th>
                        </tr>
                      </thead>
                      <tbody>
                      {% for fan in f5fan  %}
                        <tr>
                          <th>{{fan.ip}}</th>
                          <th class="center hidden-phone">{{fan.fanstatus1}}</th>
                          <th class="center hidden-phone">{{fan.fanstatus2}}</th>
                          <th class="center hidden-phone">{{fan.fanstatus3}}</th>
                          <th class="center hidden-phone">{{fan.fanstatus4}}</th>
                          <th class="center hidden-phone">{{fan.fanspeed1}}</th>
                          <th class="center hidden-phone">{{fan.fanspeed2}}</th>
                          <th class="center hidden-phone">{{fan.fanspeed3}}</th>
                          <th class="center hidden-phone">{{fan.fanspeed4}}</th>
                          <th class="center hidden-phone">{{fan.created}}</th>
                        </tr>
                      {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-12">
              <h3><i class="fa fa-angle-right"></i>  PSU Status</h3>
              <div class="row mt">
                  <div class="content-panel">
                    <div class="adv-table">
                      <table cellpadding="0" cellspacing="0" border="5" class="display table table-bordered" id="hidden-table-asterisk">
                          <thead>
                            <tr>
                              <th>ip</th>
                              <th class="hidden-phone">PSU 1 Status</th>
                              <th class="hidden-phone">PSU 2 Status</th>
                              <th class="hidden-phone">PSU 1 Current Type</th>
                              <th class="hidden-phone">PSU 2 Current Type</th>
                              <th class="hidden-phone">PSU 1 Temp Low</th>
                              <th class="hidden-phone">PSU 1 Temp Current</th>
                              <th class="hidden-phone">PSU 1 Temp Hight</th>
                              <th class="hidden-phone">PSU 2 Temp Low</th>
                              <th class="hidden-phone">PSU 2 Temp Current</th>
                              <th class="hidden-phone">PSU 2 Temp Hight</th>
                              <th class="hidden-phone">DATE</th>
                            </tr>
                          </thead>
                          <tbody>
                          {% for psu in f5psu  %}
                            <tr>
                              <th>{{psu.ip}}</th>
                              <th class="center hidden-phone">{{psu.psustatus1}}</th>
                              <th class="center hidden-phone">{{psu.psustatus2}}</th>
                              <th class="center hidden-phone">{{psu.psu1currenttype}}</th>
                              <th class="center hidden-phone">{{psu.psu2currenttype}}</th>
                              <th class="center hidden-phone">{{psu.temppsu1low}}</th>
                              <th class="center hidden-phone">{{psu.temppsu1current}}</th>
                              <th class="center hidden-phone">{{psu.temppsu1hight}}</th>
                              <th class="center hidden-phone">{{psu.temppsu2low}}</th>
                              <th class="center hidden-phone">{{psu.temppsu2current}}</th>
                              <th class="center hidden-phone">{{psu.temppsu2hight}}</th>
                              <th class="center hidden-phone">{{psu.created}}</th>
                            </tr>
                          {% endfor %}
                          </tbody>
                        </table>
                      </div>
                    </div>
                </div>
              </div>
            </div>

            <div class="col-lg-12">
              <h3><i class="fa fa-angle-right"></i>  Mainboard And CPU Status</h3>
              <div class="row mt">
                <div class="content-panel">
                  <div class="adv-table">
                    <table cellpadding="0" cellspacing="0" border="5" class="display table table-bordered" id="hidden-table-httpd">
                      <thead>
                        <tr>
                          <th>ip</th>
                          <th class="hidden-phone">MB Inlet Temps Low</th>
                          <th class="hidden-phone">MB Inlet Temps Current</th>
                          <th class="hidden-phone">MB Inlet Temps Hight</th>
                          <th class="hidden-phone">MB Outlet Temps Low</th>
                          <th class="hidden-phone">MB Outlet Temps Current</th>
                          <th class="hidden-phone">MB Outlet Temps Hight</th>
                          <th class="hidden-phone">MB Temps Low</th>
                          <th class="hidden-phone">MB Temps Current</th>
                          <th class="hidden-phone">MB Temps Hight</th>
                          <th class="hidden-phone">CPU Temps</th>
                          <th class="hidden-phone">CPU Fan Speed</th>
                          <th class="hidden-phone">DATE</th>
                        </tr>
                      </thead>
                      <tbody>
                      {% for mb in f5mb  %}
                        <tr>
                          <th>{{mb.ip}}</th>
                          <th class="center hidden-phone">{{mb.tempinletlow}}</th>
                          <th class="center hidden-phone">{{mb.tempinletcurrent}}</th>
                          <th class="center hidden-phone">{{mb.tempinlethight}}</th>
                          <th class="center hidden-phone">{{mb.tempoutletlow}}</th>
                          <th class="center hidden-phone">{{mb.tempoutletcurrent}}</th>
                          <th class="center hidden-phone">{{mb.tempoutlethight}}</th>
                          <th class="center hidden-phone">{{mb.tempMBlow}}</th>
                          <th class="center hidden-phone">{{mb.tempMBcurrent}}</th>
                          <th class="center hidden-phone">{{mb.tempMBhight}}</th>
                          <th class="center hidden-phone">{{mb.tempcpu}}</th>
                          <th class="center hidden-phone">{{mb.cpufanspeed}}</th>
                          <th class="center hidden-phone">{{mb.created}}</th>
                        </tr>
                      {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>

      </section>     
    </section>
    </section>
  <!-- js placed at the end of the document so the pages load faster -->
  <script src="{% static 'lib/jquery/jquery.min.js' %}"></script>
  
  <script type="text/javascript" language="javascript" src="{% static 'lib/advanced-datatable/js/jquery.js' %}"></script>
  <script src="{% static 'lib/bootstrap/js/bootstrap.min.js' %}"></script>
  <script class="include" type="text/javascript" src="{% static 'lib/jquery.dcjqaccordion.2.7.js' %}"></script>
  <script src="{% static 'lib/jquery.scrollTo.min.js' %}"></script>
  <script src="{% static 'lib/jquery.nicescroll.js' %}" type="text/javascript"></script>
  <script type="text/javascript" language="javascript" src="{% static 'lib/advanced-datatable/js/jquery.dataTables.js' %}"></script>
  <script type="text/javascript" src="{% static 'lib/advanced-datatable/js/DT_bootstrap.js' %}"></script>
  <!--common script for all pages-->
  <script src="{% static 'lib/common-scripts.js' %}"></script>
  <!--script for this page-->
  <script type="text/javascript">

    $(document).ready(function() {
      /*
       * Insert a 'details' column to the table
       */
      var nCloneTh = document.createElement('th');
      var nCloneTd = document.createElement('td');
      nCloneTd.innerHTML = '<img src="{% static "lib/advanced-datatable/images/details_open.png" %}">';
      nCloneTd.className = "center";

      $('#hidden-table-disk thead tr').each(function() {
        this.insertBefore(nCloneTh, this.childNodes[-1]);
      });

      $('#hidden-table-disk tbody tr').each(function() {
        this.insertBefore(nCloneTd.cloneNode(true), this.childNodes[-1]);
      });

      var oTable = $('#hidden-table-disk').dataTable({
        "aoColumnDefs": [{
          "bSortable": false,
          "aTargets": [0]
        }],
        "aaSorting": [
          [4, 'desc']
        ]
      });
    });
  </script>

  <script type="text/javascript">

    $(document).ready(function() {
      /*
       * Insert a 'details' column to the table
       */
      var nCloneTh = document.createElement('th');
      var nCloneTd = document.createElement('td');
      nCloneTd.innerHTML = '<img src="{% static "lib/advanced-datatable/images/details_open.png" %}">';
      nCloneTd.className = "center";

      $('#hidden-table-asterisk thead tr').each(function() {
        this.insertBefore(nCloneTh, this.childNodes[-1]);
      });

      $('#hidden-table-asterisk tbody tr').each(function() {
        this.insertBefore(nCloneTd.cloneNode(true), this.childNodes[-1]);
      });

      var oTable = $('#hidden-table-asterisk').dataTable({
        "aoColumnDefs": [{
          "bSortable": false,
          "aTargets": [0]
        }],
        "aaSorting": [
          [4, 'desc']
        ]
      });
    });
  </script>

  <script type="text/javascript">

    $(document).ready(function() {
      /*
       * Insert a 'details' column to the table
       */
      var nCloneTh = document.createElement('th');
      var nCloneTd = document.createElement('td');
      nCloneTd.innerHTML = '<img src="{% static "lib/advanced-datatable/images/details_open.png" %}">';
      nCloneTd.className = "center";

      $('#hidden-table-httpd thead tr').each(function() {
        this.insertBefore(nCloneTh, this.childNodes[-1]);
      });

      $('#hidden-table-httpd tbody tr').each(function() {
        this.insertBefore(nCloneTd.cloneNode(true), this.childNodes[-1]);
      });

      var oTable = $('#hidden-table-httpd').dataTable({
        "aoColumnDefs": [{
          "bSortable": false,
          "aTargets": [0]
        }],
        "aaSorting": [
          [4, 'desc']
        ]
      });
    });
  </script>
  
</body>
</html>
