.centerR{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    width: 60%;
    height: 50%;
    }
.pRight{
    float: right;
    padding: 10px;
    }
.pLeft{
    float: left;
    padding: 10px;
    }
.progress {
      width: 120px;
      height: 120px;
      line-height: 120px;
      background: none;
      margin: 0 auto;
      box-shadow: none;
      position: relative;
    }
.progress:after {
      content: "";
      width: 100%;
      height: 100%;
      border-radius: 50%;
      border: 7px solid #eee;
      position: absolute;
      top: 0;
      left: 0;
    }
.progress > span {
      width: 50%;
      height: 100%;
      overflow: hidden;
      position: absolute;
      top: 0;
      z-index: 1;
    }
.progress .progress-left {
      left: 0;
    }
.progress .progress-bar {
      width: 100%;
      height: 100%;
      background: none;
      border-width: 7px;
      border-style: solid;
      position: absolute;
      top: 0;
      border-color: #ffb43e;
    }
.progress .progress-left .progress-bar {
      left: 100%;
      border-top-right-radius: 60px;
      border-bottom-right-radius: 60px;
      border-left: 0;
      -webkit-transform-origin: center left;
      transform-origin: center left;
    }
.progress .progress-right {
      right: 0;
    }
.progress .progress-right .progress-bar {
      left: -100%;
      border-top-left-radius: 60px;
      border-bottom-left-radius: 60px;
      border-right: 0;
      -webkit-transform-origin: center right;
      transform-origin: center right;
    }
.progress .progress-value {
      display: flex;
      border-radius: 50%;
      font-size: 30px;
      text-align: center;
      line-height: 20px;
      align-items: center;
      justify-content: center;
      height: 100%;
      font-weight: 300;
    }
.progress .progress-value div {
      margin-top: 10px;
    }
.progress .progress-value span {
      font-size: 12px;
      text-transform: uppercase;
    }
    
.progress {
    margin-bottom: 1em;
}

@for $i from 1 through 100 {
    .progress[data-percentage="#{$i}"] .progress-right .progress-bar {
        animation: loading-#{$i} 1.5s linear forwards;
    }
    .progress[data-percentage="#{$i}"] .progress-left .progress-bar {
        animation: 0;
    }  
}



@for $i from 1 through 100  {
    @keyframes loading-#{$i} {
      0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
      }
      100% {
        -webkit-transform: rotate($i * 3.6 deg);
        transform: rotate($i * 3.6deg);
      }
    }
} 
      