
{% load static %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Dashboard">
    <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
    <title>Voice Home</title>
    <link rel="stylesheet" href="{% static 'lib/bootstrap/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'lib/font-awesome/css/font-awesome.css' %}" />
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/style-responsive.css' %}" rel="stylesheet">
    <link href="{% static 'css/circle9.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/normalize.min.css' %}" rel="stylesheet">
    {% comment %} <link href="{% static 'js/normalize.min.css' %}" rel="stylesheet"> {% endcomment %}
    <link href="{% static 'img/gosoft.png' %}" rel="icon">
    <link href="{% static 'img/gosoft.png' %}" rel="apple-touch-icon">
    
  </head>
<body>
  <section id="container">
    {% comment %} <-- All Navigation Bars  --> {% endcomment %}
    <header class="header black-bg">
      <div class="sidebar-toggle-box">
        <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
      </div>
      <!--logo start-->
      <a href="" class="logo"><b>GO<span>SOFT</span></b></a>
      <!--logo end-->
      <div class="nav notify-row" id="top_menu">
        <!--  notification start -->
        <ul class="nav top-menu">
          {% comment %} notification of disk capacity status {% endcomment %}
          <li id="header_notification_bar" class="dropdown">
            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
              <i class="fa fa-hdd-o"></i>
              <span class="badge bg-warning">!</span>
            </a>
            
            <ul class="dropdown-menu extended notification">
              <div class="notify-arrow notify-arrow-yellow"></div>
              <li>
                <p class="yellow">You have new notifications</p>
              </li>
              {% for diskcap in voice_disk_cap_for_IP1  %}
              {% if diskcap.status == 'Alert' %}
              <li>
                <a href="#">
                  <span><i class="fa fa-exclamation-circle " style="color:yellow;"></i></span>
                   {{diskcap.ip}}.
                  <span class="small italic"> Alert</span>
                  </a>
              </li>
              {% elif  diskcap.status == 'Failed' %}
              <li>
                <a href="#">
                  <span><i class="fa fa-times-circle" style="color:red;"></i></span>
                   {{diskcap.ip}}.
                  <span class="small italic"> Failed</span>
                  </a>
              </li>
              {% else %}
              {% endif %} 
              {% endfor %}
            </ul>
            
          </li>
          {% comment %} //notification of disk capacity status {% endcomment %}

          {% comment %} notification of asterisk status {% endcomment %}
          <li id="header_notification_bar" class="dropdown">
            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
              <i class="fa fa-server"></i>
              <span class="badge bg-warning">!</span>
            </a>
            
            <ul class="dropdown-menu extended notification">
                <div class="notify-arrow notify-arrow-yellow"></div>
                    <li>
                        <p class="yellow">You have new notifications</p>
                    </li>
                    {% for asterisk in voice_asterisk_server  %}
                        {% if asterisk.status == 'inactive (dead)' or asterisk.status == 'unable to connect host'  %}
                            {% if asterisk.status == 'inactive (dead)' %}
                                <li>
                                    <a href="#">
                                    <span><i class="fa fa-exclamation-circle " style="color:yellow;"></i></span>
                                    {{asterisk.ip}}.
                                    <span class="small italic"> Alert</span>
                                    </a>
                                </li>
                            {% elif  asterisk.status == 'unable to connect host' %}
                                <li>
                                    <a href="#">
                                    <span><i class="fa fa-times-circle" style="color:red;"></i></span>
                                    {{asterisk.ip}}.
                                    <span class="small italic"> Failed</span>
                                    </a>
                                </li>
                            {% else %}
                            {% endif %} 
                        {% else %} 
                        {% endif %}
                    {% endfor %}
            </ul>
          </li>
          {% comment %} //notification of asterisk status {% endcomment %}

          {% comment %} notification of httpd status {% endcomment %}
          <li id="header_notification_bar" class="dropdown">
            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
              <i class="fa fa-globe"></i>
              <span class="badge bg-warning">!</span>
            </a>
            
            <ul class="dropdown-menu extended notification">
              <div class="notify-arrow notify-arrow-yellow"></div>
              <li>
                <p class="yellow">You have new notifications</p>
              </li>
              {% for httpd in voice_httpd_server  %}
              {% if httpd.status == 'inactive (dead)' %}
              <li>
                <a href="#">
                  <span><i class="fa fa-exclamation-circle " style="color:yellow;"></i></span>
                   {{httpd.ip}}.
                  <span class="small italic"> Alert</span>
                  </a>
              </li>
              {% elif  httpd.status == 'unable to connect host' %}
              <li>
                <a href="#">
                  <span><i class="fa fa-times-circle" style="color:red;"></i></span>
                   {{httpd.ip}}.
                  <span class="small italic"> Failed</span>
                  </a>
              </li>
              {% else %}
              {% endif %} 
              {% endfor %}
            </ul>
            
          </li>
          {% comment %} //notification of httpd status {% endcomment %}
          <!-- notification dropdown end -->
        </ul>
        <!--  notification end -->
      </div>
      <div class="top-menu">
        <ul class="nav pull-right top-menu">
          <li><a class="logout" href="#">Logout</a></li>
        </ul>
      </div>
    </header>
    {% comment %} <-- All Navigation Bars  --> {% endcomment %}
    
    {% comment %} Side panel  {% endcomment %}
    <aside>
      <div id="sidebar" class="nav-collapse">
        <ul class="sidebar-menu" id="nav-accordion">
          <p class="centered"><a href="#"><img src="{% static 'img/user.png' %}" class="img-circle" width="80"></a></p>
          <h4 class="centered">เค๊าเอง</h4>
          <li class="mt">
            <a href="../">
              <i class="fa fa-dashboard"></i>
              <span>Dashboard</span>
            </a>
          </li>
          <br>
          <li class="sub-menu">
            <a href="javascript:;">
              <i class="fa fa-tty"></i>
              <span>VOICE</span>
            </a>
            <ul class="sub">
              <li><a href="../voicemanual">Manual CheckList</a></li>
              <li><a href="../voiceAuto/">voice service status </a></li>
              <li><a href="../voicedataTable/">ดูข้อมูลย้อนหลัง</a></li>
              {% comment %} <li><a href="#">Trunk Status Cisco CUCM</a></li> {% endcomment %}
            </ul>
          </li>
          {% comment %} <li class="mt">
            <a href="#">
              <i class="fa fa-credit-card-alt"></i>
              <span>AP Radio Reset</span>
            </a>
          </li> {% endcomment %}
          <li class="sub-menu">
            <a href="javascript:;">
              <i class="fa fa-rss"></i>
              <span>AP Radio Reset</span>
              </a>
            <ul class="sub">
              {% comment %} <li><a href="../wireless">WIIRELESS ร้าน</a></li> {% endcomment %}
              <li><a href="../controllerhealth">WIIRELESS Controller</a></li>
              <li><a href="../controllerAP">Controller AP Down Count</a></li>
            </ul>
          </li>
          <li class="mt">
            <a href="#">
              <i class="fa fa-server"></i>
              <span>Router And Switch</span>
            </a>
          </li>
          <br>
          <li class="sub-menu">
            <a href="javascript:;">
              <i class="fa fa-rss"></i>
              <span>WirelessOffice & Warehouse</span>
              </a>
            <ul class="sub">
              <li><a href="../wireless">WIIRELESS ร้าน</a></li>
              
              <li><a href="#">Data Tables</a></li>
            </ul>
          </li>
          <br>
          <li class="sub-menu">
            <a href="javascript:;">
              <i class="fa fa-exchange"></i>
              <span>F5 Load Balancer</span>
              </a>
            <ul class="sub">
              <li><a href="../f5/">F5 Data</a></li>
            </ul>
          </li>
          
          
          <li class="sub-menu">
            <a href="javascript:;">
              <i class="fa fa-exchange"></i>
              <span>SDWAN</span>
              </a>
            <ul class="sub">
              <li><a href="../sdwan/">Overview</a></li>
            </ul>
          </li>
          
        </ul>
      </div>
    </aside>
    {% comment %} Side panel  {% endcomment %}

    {% comment %} section ส่วนข้อมูลหลักที่นำมาแสดง {% endcomment %}
    <section id="main-content">
      <section class="wrapper">
        <section class="wrapper site-min-height">
          <div class="row mt">
              <div style="text-align:center;">
                <form method="POST">
                  {% csrf_token %} 
                    <button class="button-clone" type="submit">check status</button>
                    
                </form>
                
              </div>
              {% comment %} section Disk capacity {% endcomment %}
              <div class="col-md-9 main-chart">
                  <div class="row">
                      <span>  <h3><i class="fa fa-angle-right"></i> DISK CAPACITY</h3></span>
                      {% comment %} DISK CAPACITY ON SERVER:{% endcomment %}
                      {% for diskcap in voice_disk_cap_for_IP1 %}
                      {% if  diskcap.status == 'Pass' %}
                      <div class="col-md-4 col-sm-4 mb">
                          <div class="grey-panel pn donut-chart">
                              <div class="grey-header">
                                  <h5>{{ diskcap.hostname}}: {{diskcap.ip}} </h5>
                              </div>
                              <div class="centerR">
                                  <div class="col-sm-3 col-md-2">
                                  <div class="progress" data-percentage="{{ diskcap.diskused }}">
                                      <span class="progress-left">
                                      <span class="progress-bar"></span>
                                      </span>
                                      <span class="progress-right">
                                      <span class="progress-bar"></span>
                                      </span>
                                      <div class="progress-value">
                                      <div>
                                          <p>{{ diskcap.diskused }}%</p>
                                          <span>DISK USAGE</span>
                                          <br> 
                                      </div>
                                      </div>
                                  </div>
                                  </div>
                              </div>
                              <footer>
                              <div class="pull-center">
                                  <h4><i class="fa fa-check-circle" style="color:green;" ></i> STATUS:  {{diskcap.status}}</h4>
                              </div>                               
                          </footer>
                          </div>
                      </div>
                      {% elif diskcap.status == 'Alert' %}
                      <div class="col-md-4 col-sm-4 mb">
                          <div class="grey-panel pn donut-chart">
                          <div class="grey-header">
                              <h5>{{ diskcap.hostname}}: {{diskcap.ip}} </h5>
                          </div>
                          <div class="centerR">
                              <div class="col-sm-3 col-md-2">
                              <div class="progress" data-percentage="{{ diskcap.diskused }}">
                                  <span class="progress-left" style="color:yellow;">
                                  <span class="progress-bar" style="color:yellow;"></span>
                                  </span>
                                  <span class="progress-right" style="color:yellow;">
                                  <span class="progress-bar" style="color:yellow;"></span>
                                  </span>
                                  <div class="progress-value">
                                  <div>
                                      <p>{{ diskcap.diskused }}%</p>
                                      <span>DISK USAGE</span>
                                      <br> 
                                  </div>
                                  </div>
                              </div>
                              </div>
                          </div>
                          <footer>
                              <div class="pull-center">
                                  <h4><i class="fa fa-exclamation-circle " style="color:yellow;" ></i> STATUS:  {{diskcap.status}}</h4>
                              </div>                               
                          </footer>
                          </div>
                      </div>
                      {% else %}
                      <div class="col-md-4 col-sm-4 mb">
                          <div class="grey-panel pn donut-chart">
                          <div class="grey-header">
                              <h5>{{ diskcap.hostname}}: {{diskcap.ip}} </h5>
                          </div>
                          <div class="centerR">
                              <div class="col-sm-3 col-md-2">
                                  <div class="progress" data-percentage="{{ diskcap.diskused }}">
                                      <span class="progress-left" style="color:yellow;">
                                      <span class="progress-bar" style="color:yellow;"></span>
                                      </span>
                                      <span class="progress-right" style="color:yellow;">
                                      <span class="progress-bar" style="color:yellow;"></span>
                                      </span>
                                      <div class="progress-value">
                                      <div>
                                          <p>{{ diskcap.diskused }}%</p>
                                          <span>DISK USAGE</span>
                                          <br> 
                                      </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <footer>
                              <div class="pull-center">
                                  <h4><i class="fa fa-times-circle" style="color:red;" ></i> STATUS:  {{diskcap.status}}</h4>
                              </div>                               
                          </footer>
                          </div>
                      </div>
                      {% endif %}
                      {% endfor %}
                  </div>
                  {% comment %} DISK CAPACITY ON SERVER:{% endcomment %}
              </div>
              {% comment %} //section Disk capacity  {% endcomment %}
              
              {% comment %} section asterisk server {% endcomment %}
              <div class="col-md-9 main-chart">
                  <div class="row">
                      <span>  <h3><i class="fa fa-angle-right"></i>  ASTERISK SERVER STATUS</h3></span>
                      {% comment %} ASTERISK SERVER STATUS:{% endcomment %}
                      {% for asterisk in voice_asterisk_server %}
                      {% if  asterisk.status == 'active (running)' %}
                      <div class="col-md-4 col-sm-4 mb">
                          <div class="grey-panel pn donut-chart">
                              <div class="grey-header">
                                  <h5>{{asterisk.hostname}}: {{asterisk.ip}} </h5>
                              </div>
                              <div class="centerR">
                                  <div class="col-md-4 col-md-3 pull-center">
                                      <div class="col-md-3 pull-center">
                                          <i class="fa fa-check-circle" style="color:green;font-size:125px;"></i>
                                      </div>
                                  </div>
                              </div>
                              <footer>
                                  <div class="pull-center">
                                      <h5><i class="fa fa-server"></i> STATUS:  {{asterisk.status}}</h5>
                                      <h5> UP TIMES:  {{asterisk.uptime}}</h5>
                                  </div>                               
                              </footer>
                          </div>
                      </div>
                      {% elif asterisk.status == 'inactive' %}
                      <div class="col-md-4 col-sm-4 mb">
                          <div class="grey-panel pn donut-chart">
                              <div class="grey-header">
                                  <h5>{{asterisk.hostname}}: {{asterisk.ip}} </h5>
                              </div>
                              <div class="centerR">
                                  <div class="col-md-4 col-md-3 pull-center">
                                      <div class="col-md-3 pull-center">
                                          <i class="fa fa-exclamation-circle " style="color:yellow;font-size:125px;"></i>
                                      </div>
                                  </div>
                              </div>
                              <footer>
                                  <div class="pull-center">
                                      <h5><i class="fa fa-server"></i> STATUS:  {{asterisk.status}}</h5>
                                      <h5> UP TIMES:  {{asterisk.uptime}}</h5>
                                  </div>                               
                              </footer>
                          </div>
                      </div>
                      {% else %}
                      <div class="col-md-4 col-sm-4 mb">
                          <div class="grey-panel pn donut-chart">
                              <div class="grey-header">
                                  <h5>{{asterisk.hostname}}: {{asterisk.ip}} </h5>
                              </div>
                              <div class="centerR">
                                  <div class="col-md-4 col-md-3 pull-center">
                                      <div class="col-md-3 pull-center">
                                          <i class="fa fa-times-circle" style="color:red;font-size:125px;"></i>
                                      </div>
                                  </div>
                              </div>
                              <footer>
                                  <div class="pull-center">
                                      <h5><i class="fa fa-server"></i> STATUS:  {{asterisk.status}}</h5>
                                      <h5> UP TIMES:  {{asterisk.uptime}}</h5>
                                  </div>                               
                              </footer>
                          </div>
                      </div>
                      {% endif %}
                      {% endfor %}
                  </div>
                  {% comment %} Asterisk Server Status {% endcomment %}
              </div>
              {% comment %} //section asterisk server {% endcomment %}

              {% comment %} section httpd server {% endcomment %}
              <div class="col-md-9 main-chart">
                  <div class="row">
                      <span>  <h3><i class="fa fa-angle-right"></i>  HTTPD SERVER STATUS</h3></span>
                      {% comment %} ASTERISK SERVER STATUS:{% endcomment %}
                      {% for httpd in voice_httpd_server %}
                      {% if  httpd.status == 'active (running)' %}
                      <div class="col-md-4 col-sm-4 mb">
                          <div class="grey-panel pn donut-chart">
                              <div class="grey-header">
                                  <h5>{{httpd.hostname}}: {{httpd.ip}} </h5>
                              </div>
                              <div class="centerR">
                                  <div class="col-md-4 col-md-3 pull-center">
                                      <div class="col-md-3 pull-center">
                                          <i class="fa fa-check-circle" style="color:green;font-size:125px;"></i>
                                      </div>
                                  </div>
                              </div>
                              <footer>
                                  <div class="pull-center">
                                      <h5><i class="fa fa-globe"></i> STATUS:  {{httpd.status}}</h5>
                                      <h5> UP TIMES:  {{httpd.uptime}}</h5>
                                  </div>                               
                              </footer>
                          </div>
                      </div>
                      {% elif httpd.status == 'inactive' %}
                      <div class="col-md-4 col-sm-4 mb">
                          <div class="grey-panel pn donut-chart">
                              <div class="grey-header">
                                  <h5>{{httpd.hostname}}: {{httpd.ip}} </h5>
                              </div>
                              <div class="centerR">
                                  <div class="col-md-4 col-md-3 pull-center">
                                      <div class="col-md-3 pull-center">
                                          <i class="fa fa-exclamation-circle " style="color:yellow;font-size:125px;"></i>
                                      </div>
                                  </div>
                              </div>
                              <footer>
                                  <div class="pull-center">
                                      <h5><i class="fa fa-globe"></i> STATUS:  {{httpd.status}}</h5>
                                      <h5> UP TIMES:  {{httpd.uptime}}</h5>
                                  </div>                               
                              </footer>
                          </div>
                      </div>
                      {% else %}
                      <div class="col-md-4 col-sm-4 mb">
                          <div class="grey-panel pn donut-chart">
                              <div class="grey-header">
                                  <h5>{{httpd.hostname}}: {{httpd.ip}} </h5>
                              </div>
                              <div class="centerR">
                                  <div class="col-md-4 col-md-3 pull-center">
                                      <div class="col-md-3 pull-center">
                                          <i class="fa fa-times-circle" style="color:red;font-size:125px;"></i>
                                      </div>
                                  </div>
                              </div>
                              <footer>
                                  <div class="pull-center">
                                      <h5><i class="fa fa-globe"></i> STATUS:  {{httpd.status}}</h5>
                                      <h5> UP TIMES:  {{httpd.uptime}}</h5>
                                  </div>                               
                              </footer>
                          </div>
                      </div>
                      {% endif %}
                      {% endfor %}
                  </div>
                  {% comment %} Asterisk Server Status {% endcomment %}
              </div>
              {% comment %} //section httpd server {% endcomment %}
          </div>
        </section>
      </section>
    </section>
    {% comment %} section ส่วนข้อมูลหลักที่นำมาแสดง {% endcomment %}
  </section> 
  {% comment %} section ส่วนข้อมูลหลักที่นำมาแสดง {% endcomment %}

  <script src="{% static 'lib/jquery/jquery.min.js' %}"></script>

  <script src="{% static 'lib/bootstrap/js/bootstrap.min.js' %}"></script>
  <script class="include" type="text/javascript" src="{% static 'lib/jquery.dcjqaccordion.2.7.js' %}"></script>
  <script src="{% static 'lib/jquery.scrollTo.min.js' %}"></script>
  <script src="{% static 'lib/jquery.nicescroll.js' %}" type="text/javascript"></script>
  <script src="{% static 'lib/jquery.sparkline.js' %}"></script>
  {% comment %} <script src="{% static 'js/jquery.min.js' %}"></script> {% endcomment %}
  <!--common script for all pages-->
  <script src="{% static 'lib/common-scripts.js' %}"></script>
  <script type="text/javascript" src="{% static 'lib/gritter/js/jquery.gritter.js' %}"></script>
  <script type="text/javascript" src="{% static 'lib/gritter-conf.js' %}"></script>
  <!--script for this page-->
  <script src="{% static 'lib/sparkline-chart.js' %}"></script>
  <script src="{% static 'lib/zabuto_calendar.js' %}"></script>
  <script type="text/javascript">
    $(document).ready(function() {
      var unique_id = $.gritter.add({
        // (string | mandatory) the heading of the notification
        title: 'Welcome to Dashio!',
        // (string | mandatory) the text inside the notification
        //text: 'Hover me to enable the Close Button. You can hide the left sidebar clicking on the button next to the logo. Developed by <a href="http://alvarez.is" target="_blank" style="color:#4ECDC4">Alvarez.is</a>.',
        // (string | optional) the image to display on the left
        image: 'img/ui-sam.jpg',
        // (bool | optional) if you want it to fade out on its own or just sit there
        sticky: false,
        // (int | optional) the time you want it to be alive for before fading out
        time: 1,
        // (string | optional) the class name you want to apply to that specific message
        class_name: 'my-sticky-class'
      });

      return false;
    });
  </script>
  <script type="application/javascript">
    $(document).ready(function() {
      $("#date-popover").popover({
        html: true,
        trigger: "manual"
      });
      $("#date-popover").hide();
      $("#date-popover").click(function(e) {
        $(this).hide();
      });

      $("#my-calendar").zabuto_calendar({
        action: function() {
          return myDateFunction(this.id, false);
        },
        action_nav: function() {
          return myNavFunction(this.id);
        },
        ajax: {
          url: "show_data.php?action=1",
          modal: true
        },
        legend: [{
            type: "text",
            label: "Special event",
            badge: "00"
          },
          {
            type: "block",
            label: "Regular event",
          }
        ]
      });
    });

    function myNavFunction(id) {
      $("#date-popover").hide();
      var nav = $("#" + id).data("navigation");
      var to = $("#" + id).data("to");
      console.log('nav ' + nav + ' to: ' + to.month + '/' + to.year);
    }
  </script>
  <script>
    n =  new Date();
    y = n.getFullYear();
    m = n.getMonth() + 1;
    d = n.getDate();
    document.getElementById("date").innerHTML = m + "/" + d + "/" + y;
  </script>
  
</body>
</html>