{% comment %} {% extends 'base.html' %} {% endcomment %}
{% load static %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" >
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Dashboard">
    <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
    {% comment %} <link rel="icon" type="image/png" href="../assets/img/favicon.ico"> {% endcomment %}
    <title>Voice Home</title>
    {% comment %} <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' /> {% endcomment %}
    <link rel="stylesheet" href="{% static 'lib/bootstrap/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'lib/font-awesome/css/font-awesome.css' %}" />
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/style-responsive.css' %}" rel="stylesheet">
    <link href="{% static 'css/tablefordisk.min.css' %}" rel="stylesheet" id="bootstrap-css">
    <link href="{% static 'css/circle9.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/normalize.min.css' %}" rel="stylesheet">
    {% comment %} <link href="{% static 'css/graphshoz.css' %}" rel="stylesheet"> {% endcomment %}
    <link href="{% static 'css/hozBarChart.css' %}" rel="stylesheet">
    <link href="{% static 'css/mychart.css' %}" rel="stylesheet">
    {% comment %} <link href="{% static 'js/normalize.min.css' %}" rel="stylesheet"> {% endcomment %}
    <link href="{% static 'img/gosoft.png' %}" rel="icon">
    <link href="{% static 'img/gosoft.png' %}" rel="apple-touch-icon">
    <link rel="stylesheet" type="text/css" href="{% static 'css/datatable_sdwan.css' %}">
    <script src="{% static 'js/datatable_sdwan.js' %}" type="text/javascript"></script>
    {% comment %} <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> {% endcomment %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/style-responsive.css' %}" rel="stylesheet">
    <link href="{% static 'css/circle9.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/normalize.min.css' %}" rel="stylesheet">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <link href="{% static 'css/tabvoice.css' %}" rel="stylesheet">

    <style>
      * {
        box-sizing: border-box;
      }

      /* Create three equal columns that floats next to each other */
      .column {
        float: left;
        width: 25%;
        padding: 10px;
        height: 300px; /* Should be removed. Only for demonstration */
      }

      /* Clear floats after the columns */
      .row:after {
        content: "";
        display: table;
        clear: both;
      }
    </style>

    <style>
      /*the container must be positioned relative:*/
      .custom-select {
        position: relative;
        font-family: Arial;
      }

      .custom-select select {
        display: none; /*hide original SELECT element:*/
      }

      .select-selected {
        background-color: DodgerBlue;
      }

      /*style the arrow inside the select element:*/
      .select-selected:after {
        position: absolute;
        content: "";
        top: 14px;
        right: 10px;
        width: 0;
        height: 0;
        border: 6px solid transparent;
        border-color: #fff transparent transparent transparent;
      }

      /*point the arrow upwards when the select box is open (active):*/
      .select-selected.select-arrow-active:after {
        border-color: transparent transparent #fff transparent;
        top: 7px;
      }

      /*style the items (options), including the selected item:*/
      .select-items div,.select-selected {
        color: #ffffff;
        padding: 8px 16px;
        border: 1px solid transparent;
        border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
        cursor: pointer;
        user-select: none;
      }

      /*style items (options):*/
      .select-items {
        position: absolute;
        background-color: DodgerBlue;
        top: 100%;
        left: 0;
        right: 0;
        z-index: 99;
      }

      /*hide the items when the select box is closed:*/
      .select-hide {
        display: none;
      }

      .select-items div:hover, .same-as-selected {
        background-color: rgba(0, 0, 0, 0.1);
      }
    </style>

    <style>
      .button {
        background-color: #4CAF50; /* Green */
        border: none;
        color: white;
        padding: 10px 40px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 25px;
      }
    </style>

  </head>
  <body>
    <section id="container">
      {% comment %} <-- All Navigation Bars  --> {% endcomment %}
      <header class="header black-bg">
        <div class="sidebar-toggle-box">
          <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
        </div>
        <!--logo start-->
        <a href="" class="logo"><b>GO<span>SOFT</span></b></a>
        <!--logo end-->
        <div class="nav notify-row" id="top_menu">
          <!--  notification start -->
          <ul class="nav top-menu">
            <!-- settings start -->
            
            <!-- settings end -->
            <!-- inbox dropdown start-->
            
            <!-- inbox dropdown end -->
            <!-- notification dropdown start-->
            <li id="header_notification_bar" class="dropdown">
              <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                <i class="fa fa-bell-o"></i>
                <span class="badge bg-warning">!</span>
              </a>
              <ul class="dropdown-menu extended notification">
                <div class="notify-arrow notify-arrow-yellow"></div>
                <li>
                  <p class="yellow">You have new notifications</p>
                </li>
                <li>
                  <a href="#">
                    <span class="label label-danger"><i class="fa fa-bolt"></i></span>
                    Server Overloaded.
                    <span class="small italic">4 mins.</span>
                    </a>
                </li>
                
                <li>
                  <a href="#">See all notifications</a>
                </li>
              </ul>
            </li>
            <!-- notification dropdown end -->
          </ul>
          <!--  notification end -->
        </div>
        <div class="top-menu">
          <ul class="nav pull-right top-menu">
            <li><a class="logout" href="#">Logout</a></li>
          </ul>
        </div>
      </header>
      {% comment %} <-- All Navigation Bars  --> {% endcomment %}
      
      {% comment %} Side panel  {% endcomment %}
      <aside>
        <div id="sidebar" class="nav-collapse">
          <ul class="sidebar-menu" id="nav-accordion">
            <p class="centered"><a href="#"><img src="{% static 'img/user.png' %}" class="img-circle" width="80"></a></p>
            <h4 class="centered">เค๊าเอง</h4>
            <li class="mt">
              <a href="../">
                <i class="fa fa-dashboard"></i>
                <span>Dashboard</span>
              </a>
            </li>
            <br>
            <li class="sub-menu">
              <a href="javascript:;">
                <i class="fa fa-tty"></i>
                <span>VOICE</span>
              </a>
              <ul class="sub">
                <li><a href="../voicemanual">Manual CheckList</a></li>
                <li><a href="../voiceAuto/">voice service status </a></li>
                <li><a href="../voicedataTable/">ดูข้อมูลย้อนหลัง</a></li>
                {% comment %} <li><a href="#">Trunk Status Cisco CUCM</a></li> {% endcomment %}
              </ul>
            </li>
            {% comment %} <li class="mt">
              <a href="#">
                <i class="fa fa-credit-card-alt"></i>
                <span>AP Radio Reset</span>
              </a>
            </li> {% endcomment %}
            <li class="sub-menu">
              <a href="javascript:;">
                <i class="fa fa-rss"></i>
                <span>AP Radio Reset</span>
                </a>
              <ul class="sub">
                {% comment %} <li><a href="../wireless">WIIRELESS ร้าน</a></li> {% endcomment %}
                <li><a href="../controllerhealth">WIIRELESS Controller</a></li>
                <li><a href="../controllerAP">Controller AP Down Count</a></li>
              </ul>
            </li>
            <li class="mt">
              <a href="#">
                <i class="fa fa-server"></i>
                <span>Router And Switch</span>
              </a>
            </li>
            <br>
            <li class="sub-menu">
              <a href="javascript:;">
                <i class="fa fa-rss"></i>
                <span>WirelessOffice & Warehouse</span>
                </a>
              <ul class="sub">
                <li><a href="../wireless">WIIRELESS ร้าน</a></li>
                
                <li><a href="#">Data Tables</a></li>
              </ul>
            </li>
            <br>
            <li class="sub-menu">
              <a href="javascript:;">
                <i class="fa fa-exchange"></i>
                <span>F5 Load Balancer</span>
                </a>
              <ul class="sub">
                <li><a href="../f5/">F5 Data</a></li>
              </ul>
            </li>
            
            
            <li class="sub-menu">
              <a href="javascript:;">
                <i class="fa fa-exchange"></i>
                <span>SDWAN</span>
                </a>
              <ul class="sub">
                <li><a href="../sdwan/">Overview</a></li>
              </ul>
            </li>
            
          </ul>
        </div>
      </aside>
      {% comment %} Side panel  {% endcomment %}

      {% comment %} section ส่วนข้อมูลหลักที่นำมาแสดง {% endcomment %}
      
      <section id="main-content">
        <section class="wrapper">
          <div class="row">
            <div class="col-lg-12">
              <div class="jumbotron">
                <h1>Voice Manual CheckList</h1>
              </div>
        
              <div class="jumbotron">
                <div class="row">
                  <div class="col-lg-12">
                    <div class="jumbotron">
                      <div class="tabs">
                        <form method="POST">
                          {% csrf_token %} 
                          
                          <div class="tab">

                              <input type="checkbox" id="chck1" name="cucmportreg">
                              <label class="tab-label" for="chck1"><b>1.</b> Cisco CUCM port channel register</label>
                              <div class="tab-content">
                              
                                <h3 style="text-align:center;">เลือกสถานะการทำงานของระบบ CUCM </h3>
                                <br>
                                <div align="center">
                                  <h3>Date: <input type="date" name="date1"></h3>
                                </div>
                                <br>
                                <div class="row">
                                  <div class="column">
                                    <div align="center">
                                      <h3>tarcucmpub 10.151.36.61</h3>
                                      <br>
                                      <script type="text/javascript">
                                        $(function () {
                                            $("#ddlModels1A").change(function () {
                                                if ($(this).val() == 'fail') {
                                                    $("#txtOther1A").removeAttr("disabled");
                                                    $("#txtOther1A").focus();
                                                } else {
                                                    $("#txtOther1A").attr("disabled", "disabled");
                                                }
                                            });
                                        });
                                      </script>
                                      <h3>สถานะ: </h3>
                                      <br>
                                      <select class="button" id="ddlModels1A" name="status1A">
                                          <option value="0">Select Status:</option>
                                          <option value="pass">Pass</option>
                                          <option value="fail">Failed</option>
                                          
                                      </select>
                                      <h4>หมายเหตุ: </h4>
                                      <input style="padding: 7px 40px;" type="text" id="txtOther1A" disabled="disabled" name="detail1A" />
                                      <br>
                                    </div>
                                  </div>

                                  <div class="column">
                                    <div align="center">
                                      <h3>tarcucm01 10.151.36.23</h3>
                                      <br>
                                      <script type="text/javascript">
                                        $(function () {
                                            $("#ddlModels1B").change(function () {
                                                if ($(this).val() == "fail") {
                                                    $("#txtOther1B").removeAttr("disabled");
                                                    $("#txtOther1B").focus();
                                                } else {
                                                    $("#txtOther1B").attr("disabled", "disabled");
                                                }
                                            });
                                        });
                                      </script>
                                      <h3>สถานะ: </h3>
                                      <br>
                                      <select class="button" id="ddlModels1B" name="status1B">
                                          <option value="0">Select Status:</option>
                                          <option value="pass">Pass</option>
                                          <option value="fail">Failed</option>
                                          
                                      </select>
                                      <h4>หมายเหตุ: </h4>
                                      <input style="padding: 7px 40px;" type="text" id="txtOther1B" disabled="disabled" name="detail1B" />
                                      <br>
                                    </div>

                                  </div>

                                  <div class="column">
                                    <div align="center">
                                      <h3>sbrcucm02  10.182.236.72</h3>
                                      <br>
                                      <script type="text/javascript">
                                        $(function () {
                                            $("#ddlModels1C").change(function () {
                                                if ($(this).val() == 'fail') {
                                                    $("#txtOther1C").removeAttr("disabled");
                                                    $("#txtOther1C").focus();
                                                } else {
                                                    $("#txtOther1C").attr("disabled", "disabled");
                                                }
                                            });
                                        });
                                      </script>
                                      <h3>สถานะ: </h3>
                                      <br>
                                      <select class="button" id="ddlModels1C" name="status1C">
                                          <option value="0">Select Status:</option>
                                          <option value="pass">Pass</option>
                                          <option value="fail">Failed</option>
                                          
                                      </select>
                                      <h4>หมายเหตุ: </h4>
                                      <input style="padding: 7px 40px;" type="text" id="txtOther1C" disabled="disabled" name="detail1C" />
                                      <br>
                                    </div>

                                  </div>

                                  <div class="column">
                                    <div align="center">
                                      <h3>tarcucmjb01 10.182.247.78</h3>
                                      <br>
                                      <script type="text/javascript">
                                        $(function () {
                                            $("#ddlModels1D").change(function () {
                                                if ($(this).val() == 'fail') {
                                                    $("#txtOther1D").removeAttr("disabled");
                                                    $("#txtOther1D").focus();
                                                } else {
                                                    $("#txtOther1D").attr("disabled", "disabled");
                                                }
                                            });
                                        });
                                      </script>
                                      <h3>สถานะ: </h3>
                                      <br>
                                      <select class="button" id="ddlModels1D" name="status1D">
                                          <option value="0">Select Status:</option>
                                          <option value="pass">Pass</option>
                                          <option value="fail">Failed</option>
                                          
                                      </select>
                                      <h4>หมายเหตุ: </h4>
                                      <input style="padding: 7px 40px;" type="text" id="txtOther1D" disabled="disabled" name="detail1D" />
                                      <br>
                                    </div>

                                  </div>

                                </div>
                              </div>
                            
                          </div>

                          <div class="tab">
                              <input type="checkbox" id="chck2" >
                              <label class="tab-label" for="chck2"><b>2.</b> Cisco CUCM CTI Route Point register</label>
                              <div class="tab-content">
                              
                                <h3 style="text-align:center;">เลือกสถานะการทำงานของระบบ CUCM </h3>
                                <br>
                                <div align="center">
                                  <h3>Date: <input type="date" name="date2"></h3>
                                </div>
                                <br>
                                <div class="row">
                                  <div class="column">
                                    <div align="center">
                                      <h3>tarcucmpub 10.151.36.61</h3>
                                      <br>
                                      <script type="text/javascript">
                                        $(function () {
                                            $("#ddlModels2A").change(function () {
                                                if ($(this).val() == 'fail') {
                                                    $("#txtOther2A").removeAttr("disabled");
                                                    $("#txtOther2A").focus();
                                                } else {
                                                    $("#txtOther2A").attr("disabled", "disabled");
                                                }
                                            });
                                        });
                                      </script>
                                      <h3>สถานะ: </h3>
                                      <br>
                                      <select class="button" id="ddlModels2A" name="status2A">
                                          <option value="0">Select Status:</option>
                                          <option value="pass">Pass</option>
                                          <option value="fail">Failed</option>
                                          
                                      </select>
                                      <h4>หมายเหตุ: </h4>
                                      <input style="padding: 7px 40px;" type="text" id="txtOther2A" disabled="disabled" name="detail2A" />
                                      <br>
                                    </div>
                                  </div>

                                  <div class="column">
                                    <div align="center">
                                      <h3>tarcucm01 10.151.36.23</h3>
                                      <br>
                                      <script type="text/javascript">
                                        $(function () {
                                            $("#ddlModels2B").change(function () {
                                                if ($(this).val() == 'fail') {
                                                    $("#txtOther2B").removeAttr("disabled");
                                                    $("#txtOther2B").focus();
                                                } else {
                                                    $("#txtOther2B").attr("disabled", "disabled");
                                                }
                                            });
                                        });
                                      </script>
                                      <h3>สถานะ: </h3>
                                      <br>
                                      <select class="button" id="ddlModels2B" name="status2B">
                                          <option value="0">Select Status:</option>
                                          <option value="pass">Pass</option>
                                          <option value="fail">Failed</option>
                                          
                                      </select>
                                      <h4>หมายเหตุ: </h4>
                                      <input style="padding: 7px 40px;" type="text" id="txtOther2B" disabled="disabled" name="detail2B" />
                                      <br>
                                    </div>
                                  </div>

                                  <div class="column">
                                    <div align="center">
                                      <h3>sbrcucm02  10.182.236.72</h3>
                                      <br>
                                      <script type="text/javascript">
                                        $(function () {
                                            $("#ddlModels2C").change(function () {
                                                if ($(this).val() == 'fail') {
                                                    $("#txtOther2C").removeAttr("disabled");
                                                    $("#txtOther2C").focus();
                                                } else {
                                                    $("#txtOther2C").attr("disabled", "disabled");
                                                }
                                            });
                                        });
                                      </script>
                                      <h3>สถานะ: </h3>
                                      <br>
                                      <select class="button" id="ddlModels2C" name="status2C">
                                          <option value="0">Select Status:</option>
                                          <option value="pass">Pass</option>
                                          <option value="fail">Failed</option>
                                          
                                      </select>
                                      <h4>หมายเหตุ: </h4>
                                      <input style="padding: 7px 40px;" type="text" id="txtOther2C" disabled="disabled" name="detail2C" />
                                      <br>
                                    </div>

                                  </div>

                                  <div class="column">
                                    <div align="center">
                                      <h3>tarcucmjb01 10.182.247.78</h3>
                                      <br>
                                      <script type="text/javascript">
                                        $(function () {
                                            $("#ddlModels2D").change(function () {
                                                if ($(this).val() == 'fail') {
                                                    $("#txtOther2D").removeAttr("disabled");
                                                    $("#txtOther2D").focus();
                                                } else {
                                                    $("#txtOther2D").attr("disabled", "disabled");
                                                }
                                            });
                                        });
                                      </script>
                                      <h3>สถานะ: </h3>
                                      <br>
                                      <select class="button" id="ddlModels2D" name="status2D">
                                          <option value="0">Select Status:</option>
                                          <option value="pass">Pass</option>
                                          <option value="fail">Failed</option>
                                          
                                      </select>
                                      <h4>หมายเหตุ: </h4>
                                      <input style="padding: 7px 40px;" type="text" id="txtOther2D" disabled="disabled" name="detail2D" />
                                      <br>
                                    </div>

                                  </div>
                                </div>                             
                              </div>
                          </div>
                                                   
                          <div class="tab">
                              <input type="checkbox" id="chck3" >
                              <label class="tab-label" for="chck3"><b>3.</b> Trunk Status Cisco CUCM</label>
                              <div class="tab-content">
                              
                                <h3 style="text-align:center;">เลือกสถานะการทำงานของระบบ CUCM </h3>
                                <br>
                                <div align="center">
                                  <h3>Date: <input type="date" name="date3"></h3>
                                </div>
                                <br>
                                <div class="row">
                                  <div class="column">
                                    <div align="center">
                                      <h3>tarcucmpub 10.151.36.61</h3>
                                      <br>
                                      <script type="text/javascript">
                                        $(function () {
                                            $("#ddlModels3A").change(function () {
                                                if ($(this).val() == 'fail') {
                                                    $("#txtOther3A").removeAttr("disabled");
                                                    $("#txtOther3A").focus();
                                                } else {
                                                    $("#txtOther3A").attr("disabled", "disabled");
                                                }
                                            });
                                        });
                                      </script>
                                      <h3>สถานะ: </h3>
                                      <br>
                                      <select class="button" id="ddlModels3A" name="status3A">
                                          <option value="0">Select Status:</option>
                                          <option value="pass">Pass</option>
                                          <option value="fail">Failed</option>
                                          
                                      </select>
                                      <h4>หมายเหตุ: </h4>
                                      <input style="padding: 7px 40px;" type="text" id="txtOther3A" disabled="disabled" name="detail3A" />
                                      <br>
                                    </div>
                                  </div>

                                  <div class="column">
                                    <div align="center">
                                      <h3>tarcucm01 10.151.36.23</h3>
                                      <br>
                                      <script type="text/javascript">
                                        $(function () {
                                            $("#ddlModels3B").change(function () {
                                                if ($(this).val() == 'fail') {
                                                    $("#txtOther3B").removeAttr("disabled");
                                                    $("#txtOther3B").focus();
                                                } else {
                                                    $("#txtOther3B").attr("disabled", "disabled");
                                                }
                                            });
                                        });
                                      </script>
                                      <h3>สถานะ: </h3>
                                      <br>
                                      <select class="button" id="ddlModels3B" name="status3B">
                                          <option value="0">Select Status:</option>
                                          <option value="pass">Pass</option>
                                          <option value="fail">Failed</option>
                                          
                                      </select>
                                      <h4>หมายเหตุ: </h4>
                                      <input style="padding: 7px 40px;" type="text" id="txtOther3B" disabled="disabled" name="detail3B" />
                                      <br>
                                    </div>
                                  </div>

                                  <div class="column">
                                    <div align="center">
                                      <h3>sbrcucm02  10.182.236.72</h3>
                                      <br>
                                      <script type="text/javascript">
                                        $(function () {
                                            $("#ddlModels3C").change(function () {
                                                if ($(this).val() == 'fail') {
                                                    $("#txtOther3C").removeAttr("disabled");
                                                    $("#txtOther3C").focus();
                                                } else {
                                                    $("#txtOther3C").attr("disabled", "disabled");
                                                }
                                            });
                                        });
                                      </script>
                                      <h3>สถานะ: </h3>
                                      <br>
                                      <select class="button" id="ddlModels3C" name="status3C">
                                          <option value="0">Select Status:</option>
                                          <option value="pass">Pass</option>
                                          <option value="fail">Failed</option>
                                          
                                      </select>
                                      <h4>หมายเหตุ: </h4>
                                      <input style="padding: 7px 40px;" type="text" id="txtOther3C" disabled="disabled" name="detail3C" />
                                      <br>
                                    </div>

                                  </div>

                                  <div class="column">
                                    <div align="center">
                                      <h3>tarcucmjb01 10.182.247.78</h3>
                                      <br>
                                      <script type="text/javascript">
                                        $(function () {
                                            $("#ddlModels3D").change(function () {
                                                if ($(this).val() == 'fail') {
                                                    $("#txtOther3D").removeAttr("disabled");
                                                    $("#txtOther3D").focus();
                                                } else {
                                                    $("#txtOther3D").attr("disabled", "disabled");
                                                }
                                            });
                                        });
                                      </script>
                                      <h3>สถานะ: </h3>
                                      <br>
                                      <select class="button" id="ddlModels3D" name="status3D">
                                          <option value="0">Select Status:</option>
                                          <option value="pass">Pass</option>
                                          <option value="fail">Failed</option>
                                          
                                      </select>
                                      <h4>หมายเหตุ: </h4>
                                      <input style="padding: 7px 40px;" type="text" id="txtOther3D" disabled="disabled" name="detail3D" />
                                      <br>
                                    </div>

                                  </div>
                                </div>                             
                              </div>
                          </div>

                          <div class="tab">
                              <input type="checkbox" id="chck4" >
                              <label class="tab-label" for="chck4"><b>4.</b> Check Service CUCM</label>
                              <div class="tab-content">
                              
                                <h3 style="text-align:center;">เลือกสถานะการทำงานของระบบ CUCM </h3>
                                <br>
                                <div align="center">
                                  <h3>Date: <input type="date" name="date4"></h3>
                                </div>
                                <br>
                                <div class="row">
                                  <div class="column">
                                    <div align="center">
                                      <h3>tarcucmpub 10.151.36.61</h3>
                                      <br>
                                      <script type="text/javascript">
                                        $(function () {
                                            $("#ddlModels4A").change(function () {
                                                if ($(this).val() == 'fail') {
                                                    $("#txtOther4A").removeAttr("disabled");
                                                    $("#txtOther4A").focus();
                                                } else {
                                                    $("#txtOther4A").attr("disabled", "disabled");
                                                }
                                            });
                                        });
                                      </script>
                                      <h3>สถานะ: </h3>
                                      <br>
                                      <select class="button" id="ddlModels4A" name="status4A">
                                          <option value="0">Select Status:</option>
                                          <option value="pass">Pass</option>
                                          <option value="fail">Failed</option>
                                          
                                      </select>
                                      <h4>หมายเหตุ: </h4>
                                      <input style="padding: 7px 40px;" type="text" id="txtOther4A" disabled="disabled" name="detail4A" />
                                      <br>
                                    </div>
                                  </div>

                                  <div class="column">
                                    <div align="center">
                                      <h3>tarcucm01 10.151.36.23</h3>
                                      <br>
                                      <script type="text/javascript">
                                        $(function () {
                                            $("#ddlModels4B").change(function () {
                                                if ($(this).val() == 'fail') {
                                                    $("#txtOther4B").removeAttr("disabled");
                                                    $("#txtOther4B").focus();
                                                } else {
                                                    $("#txtOther4B").attr("disabled", "disabled");
                                                }
                                            });
                                        });
                                      </script>
                                      <h3>สถานะ: </h3>
                                      <br>
                                      <select class="button" id="ddlModels4B" name="status4B">
                                          <option value="0">Select Status:</option>
                                          <option value="pass">Pass</option>
                                          <option value="fail">Failed</option>
                                          
                                      </select>
                                      <h4>หมายเหตุ: </h4>
                                      <input style="padding: 7px 40px;" type="text" id="txtOther4B" disabled="disabled" name="detail4B" />
                                      <br>
                                    </div>
                                  </div>

                                  <div class="column">
                                    <div align="center">
                                      <h3>sbrcucm02  10.182.236.72</h3>
                                      <br>
                                      <script type="text/javascript">
                                        $(function () {
                                            $("#ddlModels4C").change(function () {
                                                if ($(this).val() == 'fail') {
                                                    $("#txtOther4C").removeAttr("disabled");
                                                    $("#txtOther4C").focus();
                                                } else {
                                                    $("#txtOther4C").attr("disabled", "disabled");
                                                }
                                            });
                                        });
                                      </script>
                                      <h3>สถานะ: </h3>
                                      <br>
                                      <select class="button" id="ddlModels4C" name="status4C">
                                          <option value="0">Select Status:</option>
                                          <option value="pass">Pass</option>
                                          <option value="fail">Failed</option>
                                          
                                      </select>
                                      <h4>หมายเหตุ: </h4>
                                      <input style="padding: 7px 40px;" type="text" id="txtOther4C" disabled="disabled" name="detail4C" />
                                      <br>
                                    </div>

                                  </div>

                                  <div class="column">
                                    <div align="center">
                                      <h3>tarcucmjb01 10.182.247.78</h3>
                                      <br>
                                      <script type="text/javascript">
                                        $(function () {
                                            $("#ddlModels4D").change(function () {
                                                if ($(this).val() == 'fail') {
                                                    $("#txtOther4D").removeAttr("disabled");
                                                    $("#txtOther4D").focus();
                                                } else {
                                                    $("#txtOther4D").attr("disabled", "disabled");
                                                }
                                            });
                                        });
                                      </script>
                                      <h3>สถานะ: </h3>
                                      <br>
                                      <select class="button" id="ddlModels4D" name="status4D">
                                          <option value="0">Select Status:</option>
                                          <option value="pass">Pass</option>
                                          <option value="fail">Failed</option>
                                          
                                      </select>
                                      <h4>หมายเหตุ: </h4>
                                      <input style="padding: 7px 40px;" type="text" id="txtOther4D" disabled="disabled" name="detail4D" />
                                      <br>
                                    </div>

                                  </div>
                                </div>                             
                              </div>
                          </div>

                          <div class="tab">
                              <input type="checkbox" id="chck5" >
                              <label class="tab-label" for="chck5"><b>5.</b> Cisco Real-Time monitoring</label>
                              <div class="tab-content">
                              
                                <h3 style="text-align:center;">เลือกสถานะการทำงานของระบบ CUCM </h3>
                                <br>
                                <div align="center">
                                  <h3>Date: <input type="date" name="date5"></h3>
                                </div>
                                <br>
                                <div class="row">
                                  <div class="column">
                                    <div align="center">
                                      <h3>tarcucmpub 10.151.36.61</h3>
                                      <br>
                                      <script type="text/javascript">
                                        $(function () {
                                            $("#ddlModels5A").change(function () {
                                                if ($(this).val() == 'fail') {
                                                    $("#txtOther5A").removeAttr("disabled");
                                                    $("#txtOther5A").focus();
                                                } else {
                                                    $("#txtOther5A").attr("disabled", "disabled");
                                                }
                                            });
                                        });
                                      </script>
                                      <h3>สถานะ: </h3>
                                      <br>
                                      <select class="button" id="ddlModels5A" name="status5A">
                                          <option value="0">Select Status:</option>
                                          <option value="pass">Pass</option>
                                          <option value="fail">Failed</option>
                                          
                                      </select>
                                      <h4>หมายเหตุ: </h4>
                                      <input style="padding: 7px 40px;" type="text" id="txtOther5A" disabled="disabled" name="detail5A" />
                                      <br>
                                    </div>
                                  </div>

                                  <div class="column">
                                    <div align="center">
                                      <h3>tarcucm01 10.151.36.23</h3>
                                      <br>
                                      <script type="text/javascript">
                                        $(function () {
                                            $("#ddlModels5B").change(function () {
                                                if ($(this).val() == 'fail') {
                                                    $("#txtOther5B").removeAttr("disabled");
                                                    $("#txtOther5B").focus();
                                                } else {
                                                    $("#txtOther5B").attr("disabled", "disabled");
                                                }
                                            });
                                        });
                                      </script>
                                      <h3>สถานะ: </h3>
                                      <br>
                                      <select class="button" id="ddlModels5B" name="status5B">
                                          <option value="0">Select Status:</option>
                                          <option value="pass">Pass</option>
                                          <option value="fail">Failed</option>
                                          
                                      </select>
                                      <h4>หมายเหตุ: </h4>
                                      <input style="padding: 7px 40px;" type="text" id="txtOther5B" disabled="disabled" name="detail5B" />
                                      <br>
                                    </div>
                                  </div>

                                  <div class="column">
                                    <div align="center">
                                      <h3>sbrcucm02  10.182.236.72</h3>
                                      <br>
                                      <script type="text/javascript">
                                        $(function () {
                                            $("#ddlModels5C").change(function () {
                                                if ($(this).val() == 'fail') {
                                                    $("#txtOther5C").removeAttr("disabled");
                                                    $("#txtOther5C").focus();
                                                } else {
                                                    $("#txtOther5C").attr("disabled", "disabled");
                                                }
                                            });
                                        });
                                      </script>
                                      <h3>สถานะ: </h3>
                                      <br>
                                      <select class="button" id="ddlModels5C" name="status5C">
                                          <option value="0">Select Status:</option>
                                          <option value="pass">Pass</option>
                                          <option value="fail">Failed</option>
                                          
                                      </select>
                                      <h4>หมายเหตุ: </h4>
                                      <input style="padding: 7px 40px;" type="text" id="txtOther5C" disabled="disabled" name="detail5C" />
                                      <br>
                                    </div>

                                  </div>

                                  <div class="column">
                                    <div align="center">
                                      <h3>tarcucmjb01 10.182.247.78</h3>
                                      <br>
                                      <script type="text/javascript">
                                        $(function () {
                                            $("#ddlModels5D").change(function () {
                                                if ($(this).val() == 'fail') {
                                                    $("#txtOther5D").removeAttr("disabled");
                                                    $("#txtOther5D").focus();
                                                } else {
                                                    $("#txtOther5D").attr("disabled", "disabled");
                                                }
                                            });
                                        });
                                      </script>
                                      <h3>สถานะ: </h3>
                                      <br>
                                      <select class="button" id="ddlModels5D" name="status5D">
                                          <option value="0">Select Status:</option>
                                          <option value="pass">Pass</option>
                                          <option value="fail">Failed</option>
                                          
                                      </select>
                                      <h4>หมายเหตุ: </h4>
                                      <input style="padding: 7px 40px;" type="text" id="txtOther5D" disabled="disabled" name="detail5D" />
                                      <br>
                                    </div>

                                  </div>
                                </div>                             
                              </div>
                          </div>
                          
                          <div class="tab">
                            <input type="checkbox" id="chck6">
                            <label class="tab-label" for="chck6"><b>6.</b> Openmeeting ctusheck sta</label>
                            <div class="tab-content">
                            
                              <h3 style="text-align:center;">เลือกสถานะการทำงานของระบบ Openmeeting </h3>
                              <br>
                              <div align="center">
                                <h3>Date: <input type="date" name="date6"></h3>
                              </div>
                              <br>
                              <div class="row">

                                <div class="column">
                                    <div align="center">
                                      <h3>gomeeting.cpall.co.th</h3>
                                      <br>
                                      <script type="text/javascript">
                                        $(function () {
                                            $("#ddlModels6A").change(function () {
                                                if ($(this).val() == 'fail') {
                                                    $("#txtOther6A").removeAttr("disabled");
                                                    $("#txtOther6A").focus();
                                                } else {
                                                    $("#txtOther6A").attr("disabled", "disabled");
                                                }
                                            });
                                        });
                                      </script>
                                      <h3>สถานะ: </h3>
                                      <br>
                                      <select class="button" id="ddlModels6A" name="status6A">
                                          <option value="0">Select Status:</option>
                                          <option value="pass">Pass</option>
                                          <option value="fail">Failed</option>
                                          
                                      </select>
                                      <h4>หมายเหตุ: </h4>
                                      <input style="padding: 7px 40px;" type="text" id="txtOther6A" disabled="disabled" name="detail6A" />
                                      <br>
                                    </div>
                                </div>

                                <div class="column">
                                    <div align="center">
                                      <h3>gomeeting.cpall.co.th</h3>
                                      <br>
                                      <script type="text/javascript">
                                        $(function () {
                                            $("#ddlModels6B").change(function () {
                                                if ($(this).val() == 'fail') {
                                                    $("#txtOther6B").removeAttr("disabled");
                                                    $("#txtOther6B").focus();
                                                } else {
                                                    $("#txtOther6B").attr("disabled", "disabled");
                                                }
                                            });
                                        });
                                      </script>
                                      <h3>สถานะ: </h3>
                                      <br>
                                      <select class="button" id="ddlModels6B" name="status6B">
                                          <option value="0">Select Status:</option>
                                          <option value="pass">Pass</option>
                                          <option value="fail">Failed</option>
                                          
                                      </select>
                                      <h4>หมายเหตุ: </h4>
                                      <input style="padding: 7px 40px;" type="text" id="txtOther6B" disabled="disabled" name="detail6B" />
                                      <br>
                                    </div>
                                </div>
                              </div>
                            </div>
                          </div>

                          <div class="tab">
                            <input type="checkbox" id="chck7">
                            <label class="tab-label" for="chck7"><b>7.</b> VEEAM Backup</label>
                            <div class="tab-content">
                            
                              <h3 style="text-align:center;">เลือกสถานะการทำงานของระบบ VEEAM Backup </h3>
                              <br>
                              <div align="center">
                                <h3>Date: <input type="date" name="date7"></h3>
                              </div>
                              <br>

                              <div class="row">
                                  <div class="column">
                                    <div align="center">
                                      <h3>CPRAMSIP01</h3>
                                      <br>
                                      <script type="text/javascript">
                                        $(function () {
                                            $("#ddlModels7A").change(function () {
                                                if ($(this).val() == 'fail') {
                                                    $("#txtOther7A").removeAttr("disabled");
                                                    $("#txtOther7A").focus();
                                                } else {
                                                    $("#txtOther7A").attr("disabled", "disabled");
                                                }
                                            });
                                        });
                                      </script>
                                      <h3>สถานะ: </h3>
                                      <br>
                                      <select class="button" id="ddlModels7A" name="status7A">
                                          <option value="0">Select Status:</option>
                                          <option value="pass">Pass</option>
                                          <option value="fail">Failed</option>
                                          
                                      </select>
                                      <h4>หมายเหตุ: </h4>
                                      <input style="padding: 7px 40px;" type="text" id="txtOther7A" disabled="disabled" name="detail7A" />
                                      <br>
                                    </div>
                                  </div>

                                  <div class="column">
                                    <div align="center">
                                      <h3>TARSIP01</h3>
                                      <br>
                                      <script type="text/javascript">
                                        $(function () {
                                            $("#ddlModels7B").change(function () {
                                                if ($(this).val() == 'fail') {
                                                    $("#txtOther7B").removeAttr("disabled");
                                                    $("#txtOther7B").focus();
                                                } else {
                                                    $("#txtOther7B").attr("disabled", "disabled");
                                                }
                                            });
                                        });
                                      </script>
                                      <h3>สถานะ: </h3>
                                      <br>
                                      <select class="button" id="ddlModels7B" name="status7B">
                                          <option value="0">Select Status:</option>
                                          <option value="pass">Pass</option>
                                          <option value="fail">Failed</option>
                                          
                                      </select>
                                      <h4>หมายเหตุ: </h4>
                                      <input style="padding: 7px 40px;" type="text" id="txtOther7B" disabled="disabled" name="detail7B" />
                                      <br>
                                    </div>
                                  </div>

                                  <div class="column">
                                    <div align="center">
                                      <h3>TARSIP04</h3>
                                      <br>
                                      <script type="text/javascript">
                                        $(function () {
                                            $("#ddlModels7C").change(function () {
                                                if ($(this).val() == 'fail') {
                                                    $("#txtOther7C").removeAttr("disabled");
                                                    $("#txtOther7C").focus();
                                                } else {
                                                    $("#txtOther7C").attr("disabled", "disabled");
                                                }
                                            });
                                        });
                                      </script>
                                      <h3>สถานะ: </h3>
                                      <br>
                                      <select class="button" id="ddlModels7C" name="status7C">
                                          <option value="0">Select Status:</option>
                                          <option value="pass">Pass</option>
                                          <option value="fail">Failed</option>
                                          
                                      </select>
                                      <h4>หมายเหตุ: </h4>
                                      <input style="padding: 7px 40px;" type="text" id="txtOther7C" disabled="disabled" name="detail7C" />
                                      <br>
                                    </div>

                                  </div>

                                  <div class="column">
                                    <div align="center">
                                      <h3>TARSIP05</h3>
                                      <br>
                                      <script type="text/javascript">
                                        $(function () {
                                            $("#ddlModels7D").change(function () {
                                                if ($(this).val() == 'fail') {
                                                    $("#txtOther7D").removeAttr("disabled");
                                                    $("#txtOther7D").focus();
                                                } else {
                                                    $("#txtOther7D").attr("disabled", "disabled");
                                                }
                                            });
                                        });
                                      </script>
                                      <h3>สถานะ: </h3>
                                      <br>
                                      <select class="button" id="ddlModels7D" name="status7D">
                                          <option value="0">Select Status:</option>
                                          <option value="pass">Pass</option>
                                          <option value="fail">Failed</option>
                                          
                                      </select>
                                      <h4>หมายเหตุ: </h4>
                                      <input style="padding: 7px 40px;" type="text" id="txtOther7D" disabled="disabled" name="detail7D" />
                                      <br>
                                    </div>

                                  </div>
                              </div>

                              <div class="row">
                                  <div class="column">
                                    <div align="center">
                                      <h3>TARSIP06</h3>
                                      <br>
                                      <script type="text/javascript">
                                        $(function () {
                                            $("#ddlModels7E").change(function () {
                                                if ($(this).val() == 'fail') {
                                                    $("#txtOther7E").removeAttr("disabled");
                                                    $("#txtOther7E").focus();
                                                } else {
                                                    $("#txtOther7E").attr("disabled", "disabled");
                                                }
                                            });
                                        });
                                      </script>
                                      <h3>สถานะ: </h3>
                                      <br>
                                      <select class="button" id="ddlModels7E" name="status7E">
                                          <option value="0">Select Status:</option>
                                          <option value="pass">Pass</option>
                                          <option value="fail">Failed</option>
                                          
                                      </select>
                                      <h4>หมายเหตุ: </h4>
                                      <input style="padding: 7px 40px;" type="text" id="txtOther7E" disabled="disabled" name="detail7E" />
                                      <br>
                                    </div>
                                  </div>

                                  <div class="column">
                                    <div align="center">
                                      <h3>TARSIPMGT01</h3>
                                      <br>
                                      <script type="text/javascript">
                                        $(function () {
                                            $("#ddlModels7F").change(function () {
                                                if ($(this).val() == 'fail') {
                                                    $("#txtOther7F").removeAttr("disabled");
                                                    $("#txtOther7F").focus();
                                                } else {
                                                    $("#txtOther7F").attr("disabled", "disabled");
                                                }
                                            });
                                        });
                                      </script>
                                      <h3>สถานะ: </h3>
                                      <br>
                                      <select class="button" id="ddlModels7F" name="status7F">
                                          <option value="0">Select Status:</option>
                                          <option value="pass">Pass</option>
                                          <option value="fail">Failed</option>
                                          
                                      </select>
                                      <h4>หมายเหตุ: </h4>
                                      <input style="padding: 7px 40px;" type="text" id="txtOther7F" disabled="disabled" name="detail7F" />
                                      <br>
                                    </div>
                                  </div>

                                  <div class="column">
                                    <div align="center">
                                      <h3>TARSIPBACM01</h3>
                                      <br>
                                      <script type="text/javascript">
                                        $(function () {
                                            $("#ddlModels7G").change(function () {
                                                if ($(this).val() == 'fail') {
                                                    $("#txtOther7G").removeAttr("disabled");
                                                    $("#txtOther7G").focus();
                                                } else {
                                                    $("#txtOther7G").attr("disabled", "disabled");
                                                }
                                            });
                                        });
                                      </script>
                                      <h3>สถานะ: </h3>
                                      <br>
                                      <select class="button" id="ddlModels7G" name="status7G">
                                          <option value="0">Select Status:</option>
                                          <option value="pass">Pass</option>
                                          <option value="fail">Failed</option>
                                          
                                      </select>
                                      <h4>หมายเหตุ: </h4>
                                      <input style="padding: 7px 40px;" type="text" id="txtOther7G" disabled="disabled" name="detail7G" />
                                      <br>
                                    </div>

                                  </div>

                                  <div class="column">
                                    <div align="center">
                                      <h3>SBRBACM01</h3>
                                      <br>
                                      <script type="text/javascript">
                                        $(function () {
                                            $("#ddlModels7H").change(function () {
                                                if ($(this).val() == 'fail') {
                                                    $("#txtOther7H").removeAttr("disabled");
                                                    $("#txtOther7H").focus();
                                                } else {
                                                    $("#txtOther7H").attr("disabled", "disabled");
                                                }
                                            });
                                        });
                                      </script>
                                      <h3>สถานะ: </h3>
                                      <br>
                                      <select class="button" id="ddlModels7H" name="status7H">
                                          <option value="0">Select Status:</option>
                                          <option value="pass">Pass</option>
                                          <option value="fail">Failed</option>
                                          
                                      </select>
                                      <h4>หมายเหตุ: </h4>
                                      <input style="padding: 7px 40px;" type="text" id="txtOther7H" disabled="disabled" name="detail7H" />
                                      <br>
                                    </div>

                                  </div>
                              </div>
                            </div>
                          </div>

                          
                      </div>
                    </div>
                    <div style="text-align:center;">
                      <button class="button" type="submit">Submit</button>
                    </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </section>
      



      {% comment %} section ส่วนข้อมูลหลักที่นำมาแสดง {% endcomment %}
    </section>  
    <script src="{% static 'lib/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'js/graphshoz.js' %}"></script>
    <script src="{% static 'js/datatable-jquery-1.11.1.min.js' %}"></script>
    <script src="{% static 'js/dataTables.bootstrap.min.js' %}"></script>
    <script src="{% static 'lib/bootstrap/js/bootstrap.min.js' %}"></script>
    <script class="include" type="text/javascript" src="{% static 'lib/jquery.dcjqaccordion.2.7.js' %}"></script>
    <script src="{% static 'lib/jquery.scrollTo.min.js' %}"></script>
    <script src="{% static 'lib/jquery.nicescroll.js' %}" type="text/javascript"></script>
    <script src="{% static 'lib/jquery.sparkline.js' %}"></script>
    {% comment %} <script src="{% static 'js/jquery.min.js' %}"></script> {% endcomment %}
    <!--common script for all pages-->
    <script src="{% static 'lib/common-scripts.js' %}"></script>
    <script type="text/javascript" src="{% static 'lib/gritter/js/jquery.gritter.js' %}"></script>
    <script type="text/javascript" src="{% static 'lib/gritter-conf.js' %}"></script>
    <!--script for this page-->
    <script src="{% static 'lib/sparkline-chart.js' %}"></script>
    <script src="{% static 'lib/zabuto_calendar.js' %}"></script>
    <script type="text/javascript">
      $(document).ready(function() {
        var unique_id = $.gritter.add({
          // (string | mandatory) the heading of the notification
          title: 'Welcome to Dashio!',
          // (string | mandatory) the text inside the notification
          //text: 'Hover me to enable the Close Button. You can hide the left sidebar clicking on the button next to the logo. Developed by <a href="http://alvarez.is" target="_blank" style="color:#4ECDC4">Alvarez.is</a>.',
          // (string | optional) the image to display on the left
          image: 'img/ui-sam.jpg',
          // (bool | optional) if you want it to fade out on its own or just sit there
          sticky: false,
          // (int | optional) the time you want it to be alive for before fading out
          time: 1,
          // (string | optional) the class name you want to apply to that specific message
          class_name: 'my-sticky-class'
        });

        return false;
      });
    </script>
    <script type="application/javascript">
      $(document).ready(function() {
        $("#date-popover").popover({
          html: true,
          trigger: "manual"
        });
        $("#date-popover").hide();
        $("#date-popover").click(function(e) {
          $(this).hide();
        });

        $("#my-calendar").zabuto_calendar({
          action: function() {
            return myDateFunction(this.id, false);
          },
          action_nav: function() {
            return myNavFunction(this.id);
          },
          ajax: {
            url: "show_data.php?action=1",
            modal: true
          },
          legend: [{
              type: "text",
              label: "Special event",
              badge: "00"
            },
            {
              type: "block",
              label: "Regular event",
            }
          ]
        });
      });

      function myNavFunction(id) {
        $("#date-popover").hide();
        var nav = $("#" + id).data("navigation");
        var to = $("#" + id).data("to");
        console.log('nav ' + nav + ' to: ' + to.month + '/' + to.year);
      }
    </script>
    
    <script>
      function openLink(evt, animName) {
        var i, x, tablinks;
        x = document.getElementsByClassName("city");
        for (i = 0; i < x.length; i++) {
          x[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablink");
        for (i = 0; i < x.length; i++) {
          tablinks[i].className = tablinks[i].className.replace(" w3-red", "");
        }
        document.getElementById(animName).style.display = "block";
        evt.currentTarget.className += " w3-red";
      }
    </script>

    <script>
      function openLink(evt, animName) {
        var i, x, tablinks;
        x = document.getElementsByClassName("city");
        for (i = 0; i < x.length; i++) {
          x[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablink");
        for (i = 0; i < x.length; i++) {
          tablinks[i].className = tablinks[i].className.replace(" w3-red", "");
        }
        document.getElementById(animName).style.display = "block";
        evt.currentTarget.className += " w3-red";
      }
    </script>
  
    <script>
      var x, i, j, selElmnt, a, b, c;
      /*look for any elements with the class "custom-select":*/
      x = document.getElementsByClassName("custom-select");
      for (i = 0; i < x.length; i++) {
          selElmnt = x[i].getElementsByTagName("select")[0];
          /*for each element, create a new DIV that will act as the selected item:*/
          a = document.createElement("DIV");
          a.setAttribute("class", "select-selected");
          a.innerHTML = selElmnt.options[selElmnt.selectedIndex].innerHTML;
          x[i].appendChild(a);
          /*for each element, create a new DIV that will contain the option list:*/
          b = document.createElement("DIV");
          b.setAttribute("class", "select-items select-hide");
          for (j = 1; j < selElmnt.length; j++) {
              /*for each option in the original select element,
              create a new DIV that will act as an option item:*/
              c = document.createElement("DIV");
              c.innerHTML = selElmnt.options[j].innerHTML;
              c.addEventListener("click", function(e) {
                  /*when an item is clicked, update the original select box,
                  and the selected item:*/
                  var y, i, k, s, h;
                  s = this.parentNode.parentNode.getElementsByTagName("select")[0];
                  h = this.parentNode.previousSibling;
                  for (i = 0; i < s.length; i++) {
                      if (s.options[i].innerHTML == this.innerHTML) {
                          s.selectedIndex = i;
                          h.innerHTML = this.innerHTML;
                          y = this.parentNode.getElementsByClassName("same-as-selected");
                          for (k = 0; k < y.length; k++) {
                              y[k].removeAttribute("class");
                          }
                          this.setAttribute("class", "same-as-selected");
                          break;
                      }
                  }
                  h.click();
              });
              b.appendChild(c);
          }
          x[i].appendChild(b);
          a.addEventListener("click", function(e) {
              /*when the select box is clicked, close any other select boxes,
              and open/close the current select box:*/
              e.stopPropagation();
              closeAllSelect(this);
              this.nextSibling.classList.toggle("select-hide");
              this.classList.toggle("select-arrow-active");
          });
      }

      function closeAllSelect(elmnt) {
          /*a function that will close all select boxes in the document,
          except the current select box:*/
          var x, y, i, arrNo = [];
          x = document.getElementsByClassName("select-items");
          y = document.getElementsByClassName("select-selected");
          for (i = 0; i < y.length; i++) {
              if (elmnt == y[i]) {
                  arrNo.push(i)
              } else {
                  y[i].classList.remove("select-arrow-active");
              }
          }
          for (i = 0; i < x.length; i++) {
              if (arrNo.indexOf(i)) {
                  x[i].classList.add("select-hide");
              }
          }
      }
      /*if the user clicks anywhere outside the select box,
      then close all select boxes:*/
      document.addEventListener("click", closeAllSelect);
    </script>

  </body>
</html>