.progress-bar {
    display: block;
    margin: 0 auto;
    text-align: center;
    height: 0px;
    width: 120px;
    font-size: 12px;
    font-family: sans-serif;
    line-height: 20px;
    color: #fff;
    margin-top: 55px;
    background-color: white;
  }
  
  .progress-bar div {
    position: absolute;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    text-align: center;
    margin-top: -52px;
    margin-left: -27px;
  }
  
  .progress-bar data-percen {
    font-size: 8px;
  }
  
  .progress-bar div span {
    position: absolute;
    font-family: sans-serif;
    /*font-size: 60px;*/
    line-height: 175px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 183px;
    width: 185px;
    left: 8.5px;
    top: 8.5px;
    text-align: center;
    border-radius: 50%;
    /*background-color: #f9f7f7;*/
    color: black;
  }
  
  .progress-bar div span:nth-of-type(1) {
    font-size: 60px;
    background-color: #f9f7f7;
  }
  .progress-bar div span:nth-of-type(2) {
    font-size: 12px;
    text-align:right;
    padding-right:4em;
  }
  
  .progress-bar .background {
    background-color: #b3cef6;
  }
  
  .progress-bar .rotate {
    clip: rect(0 100px 200px 0);
    background-color: #4b86db;
  }
  
  .progress-bar .left {
    clip: rect(0 100px 200px 0);
    opacity: 1;
    background-color: #b3cef6;
  }
  
  .progress-bar .right {
    clip: rect(0 100px 200px 0);
    transform: rotate(180deg);
    opacity: 0;
    background-color: #4b86db;
  }
  
  @keyframes toggle {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }