@import url(https://fonts.googleapis.com/css?family=Roboto);
body {
  background-color: #1b1a1a;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
}

.ProgressBar,
.ProgressBar-contentCircle {
  display: table;
  height: 120px;
  position: absolute;
  width: 120px;
}

.ProgressBar-circle,
.ProgressBar-background {
  fill: none;
  stroke: #D00463;
  stroke-width: 20;
  stroke-linecap: round;
  stroke-dasharray: 0;
  stroke-dashoffset: 0;
  position: center;
  z-index: 10;
}

.ProgressBar-background {
  stroke: white;
  stroke-width: 4;
  z-index: 0;
}

.ProgressBar-percentage {
  color: #389ba6;
  font-size: 30px;
  text-align: center;
  width: 100%;
  display: table-cell;
  vertical-align: middle;
}

/************************/
/* structure de la page */
/************************/
.Content {
  height: 120px;
  margin: -135px 0 0 0;
  position: absolute;
  top: 50%;
  left: 120px;
  right: 50%;
  width: 100%;
}

.List {
  display: flex;
  list-style: none;
  margin: 120px;
  padding: 0px;
  width: 120px;
  height: 120px;
}

.List-item {
  float: center;
  width: 120px;
}

.Title {
  text-align: center;
}