.centerR{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  width: 60%;
  height: 50%;
  }
.pRight{
  float: right;
  padding: 10px;
  }
.pLeft{
  float: left;
  padding: 10px;
  }
.progress {
    width: 120px;
    height: 120px;
    line-height: 120px;
    background: none;
    margin: 0 auto;
    box-shadow: none;
    position: relative;
  }
  .progress:after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 7px solid #eee;
    position: absolute;
    top: 0;
    left: 0;
  }
  .progress > span {
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 1;
  }
  .progress .progress-left {
    left: 0;
  }
  .progress .progress-bar {
    width: 100%;
    height: 100%;
    background: none;
    border-width: 7px;
    border-style: solid;
    position: absolute;
    top: 0;
    border-color: #ffb43e;
  }
  .progress .progress-left .progress-bar {
    left: 100%;
    border-top-right-radius: 60px;
    border-bottom-right-radius: 60px;
    border-left: 0;
    -webkit-transform-origin: center left;
    transform-origin: center left;
  }
  .progress .progress-right {
    right: 0;
  }
  .progress .progress-right .progress-bar {
    left: -100%;
    border-top-left-radius: 60px;
    border-bottom-left-radius: 60px;
    border-right: 0;
    -webkit-transform-origin: center right;
    transform-origin: center right;
  }
  .progress .progress-value {
    display: flex;
    border-radius: 50%;
    font-size: 30px;
    text-align: center;
    line-height: 20px;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-weight: 300;
  }
  .progress .progress-value div {
    margin-top: 10px;
  }
  .progress .progress-value span {
    font-size: 12px;
    text-transform: uppercase;
  }

  @for $i from 1 through 100 {
    .progress[data-percentage="#{$i}"] .progress-right .progress-bar {
        animation: loading-#{$i} 1.5s linear forwards;
    }
    .progress[data-percentage="#{$i}"] .progress-left .progress-bar {
        animation: 0;
    }  
  }
  
  /* This for loop creates the 	necessary css animation names 
  Due to the split circle of progress-left and progress right, we must use the animations on each side. 
  */
  /* .progress[data-percentage="1"] .progress-right .progress-bar {
    animation: loading-1 1.5s linear forwards;
  }
  .progress[data-percentage="1"] .progress-left .progress-bar {
    animation: 0;
  }
  .progress[data-percentage="2"] .progress-right .progress-bar {
    animation: loading-2 1.5s linear forwards;
  }
  .progress[data-percentage="2"] .progress-left .progress-bar {
    animation: 0;
  }
  .progress[data-percentage="3"] .progress-right .progress-bar {
    animation: loading-3 1.5s linear forwards;
  }
  .progress[data-percentage="3"] .progress-left .progress-bar {
    animation: 0;
  }
  .progress[data-percentage="4"] .progress-right .progress-bar {
    animation: loading-4 1.5s linear forwards;
  }
  .progress[data-percentage="4"] .progress-left .progress-bar {
    animation: 0;
  }
  .progress[data-percentage="5"] .progress-right .progress-bar {
    animation: loading-5 1.5s linear forwards;
  }
  .progress[data-percentage="5"] .progress-left .progress-bar {
    animation: 0;
  }
  .progress[data-percentage="6"] .progress-right .progress-bar {
    animation: loading-6 1.5s linear forwards;
  }
  .progress[data-percentage="6"] .progress-left .progress-bar {
    animation: 0;
  }
  .progress[data-percentage="7"] .progress-right .progress-bar {
    animation: loading-7 1.5s linear forwards;
  }
  .progress[data-percentage="7"] .progress-left .progress-bar {
    animation: 0;
  }
  .progress[data-percentage="8"] .progress-right .progress-bar {
    animation: loading-8 1.5s linear forwards;
  }
  .progress[data-percentage="8"] .progress-left .progress-bar {
    animation: 0;
  }
  .progress[data-percentage="9"] .progress-right .progress-bar {
    animation: loading-9 1.5s linear forwards;
  }
  .progress[data-percentage="9"] .progress-left .progress-bar {
    animation: 0;
  }
  .progress[data-percentage="10"] .progress-right .progress-bar {
    animation: loading-10 1.5s linear forwards;
  }
  .progress[data-percentage="10"] .progress-left .progress-bar {
    animation: 0;
  }

  .progress[data-percentage="11"] .progress-right .progress-bar {
    animation: loading-11 1.5s linear forwards;
  }
  .progress[data-percentage="11"] .progress-left .progress-bar {
    animation: 0;
  }
  .progress[data-percentage="12"] .progress-right .progress-bar {
    animation: loading-12 1.5s linear forwards;
  }
  .progress[data-percentage="12"] .progress-left .progress-bar {
    animation: 0;
  }
  .progress[data-percentage="13"] .progress-right .progress-bar {
    animation: loading-13 1.5s linear forwards;
  }
  .progress[data-percentage="13"] .progress-left .progress-bar {
    animation: 0;
  }
  .progress[data-percentage="14"] .progress-right .progress-bar {
    animation: loading-14 1.5s linear forwards;
  }
  .progress[data-percentage="14"] .progress-left .progress-bar {
    animation: 0;
  }
  .progress[data-percentage="15"] .progress-right .progress-bar {
    animation: loading-15 1.5s linear forwards;
  }
  .progress[data-percentage="15"] .progress-left .progress-bar {
    animation: 0;
  }
  .progress[data-percentage="16"] .progress-right .progress-bar {
    animation: loading-16 1.5s linear forwards;
  }
  .progress[data-percentage="16"] .progress-left .progress-bar {
    animation: 0;
  }
  .progress[data-percentage="17"] .progress-right .progress-bar {
    animation: loading-17 1.5s linear forwards;
  }
  .progress[data-percentage="17"] .progress-left .progress-bar {
    animation: 0;
  }
  .progress[data-percentage="18"] .progress-right .progress-bar {
    animation: loading-18 1.5s linear forwards;
  }
  .progress[data-percentage="18"] .progress-left .progress-bar {
    animation: 0;
  }
  .progress[data-percentage="19"] .progress-right .progress-bar {
    animation: loading-19 1.5s linear forwards;
  }
  .progress[data-percentage="19"] .progress-left .progress-bar {
    animation: 0;
  }
  
  .progress[data-percentage="20"] .progress-right .progress-bar {
    animation: loading-20 1.5s linear forwards;
  }
  .progress[data-percentage="20"] .progress-left .progress-bar {
    animation: 0;
  }

  .progress[data-percentage="21"] .progress-right .progress-bar {
    animation: loading-21 1.5s linear forwards;
  }
  .progress[data-percentage="21"] .progress-left .progress-bar {
    animation: 0;
  }
  .progress[data-percentage="22"] .progress-right .progress-bar {
    animation: loading-22 1.5s linear forwards;
  }
  .progress[data-percentage="22"] .progress-left .progress-bar {
    animation: 0;
  }
  .progress[data-percentage="23"] .progress-right .progress-bar {
    animation: loading-23 1.5s linear forwards;
  }
  .progress[data-percentage="23"] .progress-left .progress-bar {
    animation: 0;
  }
  .progress[data-percentage="24"] .progress-right .progress-bar {
    animation: loading-24 1.5s linear forwards;
  }
  .progress[data-percentage="24"] .progress-left .progress-bar {
    animation: 0;
  }
  .progress[data-percentage="25"] .progress-right .progress-bar {
    animation: loading-25 1.5s linear forwards;
  }
  .progress[data-percentage="25"] .progress-left .progress-bar {
    animation: 0;
  }
  .progress[data-percentage="26"] .progress-right .progress-bar {
    animation: loading-26 1.5s linear forwards;
  }
  .progress[data-percentage="26"] .progress-left .progress-bar {
    animation: 0;
  }
  .progress[data-percentage="27"] .progress-right .progress-bar {
    animation: loading-27 1.5s linear forwards;
  }
  .progress[data-percentage="27"] .progress-left .progress-bar {
    animation: 0;
  }
  .progress[data-percentage="28"] .progress-right .progress-bar {
    animation: loading-28 1.5s linear forwards;
  }
  .progress[data-percentage="28"] .progress-left .progress-bar {
    animation: 0;
  }
  .progress[data-percentage="29"] .progress-right .progress-bar {
    animation: loading-29 1.5s linear forwards;
  }
  .progress[data-percentage="29"] .progress-left .progress-bar {
    animation: 0;
  }
  
  .progress[data-percentage="30"] .progress-right .progress-bar {
    animation: loading-30 1.5s linear forwards;
  }
  .progress[data-percentage="30"] .progress-left .progress-bar {
    animation: 0;
  }
  .progress[data-percentage="31"] .progress-right .progress-bar {
    animation: loading-31 1.5s linear forwards;
  }
  .progress[data-percentage="31"] .progress-left .progress-bar {
    animation: 0;
  }
  .progress[data-percentage="32"] .progress-right .progress-bar {
    animation: loading-32 1.5s linear forwards;
  }
  .progress[data-percentage="32"] .progress-left .progress-bar {
    animation: 0;
  }
  .progress[data-percentage="33"] .progress-right .progress-bar {
    animation: loading-33 1.5s linear forwards;
  }
  .progress[data-percentage="33"] .progress-left .progress-bar {
    animation: 0;
  }

  .progress[data-percentage="34"] .progress-right .progress-bar {
    animation: loading-34 1.5s linear forwards;
  }
  .progress[data-percentage="34"] .progress-left .progress-bar {
    animation: 0;
  }
  .progress[data-percentage="35"] .progress-right .progress-bar {
    animation: loading-35 1.5s linear forwards;
  }
  .progress[data-percentage="35"] .progress-left .progress-bar {
    animation: 0;
  }
  .progress[data-percentage="36"] .progress-right .progress-bar {
    animation: loading-36 1.5s linear forwards;
  }
  .progress[data-percentage="36"] .progress-left .progress-bar {
    animation: 0;
  }
  .progress[data-percentage="37"] .progress-right .progress-bar {
    animation: loading-37 1.5s linear forwards;
  }
  .progress[data-percentage="37"] .progress-left .progress-bar {
    animation: 0;
  }
  .progress[data-percentage="38"] .progress-right .progress-bar {
    animation: loading-38 1.5s linear forwards;
  }
  .progress[data-percentage="38"] .progress-left .progress-bar {
    animation: 0;
  }
  .progress[data-percentage="39"] .progress-right .progress-bar {
    animation: loading-39 1.5s linear forwards;
  }
  .progress[data-percentage="39"] .progress-left .progress-bar {
    animation: 0;
  }
  
  .progress[data-percentage="40"] .progress-right .progress-bar {
    animation: loading-40 1.5s linear forwards;
  }
  .progress[data-percentage="40"] .progress-left .progress-bar {
    animation: 0;
  }

  .progress[data-percentage="41"] .progress-right .progress-bar {
    animation: loading-41 1.5s linear forwards;
  }
  .progress[data-percentage="41"] .progress-left .progress-bar {
    animation: 0;
  }
  .progress[data-percentage="42"] .progress-right .progress-bar {
    animation: loading-42 1.5s linear forwards;
  }
  .progress[data-percentage="42"] .progress-left .progress-bar {
    animation: 0;
  }
  .progress[data-percentage="43"] .progress-right .progress-bar {
    animation: loading-43 1.5s linear forwards;
  }
  .progress[data-percentage="43"] .progress-left .progress-bar {
    animation: 0;
  }

  .progress[data-percentage="44"] .progress-right .progress-bar {
    animation: loading-44 1.5s linear forwards;
  }
  .progress[data-percentage="44"] .progress-left .progress-bar {
    animation: 0;
  }
  .progress[data-percentage="45"] .progress-right .progress-bar {
    animation: loading-45 1.5s linear forwards;
  }
  .progress[data-percentage="45"] .progress-left .progress-bar {
    animation: 0;
  }
  .progress[data-percentage="46"] .progress-right .progress-bar {
    animation: loading-46 1.5s linear forwards;
  }
  .progress[data-percentage="46"] .progress-left .progress-bar {
    animation: 0;
  }
  .progress[data-percentage="47"] .progress-right .progress-bar {
    animation: loading-47 1.5s linear forwards;
  }
  .progress[data-percentage="47"] .progress-left .progress-bar {
    animation: 0;
  }
  .progress[data-percentage="48"] .progress-right .progress-bar {
    animation: loading-48 1.5s linear forwards;
  }
  .progress[data-percentage="48"] .progress-left .progress-bar {
    animation: 0;
  }
  .progress[data-percentage="49"] .progress-right .progress-bar {
    animation: loading-49 1.5s linear forwards;
  }
  .progress[data-percentage="49"] .progress-left .progress-bar {
    animation: 0;
  }
  
  .progress[data-percentage="50"] .progress-right .progress-bar {
    animation: loading-50 1.5s linear forwards;
  }
  .progress[data-percentage="50"] .progress-left .progress-bar {
    animation: 0;
  }
  .progress[data-percentage="51"] .progress-right .progress-bar {
    animation: loading-51 1.5s linear forwards;
  }
  .progress[data-percentage="51"] .progress-left .progress-bar {
    animation: 0;
  }
  .progress[data-percentage="52"] .progress-right .progress-bar {
    animation: loading-52 1.5s linear forwards;
  }
  .progress[data-percentage="52"] .progress-left .progress-bar {
    animation: 0;
  }
  .progress[data-percentage="53"] .progress-right .progress-bar {
    animation: loading-53 1.5s linear forwards;
  }
  .progress[data-percentage="53"] .progress-left .progress-bar {
    animation: 0;
  }
  .progress[data-percentage="54"] .progress-right .progress-bar {
    animation: loading-54 1.5s linear forwards;
  }
  .progress[data-percentage="54"] .progress-left .progress-bar {
    animation: 0;
  }
  .progress[data-percentage="55"] .progress-right .progress-bar {
    animation: loading-55 1.5s linear forwards;
  }
  .progress[data-percentage="55"] .progress-left .progress-bar {
    animation: 0;
  }
  .progress[data-percentage="56"] .progress-right .progress-bar {
    animation: loading-56 1.5s linear forwards;
  }
  .progress[data-percentage="56"] .progress-left .progress-bar {
    animation: 0;
  }
  .progress[data-percentage="57"] .progress-right .progress-bar {
    animation: loading-57 1.5s linear forwards;
  }
  .progress[data-percentage="57"] .progress-left .progress-bar {
    animation: 0;
  }
  .progress[data-percentage="58"] .progress-right .progress-bar {
    animation: loading-58 1.5s linear forwards;
  }
  .progress[data-percentage="58"] .progress-left .progress-bar {
    animation: 0;
  }
  .progress[data-percentage="59"] .progress-right .progress-bar {
    animation: loading-59 1.5s linear forwards;
  }
  .progress[data-percentage="59"] .progress-left .progress-bar {
    animation: 0;
  }
  .progress[data-percentage="60"] .progress-right .progress-bar {
    animation: loading-60 1.5s linear forwards;
  }
  .progress[data-percentage="60"] .progress-left .progress-bar {
    animation: 0;
  }
  .progress[data-percentage="61"] .progress-right .progress-bar {
    animation: loading-61 1.5s linear forwards;
  }
  .progress[data-percentage="61"] .progress-left .progress-bar {
    animation: 0;
  }
  .progress[data-percentage="62"] .progress-right .progress-bar {
    animation: loading-62 1.5s linear forwards;
  }
  .progress[data-percentage="62"] .progress-left .progress-bar {
    animation: 0;
  }
  .progress[data-percentage="63"] .progress-right .progress-bar {
    animation: loading-63 1.5s linear forwards;
  }
  .progress[data-percentage="63"] .progress-left .progress-bar {
    animation: 0;
  }
  .progress[data-percentage="64"] .progress-right .progress-bar {
    animation: loading-64 1.5s linear forwards;
  }
  .progress[data-percentage="64"] .progress-left .progress-bar {
    animation: 0;
  }
  .progress[data-percentage="65"] .progress-right .progress-bar {
    animation: loading-65 1.5s linear forwards;
  }
  .progress[data-percentage="65"] .progress-left .progress-bar {
    animation: 0;
  }
  .progress[data-percentage="66"] .progress-right .progress-bar {
    animation: loading-66 1.5s linear forwards;
  }
  .progress[data-percentage="66"] .progress-left .progress-bar {
    animation: 0;
  }
  .progress[data-percentage="67"] .progress-right .progress-bar {
    animation: loading-67 1.5s linear forwards;
  }
  .progress[data-percentage="67"] .progress-left .progress-bar {
    animation: 0;
  }
  .progress[data-percentage="68"] .progress-right .progress-bar {
    animation: loading-68 1.5s linear forwards;
  }
  .progress[data-percentage="68"] .progress-left .progress-bar {
    animation: 0;
  }
  .progress[data-percentage="69"] .progress-right .progress-bar {
    animation: loading-69 1.5s linear forwards;
  }
  .progress[data-percentage="69"] .progress-left .progress-bar {
    animation: 0;
  }
  .progress[data-percentage="70"] .progress-right .progress-bar {
    animation: loading-70 1.5s linear forwards;
  }
  .progress[data-percentage="70"] .progress-left .progress-bar {
    animation: 0;
  }
  .progress[data-percentage="71"] .progress-right .progress-bar {
    animation: loading-71 1.5s linear forwards;
  }
  .progress[data-percentage="71"] .progress-left .progress-bar {
    animation: 0;
  }
  .progress[data-percentage="72"] .progress-right .progress-bar {
    animation: loading-72 1.5s linear forwards;
  }
  .progress[data-percentage="72"] .progress-left .progress-bar {
    animation: 0;
  }
  .progress[data-percentage="73"] .progress-right .progress-bar {
    animation: loading-73 1.5s linear forwards;
  }
  .progress[data-percentage="73"] .progress-left .progress-bar {
    animation: 0;
  }
  .progress[data-percentage="74"] .progress-right .progress-bar {
    animation: loading-74 1.5s linear forwards;
  }
  .progress[data-percentage="74"] .progress-left .progress-bar {
    animation: 0;
  }
  .progress[data-percentage="75"] .progress-right .progress-bar {
    animation: loading-75 1.5s linear forwards;
  }
  .progress[data-percentage="75"] .progress-left .progress-bar {
    animation: 0;
  }
  .progress[data-percentage="76"] .progress-right .progress-bar {
    animation: loading-76 1.5s linear forwards;
  }
  .progress[data-percentage="76"] .progress-left .progress-bar {
    animation: 0;
  }
  .progress[data-percentage="77"] .progress-right .progress-bar {
    animation: loading-77 1.5s linear forwards;
  }
  .progress[data-percentage="77"] .progress-left .progress-bar {
    animation: 0;
  }
  .progress[data-percentage="78"] .progress-right .progress-bar {
    animation: loading-78 1.5s linear forwards;
  }
  .progress[data-percentage="78"] .progress-left .progress-bar {
    animation: 0;
  }
  .progress[data-percentage="79"] .progress-right .progress-bar {
    animation: loading-79 1.5s linear forwards;
  }
  .progress[data-percentage="79"] .progress-left .progress-bar {
    animation: 0;
  }
  .progress[data-percentage="80"] .progress-right .progress-bar {
    animation: loading-80 1.5s linear forwards;
  }
  .progress[data-percentage="80"] .progress-left .progress-bar {
    animation: 0;
  }
  .progress[data-percentage="81"] .progress-right .progress-bar {
    animation: loading-81 1.5s linear forwards;
  }
  .progress[data-percentage="81"] .progress-left .progress-bar {
    animation: 0;
  }
  .progress[data-percentage="82"] .progress-right .progress-bar {
    animation: loading-82 1.5s linear forwards;
  }
  .progress[data-percentage="82"] .progress-left .progress-bar {
    animation: 0;
  }
  .progress[data-percentage="83"] .progress-right .progress-bar {
    animation: loading-83 1.5s linear forwards;
  }
  .progress[data-percentage="83"] .progress-left .progress-bar {
    animation: 0;
  }
  .progress[data-percentage="84"] .progress-right .progress-bar {
    animation: loading-84 1.5s linear forwards;
  }
  .progress[data-percentage="84"] .progress-left .progress-bar {
    animation: 0;
  }
  .progress[data-percentage="85"] .progress-right .progress-bar {
    animation: loading-85 1.5s linear forwards;
  }
  .progress[data-percentage="85"] .progress-left .progress-bar {
    animation: 0;
  }
  .progress[data-percentage="86"] .progress-right .progress-bar {
    animation: loading-86 1.5s linear forwards;
  }
  .progress[data-percentage="86"] .progress-left .progress-bar {
    animation: 0;
  }
  .progress[data-percentage="87"] .progress-right .progress-bar {
    animation: loading-87 1.5s linear forwards;
  }
  .progress[data-percentage="87"] .progress-left .progress-bar {
    animation: 0;
  }
  .progress[data-percentage="88"] .progress-right .progress-bar {
    animation: loading-88 1.5s linear forwards;
  }
  .progress[data-percentage="88"] .progress-left .progress-bar {
    animation: 0;
  }
  .progress[data-percentage="89"] .progress-right .progress-bar {
    animation: loading-89 1.5s linear forwards;
  }
  .progress[data-percentage="89"] .progress-left .progress-bar {
    animation: 0;
  }
  .progress[data-percentage="90"] .progress-right .progress-bar {
    animation: loading-90 1.5s linear forwards;
  }
  .progress[data-percentage="90"] .progress-left .progress-bar {
    animation: 0;
  }
  .progress[data-percentage="91"] .progress-right .progress-bar {
    animation: loading-91 1.5s linear forwards;
  }
  .progress[data-percentage="91"] .progress-left .progress-bar {
    animation: 0;
  }
  .progress[data-percentage="92"] .progress-right .progress-bar {
    animation: loading-92 1.5s linear forwards;
  }
  .progress[data-percentage="92"] .progress-left .progress-bar {
    animation: 0;
  }
  .progress[data-percentage="93"] .progress-right .progress-bar {
    animation: loading-93 1.5s linear forwards;
  }
  .progress[data-percentage="93"] .progress-left .progress-bar {
    animation: 0;
  }
  .progress[data-percentage="94"] .progress-right .progress-bar {
    animation: loading-94 1.5s linear forwards;
  }
  .progress[data-percentage="94"] .progress-left .progress-bar {
    animation: 0;
  }
  .progress[data-percentage="95"] .progress-right .progress-bar {
    animation: loading-95 1.5s linear forwards;
  }
  .progress[data-percentage="95"] .progress-left .progress-bar {
    animation: 0;
  }
  .progress[data-percentage="96"] .progress-right .progress-bar {
    animation: loading-86 1.5s linear forwards;
  }
  .progress[data-percentage="96"] .progress-left .progress-bar {
    animation: 0;
  }
  .progress[data-percentage="97"] .progress-right .progress-bar {
    animation: loading-97 1.5s linear forwards;
  }
  .progress[data-percentage="97"] .progress-left .progress-bar {
    animation: 0;
  }
  .progress[data-percentage="98"] .progress-right .progress-bar {
    animation: loading-98 1.5s linear forwards;
  }
  .progress[data-percentage="98"] .progress-left .progress-bar {
    animation: 0;
  }
  .progress[data-percentage="99"] .progress-right .progress-bar {
    animation: loading-99 1.5s linear forwards;
  }
  .progress[data-percentage="99"] .progress-left .progress-bar {
    animation: 0;
  }
  .progress[data-percentage="100"] .progress-right .progress-bar {
    animation: loading-100 1.5s linear forwards;
  }
  .progress[data-percentage="100"] .progress-left .progress-bar {
    animation: 0;
  } */

  @keyframes loading-1 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(3.6);
      transform: rotate(3.6deg);
    }
  }
  @keyframes loading-2 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(7.2);
      transform: rotate(7.2deg);
    }
  }
  @keyframes loading-3 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(10.8);
      transform: rotate(10.8deg);
    }
  }
  @keyframes loading-4 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(14.4);
      transform: rotate(14.4deg);
    }
  }
  @keyframes loading-5 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(18);
      transform: rotate(18deg);
    }
  }
  @keyframes loading-6 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(21.6);
      transform: rotate(21.6deg);
    }
  }
  @keyframes loading-7 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(25.2);
      transform: rotate(25.2deg);
    }
  }
  @keyframes loading-8 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(28.8);
      transform: rotate(28.8deg);
    }
  }
  @keyframes loading-9 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(32.4);
      transform: rotate(32.4deg);
    }
  }
  @keyframes loading-10 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(36);
      transform: rotate(36deg);
    }
  }


  .progress {
    margin-bottom: 1em;
  }