.bar-chart {
    background: #fff;
    height: 2rem;
    margin-bottom: 1rem;
  }
  .bar-chart .bar-chart--inner {
    background: #00000;
    height: 100%;
    display: block;
    margin-bottom: .5rem;
    position: relative;
    will-change: width;
  }
  .bar-chart .bar-chart--inner:after {
    position: absolute;
    top: 0;
    right: 0;
    content: " ";
    width: 0.5rem;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
  }
  .bar-chart[animated] .bar-chart--inner {
    transition: width 1.1s;
  }
  .bar-chart.primary .bar-chart--inner {
    background: #008000;
  }
  .bar-chart.secondary .bar-chart--inner {
    background: #FFFF00;
  }
  .bar-chart.tertiary .bar-chart--inner {
    background: #FF0000;
  }
  
  html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  html, body {
    height: 100%;
  }
  
  body {
    background: #203848;
    color: rgb(7, 7, 7);
    padding: 16px;
    font-weight: 200;
  }