body {
    margin-top: 30px;
    color: #282828;
  }
  
  .box-content {
    width: 100%;
    max-width: 800px;
    height: 200px;
    margin: auto;
    position: relative;
  }
  
  .lines {
    height: 100%;
    position: relative;
  }
  
  .line {
    height: inherit;
    width: 2px;
    position: absolute;
    /* background: rgba(238, 238, 238, 0.6); */
  }
  .line.l--0 {
    left: 4%;
  }
  .line.l--25 {
    left: 26.7%;
  }
  .line.l--50 {
    left: 50%;
  }
  .line.l--75 {
    left: 73%;
  }
  .line.l--100 {
    left: calc(100% - 1px);
  }
  
  .line__label {
    display: block;
    width: 100px;
    text-align: center;
    position: relative;
    bottom: -20px;
    right: -50px;
  }
  .line__label.title {
    text-transform: uppercase;
    font-weight: bold;
  }

  ::-webkit-scrollbar {
    width: 2px;
  }

  

  .box-container{
    width: 100%;
    margin-left: -135px;
    max-width: 500px;
    height: 300px;
    margin: auto;
    position: relative;
    overflow: auto;
    /* background: #333; */
  }
  
  .charts {
    width: 100%;
    height: 100%;
    position: relative;
    top: 0;
    left: 0;
    z-index: 10;
    overflow: auto;
  }
  
  .chart {
    margin:  0 0;
  }
  .chart:first-child {
    margin: 0;
  }
  
  .chart-title {
    margin-bottom: 10px;
    font-size: 14px;
    text-align: left;
    text-transform: uppercase;
  }
  .chart__title {
    display: block;
    margin: 0 0 10px;
    /* font-weight: bold; */
    opacity: 0;
    animation: 1s anim-lightspeed-in ease forwards;
  }
  .chart--prod .chart__title {
    animation-delay: 2.3s;
  }
  .chart--design .chart__title {
    animation-delay: 2.5s;
  }
  
  .chart--horiz {
    overflow: hidden;
  }
  
  .chart__bar__red {
    height: 30px;
    margin-bottom: 10px;
    background: linear-gradient(to left, #cf360f, #f1392c);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    opacity: 0;
    animation: 1s anim-lightspeed-in ease forwards;
  }

  .chart__bar__green {
    height: 30px;
    margin-bottom: 10px;
    background: linear-gradient(to left, #05a805, #4fee41);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    opacity: 0;
    animation: 1s anim-lightspeed-in ease forwards;
  }

  .chart__bar__yellow {
    height: 30px;
    margin-bottom: 10px;
    background: linear-gradient(to left, #f6fa02, #fcea48);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    opacity: 0;
    animation: 1s anim-lightspeed-in ease forwards;
  }


  .chart--dev .chart__bar:nth-of-type(11) {
    animation-delay: 2.7s;
  }
  .chart--dev .chart__bar:nth-of-type(10) {
    animation-delay: 2.5s;
  }
  .chart--dev .chart__bar:nth-of-type(9) {
    animation-delay: 2.3s;
  }
  .chart--dev .chart__bar:nth-of-type(8) {
    animation-delay: 2.1s;
  }
  .chart--dev .chart__bar:nth-of-type(7) {
    animation-delay: 1.9s;
  }
  .chart--dev .chart__bar:nth-of-type(6) {
    animation-delay: 1.7s;
  }
  .chart--dev .chart__bar:nth-of-type(5) {
    animation-delay: 1.5s;
  }
  .chart--dev .chart__bar:nth-of-type(4) {
    animation-delay: 1.3s;
  }
  .chart--dev .chart__bar:nth-of-type(3) {
    animation-delay: 1.1s;
  }
  .chart--dev .chart__bar:nth-of-type(2) {
    animation-delay: 0.9s;
  }
  .chart--dev .chart__bar:nth-of-type(1) {
    animation-delay: 0.7s;
  }
  .chart--prod .chart__bar:nth-of-type(2) {
    animation-delay: 4.2s;
  }
  .chart--prod .chart__bar:nth-of-type(1) {
    animation-delay: 4s;
  }
  .chart--design .chart__bar:nth-of-type(3) {
    animation-delay: 5.6s;
  }
  .chart--design .chart__bar:nth-of-type(2) {
    animation-delay: 5.4s;
  }
  .chart--design .chart__bar:nth-of-type(1) {
    animation-delay: 5.2s;
  }
  
  .chart__label {
    padding-left: 10px;
    line-height: 30px;
    color: rgba(5, 7, 155, 0.63);
  }

  /* @label-width: 150px;
  @number-width: 30px;
  @bar-height: 26px; */

  .label {
    position: relative;
    top: -20px;
    left: 0;
    /* width: @label-width; */
    padding-left: 5px;
    text-align: left;
    font-size: 8px;
    /* line-height: @bar-height; */
    text-transform: uppercase;
    /* font-weight: bold; */
    z-index: 10;
    color: rgb(12, 10, 10);
  }

  .number {
    position: relative;
    top: 0;
    right: 0;
    color: rgb(39, 36, 36);
    /* width: @number-width; */
    padding-right: 10px;
    font-size: 12px;
    /* line-height: @bar-height; */
    font-weight: bold;
    text-align: right;
    z-index: 10;
  }
  
  @keyframes anim-lightspeed-in {
    0% {
      transform: translateX(-100%);
      opacity: 1;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  