body {
    margin: 0;
    padding: 0;
    /* background: #262626; */
}

.center-bar {
    /* margin-top: 145px;
    margin-left: -20px; */
    width: 400px;
    height: 300px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background: #333;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0, 0, 0, .5);
    overflow: auto;
}

h1 {
    margin: 0;
    padding: 0;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.bar-box {
    box-sizing: border-box;
    width: 100%;
    margin: 20px 0;
}

.bar-box p {
    color: #fff;
    text-transform: uppercase;
    margin: 0 0 10px;
    padding: 0;
    font-weight: bold;
    letter-spacing: 1px;
}

.bar-box p:nth-child(2) {
    float: right;
    position: relative;
    top: -25px;
}

.bar {
    background: #262626;
    padding: 4px;
    box-sizing: border-box;
    border: 1px solid #0fffbf;
    border-radius: 2px;
}

.bar-progress {
    background: #0fffb7;
    width: 100%;
    height: 10px;
}