/* body {
    margin: 0px auto;
    padding: 0px;
} */

.progressR {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: #f2f2f2;
}

.barZ {
    background-color: #819FF7;
    width: 0%;
    height: 5px;
    border-radius: 3px;
}

.percentT {
    position: absolute;
    display: inline-block;
    top: 3px;
    left: 48%;
}

#wrapper {
    width: 955px;
    padding: 0px;
    margin: 0px auto;
    text-align: center;
}

hyper {
    text-align: center;
    font-size: 35px;
    margin-top: 60px;
    color: #A9BCF5;
}

pyher p {
    text-align: center;
    margin: 0px;
    font-size: 18px;
    text-decoration: underline;
    color: grey;
}