{% comment %} {% extends 'base.html' %} {% endcomment %}
{% load static %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Dashboard">
    <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
    <title>Voice Home</title>
    <link rel="stylesheet" href="{% static 'lib/bootstrap/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'lib/font-awesome/css/font-awesome.css' %}" />
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/style-responsive.css' %}" rel="stylesheet">
    <link href="{% static 'css/circle9.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/normalize.min.css' %}" rel="stylesheet">
    {% comment %} <link href="{% static 'js/normalize.min.css' %}" rel="stylesheet"> {% endcomment %}
    <link href="{% static 'img/gosoft.png' %}" rel="icon">
    <link href="{% static 'img/gosoft.png' %}" rel="apple-touch-icon">
    <link rel="stylesheet" type="text/css" href="{% static 'css/fileupload.css' %}">
    <script src="{% static 'js/fileupload.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/loadpage.js' %}" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/loadpage.css' %}">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> 
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
  </head>
<body>
  <section id="container">
    {% comment %} <-- All Navigation Bars  --> {% endcomment %}
    <header class="header black-bg">
      <div class="sidebar-toggle-box">
        <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
      </div>
      <!--logo start-->
      <a href="" class="logo"><b>GO<span>SOFT</span></b></a>
      <!--logo end-->
      <div class="nav notify-row" id="top_menu">
        <!--  notification start -->
        <ul class="nav top-menu">
          <!-- settings start -->
          
          <!-- settings end -->
          <!-- inbox dropdown start-->
          
          <!-- inbox dropdown end -->
          <!-- notification dropdown start-->
          <li id="header_notification_bar" class="dropdown">
            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
              <i class="fa fa-bell-o"></i>
              <span class="badge bg-warning">!</span>
            </a>
            <ul class="dropdown-menu extended notification">
              <div class="notify-arrow notify-arrow-yellow"></div>
              <li>
                <p class="yellow">You have new notifications</p>
              </li>
              <li>
                <a href="#">
                  <span class="label label-danger"><i class="fa fa-bolt"></i></span>
                  Server Overloaded.
                  <span class="small italic">4 mins.</span>
                  </a>
              </li>
              
              <li>
                <a href="#">See all notifications</a>
              </li>
            </ul>
          </li>
          <!-- notification dropdown end -->
        </ul>
        <!--  notification end -->
      </div>
      <div class="top-menu">
        <ul class="nav pull-right top-menu">
          <li><a class="logout" href="#">Logout</a></li>
        </ul>
      </div>
    </header>
    {% comment %} <-- All Navigation Bars  --> {% endcomment %}
    
    {% comment %} Side panel  {% endcomment %}
    <aside>
      <div id="sidebar" class="nav-collapse">
        <ul class="sidebar-menu" id="nav-accordion">
          <p class="centered"><a href="#"><img src="{% static 'img/user.png' %}" class="img-circle" width="80"></a></p>
          <h4 class="centered">เค๊าเอง</h4>
          <li class="mt">
            <a href="../">
              <i class="fa fa-dashboard"></i>
              <span>Dashboard</span>
            </a>
          </li>
          <br>
          <li class="sub-menu">
            <a href="javascript:;">
              <i class="fa fa-tty"></i>
              <span>VOICE</span>
            </a>
            <ul class="sub">
              <li><a href="../voicemanual">Manual CheckList</a></li>
              <li><a href="../voiceAuto/">voice service status </a></li>
              <li><a href="../voicedataTable/">ดูข้อมูลย้อนหลัง</a></li>
              {% comment %} <li><a href="#">Trunk Status Cisco CUCM</a></li> {% endcomment %}
            </ul>
          </li>
          {% comment %} <li class="mt">
            <a href="#">
              <i class="fa fa-credit-card-alt"></i>
              <span>AP Radio Reset</span>
            </a>
          </li> {% endcomment %}
          <li class="sub-menu">
            <a href="javascript:;">
              <i class="fa fa-rss"></i>
              <span>AP Radio Reset</span>
              </a>
            <ul class="sub">
              {% comment %} <li><a href="../wireless">WIIRELESS ร้าน</a></li> {% endcomment %}
              <li><a href="../controllerhealth">WIIRELESS Controller</a></li>
              <li><a href="../controllerAP">Controller AP Down Count</a></li>
            </ul>
          </li>
          <li class="mt">
            <a href="#">
              <i class="fa fa-server"></i>
              <span>Router And Switch</span>
            </a>
          </li>
          <br>
          <li class="sub-menu">
            <a href="javascript:;">
              <i class="fa fa-rss"></i>
              <span>WirelessOffice & Warehouse</span>
              </a>
            <ul class="sub">
              <li><a href="../wireless">WIIRELESS ร้าน</a></li>
              
              <li><a href="#">Data Tables</a></li>
            </ul>
          </li>
          <br>
          <li class="sub-menu">
            <a href="javascript:;">
              <i class="fa fa-exchange"></i>
              <span>F5 Load Balancer</span>
              </a>
            <ul class="sub">
              <li><a href="../f5/">F5 Data</a></li>
            </ul>
          </li>
          
          
          <li class="sub-menu">
            <a href="javascript:;">
              <i class="fa fa-exchange"></i>
              <span>SDWAN</span>
              </a>
            <ul class="sub">
              <li><a href="../sdwan/">Overview</a></li>
            </ul>
          </li>
          
        </ul>
      </div>
    </aside>
    {% comment %} Side panel  {% endcomment %}

    {% comment %} section ส่วนข้อมูลหลักที่นำมาแสดง {% endcomment %}
    
    <section id="main-content">
      <div class="wrapper">
        <div class="col-md-9 main-chart">
          <div class="row">
            <span>  <h3><i class="fa fa-angle-right"></i> Wireless Controller Count AP Down</h3></span>
            {% comment %} DISK CAPACITY ON SERVER:{% endcomment %}
            {% for count in  countAP %}
            {% if count.wlcCount == '1' %}
              <div class="col-md-4 col-sm-4 mb">
                <div class="grey-panel pn donut-chart">
                  <div class="grey-header">
                    <h5>{{count.wlcName}} </h5>
                  </div>
                  <div >
                    <span><i class="far fa-grin-beam" style="font-size:120px"></i></span>  
                  </div>
                  <footer>
                    <div class="pull-center">
                      <h4><i class="fa fa-check-circle" style="color:green;" ></i> AP Down:  {{count.wlcCount}}</h4>
                    </div>                               
                  </footer>
                </div>
              </div>
            {% elif count.wlcCount == '2' %}
              <div class="col-md-4 col-sm-4 mb">
                <div class="grey-panel pn donut-chart">
                  <div class="grey-header">
                    <h5>{{count.wlcName}} </h5>
                  </div>
                  <div >
                    <span><i class="far fa-grin-alt" style="font-size:120px"></i></span>  
                  </div>
                  <footer>
                    <div class="pull-center">
                      <h4><i class="fa fa-check-circle" style="color:green;" ></i> AP Down:  {{count.wlcCount}}</h4>
                    </div>                               
                  </footer>
                </div>
              </div>
            {% elif count.wlcCount == '3' %}
              <div class="col-md-4 col-sm-4 mb">
                <div class="grey-panel pn donut-chart">
                  <div class="grey-header">
                    <h5>{{count.wlcName}} </h5>
                  </div>
                  <div >
                    <span><i class="far fa-frown-open" style="font-size:120px"></i></span>  
                  </div>
                  <footer>
                    <div class="pull-center">
                      <h4><i class="fa fa-check-circle" style="color:green;" ></i> AP Down:  {{count.wlcCount}}</h4>
                    </div>                               
                  </footer>
                </div>
              </div>                   
            {% else %}
             <div class="col-md-4 col-sm-4 mb">
                <div class="grey-panel pn donut-chart">
                  <div class="grey-header">
                    <h5>{{count.wlcName}} </h5>
                  </div>
                  <div >
                    <span><i class="far fa-frown" style="font-size:120px"></i></span>  
                  </div>
                  <footer>
                    <div class="pull-center">
                      <h4><i class="fa fa-check-circle" style="color:green;" ></i> AP Down:  {{count.wlcCount}}</h4>
                    </div>                               
                  </footer>
                </div>
              </div>         
            {% endif %}           
            {% endfor %}  
          </div>
        </div>
      </div>

    </section>
    



    {% comment %} section ส่วนข้อมูลหลักที่นำมาแสดง {% endcomment %}
  </section>  
  <!-- js placed at the end of the document so the pages load faster -->
  {% comment %} <script src="{% static 'js/jquery341.min.js' %}"></script> {% endcomment %}
  <script type="text/javascript" language="javascript" src="{% static 'lib/advanced-datatable/js/jquery.js' %}"></script>
  <script src="{% static 'lib/bootstrap/js/bootstrap.min.js' %}"></script>
  <script class="include" type="text/javascript" src="{% static 'lib/jquery.dcjqaccordion.2.7.js' %}"></script>
  <script src="{% static 'lib/jquery.scrollTo.min.js' %}"></script>
  <script src="{% static 'lib/jquery.nicescroll.js' %}" type="text/javascript"></script>
  <script type="text/javascript" language="javascript" src="{% static 'lib/advanced-datatable/js/jquery.dataTables.js' %}"></script>
  <script type="text/javascript" src="{% static 'lib/advanced-datatable/js/DT_bootstrap.js' %}"></script>
  <!--common script for all pages-->
  <script src="{% static 'lib/common-scripts.js' %}"></script>
  <!--script for this page-->
  <script type="text/javascript">

    $(document).ready(function() {
      /*
       * Insert a 'details' column to the table
       */
      var nCloneTh = document.createElement('th');
      var nCloneTd = document.createElement('td');
      nCloneTd.innerHTML = '<img src="{% static "lib/advanced-datatable/images/details_open.png" %}">';
      nCloneTd.className = "center";

      $('#hidden-table-disk thead tr').each(function() {
        this.insertBefore(nCloneTh, this.childNodes[-1]);
      });

      $('#hidden-table-disk tbody tr').each(function() {
        this.insertBefore(nCloneTd.cloneNode(true), this.childNodes[-1]);
      });

      var oTable = $('#hidden-table-disk').dataTable({
        "aoColumnDefs": [{
          "bSortable": false,
          "aTargets": [0]
        }],
        "aaSorting": [
          [4, 'desc']
        ]
      });
    });
  </script>

  <script type="text/javascript">

    $(document).ready(function() {
      /*
       * Insert a 'details' column to the table
       */
      var nCloneTh = document.createElement('th');
      var nCloneTd = document.createElement('td');
      nCloneTd.innerHTML = '<img src="{% static "lib/advanced-datatable/images/details_open.png" %}">';
      nCloneTd.className = "center";

      $('#hidden-table-asterisk thead tr').each(function() {
        this.insertBefore(nCloneTh, this.childNodes[-1]);
      });

      $('#hidden-table-asterisk tbody tr').each(function() {
        this.insertBefore(nCloneTd.cloneNode(true), this.childNodes[-1]);
      });

      var oTable = $('#hidden-table-asterisk').dataTable({
        "aoColumnDefs": [{
          "bSortable": false,
          "aTargets": [0]
        }],
        "aaSorting": [
          [4, 'desc']
        ]
      });
    });
  </script>

  <script type="text/javascript">

    $(document).ready(function() {
      /*
       * Insert a 'details' column to the table
       */
      var nCloneTh = document.createElement('th');
      var nCloneTd = document.createElement('td');
      nCloneTd.innerHTML = '<img src="{% static "lib/advanced-datatable/images/details_open.png" %}">';
      nCloneTd.className = "center";

      $('#hidden-table-httpd thead tr').each(function() {
        this.insertBefore(nCloneTh, this.childNodes[-1]);
      });

      $('#hidden-table-httpd tbody tr').each(function() {
        this.insertBefore(nCloneTd.cloneNode(true), this.childNodes[-1]);
      });

      var oTable = $('#hidden-table-httpd').dataTable({
        "aoColumnDefs": [{
          "bSortable": false,
          "aTargets": [0]
        }],
        "aaSorting": [
          [4, 'desc']
        ]
      });
    });
  </script>


  <style>
    .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    }

    .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
    }

    .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    }

    .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    }

    input:checked + .slider {
    background-color: #2196F3;
    }

    input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
    }

    input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
    }

    /* Rounded sliders */
    .slider.round {
    border-radius: 34px;
    }

    .slider.round:before {
    border-radius: 50%;
    }
  </style>

  <script>
    function updatestatus(){
        var x = document.getElementById("checked");
        if (x.checked){
            document.getElementById("state").innerHTML = "UP";
        }
        
    }
  </script>

  <script>
    $('#myModal').on('hidden.bs.modal', function(){
      $('#modal2').modal('show')
    })
  </script>


</body>
</html>