{% comment %} {% extends 'base.html' %} {% endcomment %}
{% load static %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Dashboard">
    <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
    <title>Voice Home</title>
    <link rel="stylesheet" href="{% static 'lib/bootstrap/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'lib/font-awesome/css/font-awesome.css' %}" />
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/style-responsive.css' %}" rel="stylesheet">
    <link href="{% static 'css/circle9.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/normalize.min.css' %}" rel="stylesheet">
    {% comment %} <link href="{% static 'js/normalize.min.css' %}" rel="stylesheet"> {% endcomment %}
    <link href="{% static 'img/gosoft.png' %}" rel="icon">
    <link href="{% static 'img/gosoft.png' %}" rel="apple-touch-icon">
    <link rel="stylesheet" type="text/css" href="{% static 'css/fileupload.css' %}">
    <script src="{% static 'js/fileupload.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/loadpage.js' %}" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/loadpage.css' %}">

    <script src="{% static 'js/foldcard.js' %}" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/foldcard.css' %}">
    <script src="{% static 'js/loadpage.js' %}" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/loadpage.css' %}">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
      .button-loadin {
        background-color: #4CAF50; /* Green */
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
      }
      .button5 {background-color: #555555;}
      .box-view{
          background-color:#66CC33;
          color:white;
          text-align: center;
          padding: 10px;
          margin-right: 5px
      }
      .round {
        border-radius: 50%;
      } 
    </style>

    <link rel="stylesheet" type="text/css" href="{% static 'css/datatable_sdwan.css' %}">
    <script src="{% static 'js/datatable_sdwan.js' %}" type="text/javascript"></script>
    
    <style>
      table {
        border-collapse: collapse;
        border-spacing: 0;
        width: 800px;
        border: 1px solid #ddd;
      }

      th, td {
        text-align: left;
        padding: 8px;
      }

      tr:nth-child(even){background-color: #f2f2f2}
    </style>
    {% comment %} script Scroll text {% endcomment %}
    <style>
      .example1 {
      height: 20px;	
      overflow: hidden;
      position: relative;
      }
      .example1 h5 {
      font-size: 2em;
      color: limegreen;
      position: absolute;
      width: 100%;
      height: 100%;
      margin: 0;
      line-height: 20px;
      text-align: center;
      /* Starting position */
      -moz-transform:translateX(100%);
      -webkit-transform:translateX(100%);	
      transform:translateX(100%);
      /* Apply animation to this element */	
      -moz-animation: example1 15s linear infinite;
      -webkit-animation: example1 15s linear infinite;
      animation: example1 15s linear infinite;
      }
      /* Move it (define the animation) */
      @-moz-keyframes example1 {
      0%   { -moz-transform: translateX(100%); }
      100% { -moz-transform: translateX(-100%); }
      }
      @-webkit-keyframes example1 {
      0%   { -webkit-transform: translateX(100%); }
      100% { -webkit-transform: translateX(-100%); }
      }
      @keyframes example1 {
      0%   { 
      -moz-transform: translateX(100%); /* Firefox bug fix */
      -webkit-transform: translateX(100%); /* Firefox bug fix */
      transform: translateX(100%); 		
      }
      100% { 
      -moz-transform: translateX(-100%); /* Firefox bug fix */
      -webkit-transform: translateX(-100%); /* Firefox bug fix */
      transform: translateX(-100%); 
      }
      }
    </style>
    {% comment %} script Scroll text {% endcomment %}
  </head>
<body>
  <section id="container">
    {% comment %} <-- All Navigation Bars  --> {% endcomment %}
    <header class="header black-bg">
      <div class="sidebar-toggle-box">
        <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
      </div>
      <!--logo start-->
      <a href="" class="logo"><b>GO<span>SOFT</span></b></a>
      <!--logo end-->
      <div class="nav notify-row" id="top_menu">
        <!--  notification start -->
        <ul class="nav top-menu">
          <!-- settings start -->
          
          <!-- settings end -->
          <!-- inbox dropdown start-->
          
          <!-- inbox dropdown end -->
          <!-- notification dropdown start-->
          <li id="header_notification_bar" class="dropdown">
            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
              <i class="fa fa-bell-o"></i>
              <span class="badge bg-warning">!</span>
            </a>
            <ul class="dropdown-menu extended notification">
              <div class="notify-arrow notify-arrow-yellow"></div>
              <li>
                <p class="yellow">You have new notifications</p>
              </li>
              <li>
                <a href="#">
                  <span class="label label-danger"><i class="fa fa-bolt"></i></span>
                  Server Overloaded.
                  <span class="small italic">4 mins.</span>
                  </a>
              </li>
              
              <li>
                <a href="#">See all notifications</a>
              </li>
            </ul>
          </li>
          <!-- notification dropdown end -->
        </ul>
        <!--  notification end -->
      </div>
      <div class="top-menu">
        <ul class="nav pull-right top-menu">
          <li><a class="logout" href="#">Logout</a></li>
        </ul>
      </div>
    </header>
    {% comment %} <-- All Navigation Bars  --> {% endcomment %}
    
    {% comment %} Side panel  {% endcomment %}
    <aside>
      <div id="sidebar" class="nav-collapse">
        <ul class="sidebar-menu" id="nav-accordion">
          <p class="centered"><a href="#"><img src="{% static 'img/user.png' %}" class="img-circle" width="80"></a></p>
          <h4 class="centered">เค๊าเอง</h4>
          <li class="mt">
            <a href="../">
              <i class="fa fa-dashboard"></i>
              <span>Dashboard</span>
            </a>
          </li>
          <br>
          <li class="sub-menu">
            <a href="javascript:;">
              <i class="fa fa-tty"></i>
              <span>VOICE</span>
            </a>
            <ul class="sub">
              <li><a href="../voicemanual">Manual CheckList</a></li>
              <li><a href="../voiceAuto/">voice service status </a></li>
              <li><a href="../voicedataTable/">ดูข้อมูลย้อนหลัง</a></li>
              {% comment %} <li><a href="#">Trunk Status Cisco CUCM</a></li> {% endcomment %}
            </ul>
          </li>
          {% comment %} <li class="mt">
            <a href="#">
              <i class="fa fa-credit-card-alt"></i>
              <span>AP Radio Reset</span>
            </a>
          </li> {% endcomment %}
          <li class="sub-menu">
            <a href="javascript:;">
              <i class="fa fa-rss"></i>
              <span>AP Radio Reset</span>
              </a>
            <ul class="sub">
              {% comment %} <li><a href="../wireless">WIIRELESS ร้าน</a></li> {% endcomment %}
              <li><a href="../controllerhealth">WIIRELESS Controller</a></li>
              <li><a href="../controllerAP">Controller AP Down Count</a></li>
            </ul>
          </li>
          <li class="mt">
            <a href="#">
              <i class="fa fa-server"></i>
              <span>Router And Switch</span>
            </a>
          </li>
          <br>
          <li class="sub-menu">
            <a href="javascript:;">
              <i class="fa fa-rss"></i>
              <span>WirelessOffice & Warehouse</span>
              </a>
            <ul class="sub">
              <li><a href="../wireless">WIIRELESS ร้าน</a></li>
              
              <li><a href="#">Data Tables</a></li>
            </ul>
          </li>
          <br>
          <li class="sub-menu">
            <a href="javascript:;">
              <i class="fa fa-exchange"></i>
              <span>F5 Load Balancer</span>
              </a>
            <ul class="sub">
              <li><a href="../f5/">F5 Data</a></li>
            </ul>
          </li>
          
          
          <li class="sub-menu">
            <a href="javascript:;">
              <i class="fa fa-exchange"></i>
              <span>SDWAN</span>
              </a>
            <ul class="sub">
              <li><a href="../sdwan/">Overview</a></li>
            </ul>
          </li>
          
        </ul>
      </div>
    </aside>
    {% comment %} Side panel  {% endcomment %}

    {% comment %} section ส่วนข้อมูลหลักที่นำมาแสดง {% endcomment %}
    
    <section id="main-content">
        
        <div class="container">
          <br>
          <br>
          <br>
          <br>
          <!-- Main component for a primary marketing message or call to action -->
          <div class="jumbotron">
            <h1 class="display-4">Network Overview</h1>
            <div class="example1">
              
                <span>
                  {% if dataAlert %}
                    <h5>{{dataAlert.decription}} on {{dataAlert.noticeTime}}</h5>
                  {% else %}
                  {% endif %}
                  
                  
                </span>
              
              
            </div>
            
            <hr class="my-4">
            <div style="text-align:center;">
              <form method="POST">
                {% csrf_token %} 
                  <button class="button-loadin button5" type="submit">check status</button>
                  
              </form>
              
            </div>
             
            <div class="row">
              <div class="col-md-6">
                <div class="card">
                  <div class="card-block">
                    <h3 class="card-text box-view float-left">Edges</h3>
                  </div>
                  <div class="card-title" style="text-align:center;"><h3>Edges Overview</h3></div>
                  <br>
                  
                  <div class="card-text" >
                    <div class="row" style="text-align:center;">
                      {% if edge %}
                        <div class="col-sm-3"><strong>{{edge.outOfActivated}}</strong><h6>Activated</h6></div>
                        <div class="col-sm-3"><strong>{{edge.down}}</strong><h6>Down</h6></div>
                        <div class="col-sm-3"><strong>{{edge.degraded}}</strong><h6>Degraded</h6></div>
                        <div class="col-sm-3"><strong>{{edge.connected}}</strong><h6>Connected</h6></div>

                      {% else %}
                        <div class="col-sm-3"><strong>0</strong><h6>Activated</h6></div>
                        <div class="col-sm-3"><strong>0</strong><h6>Down</h6></div>
                        <div class="col-sm-3"><strong>0</strong><h6>Degraded</h6></div>
                        <div class="col-sm-3"><strong>0</strong><h6>Connected</h6></div>
                      {% endif %}
                      
                    </div>                  
                  </div>
                  <div class="card-footer">
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="card">
                  <div class="card-block">
                    <h3 class="card-text box-view float-left">Links</h3>
                  </div>
                  <div class="card-title" style="text-align:center;"><h3>Links Overview</h3></div>
                  <br>
                  
                  <div class="card-text" >
                    <div class="row" style="text-align:center;">
                      
                      {% if link %}
                        <div class="col-sm-3"><strong>{{link.alllinks}}</strong></div>
                        <div class="col-sm-3"><strong>{{link.down}}</strong><h6>Down</h6></div>
                        <div class="col-sm-3"><strong>{{link.unstable}}</strong><h6>Ustable</h6></div>
                        <div class="col-sm-3"><strong>{{link.stable}}</strong><h6>Stable</h6></div>

                      {% else %}
                        <div class="col-sm-3"><strong>0</strong></div>
                        <div class="col-sm-3"><strong>0</strong><h6>Down</h6></div>
                        <div class="col-sm-3"><strong>0</strong><h6>Ustable</h6></div>
                        <div class="col-sm-3"><strong>0</strong><h6>Stable</h6></div>
                      {% endif %}                     
                    </div>                  
                  </div>
                  <div class="card-footer">
                  </div>
                </div>
              </div>
              <div class="col-lg-12">
              <hr class="my-4">
              <br>
              
              <h3 class="display-4">Data</h3>
              <hr class="my-4">

              <div class="row mt">
                  <div class="content-panel">
                    <div class="adv-table">
                      <table cellpadding="0" cellspacing="0" border="5" class="display table table-bordered" id="hidden-table-disk">
                        <thead>
                          <tr>
                            <th>Edges</th>
                            <th class="hidden-phone">Status</th>
                            <th class="hidden-phone">HA</th>
                            <th class="hidden-phone">Connected Links</th>
                            <th class="hidden-phone">Created Date</th>
                            <th class="hidden-phone">Activated</th>
                            <th class="hidden-phone">Last Contact</th>
                          </tr>
                        </thead>
                        <tbody>
                        {% for data in allstate  %}
                          <tr>
                            <th>{{data.edges}}</th>
                            <th class="center hidden-phone">{{data.status}}</th>
                            <th class="center hidden-phone">{{data.ha}}</th>
                            <th class="center hidden-phone">{{data.connectedLinks}}</th>
                            <th class="center hidden-phone">{{data.createdDate}}</th>
                            <th class="center hidden-phone">{{data.activate}}</th>
                            <th class="center hidden-phone">{{data.lastContact}}</th>
                          </tr>
                        {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        
        </div>
        {% comment %} <div id="loading"></div> {% endcomment %}
        
    </section>
    



    {% comment %} section ส่วนข้อมูลหลักที่นำมาแสดง {% endcomment %}
  </section>  
  <!-- js placed at the end of the document so the pages load faster -->
  <script src="{% static 'lib/jquery/jquery.min.js' %}"></script>
  <script type="text/javascript" language="javascript" src="{% static 'lib/advanced-datatable/js/jquery.js' %}"></script>
  <script src="{% static 'lib/bootstrap/js/bootstrap.min.js' %}"></script>
  <script class="include" type="text/javascript" src="{% static 'lib/jquery.dcjqaccordion.2.7.js' %}"></script>
  <script src="{% static 'lib/jquery.scrollTo.min.js' %}"></script>
  <script src="{% static 'lib/jquery.nicescroll.js' %}" type="text/javascript"></script>
  <script type="text/javascript" language="javascript" src="{% static 'lib/advanced-datatable/js/jquery.dataTables.js' %}"></script>
  <script type="text/javascript" src="{% static 'lib/advanced-datatable/js/DT_bootstrap.js' %}"></script>
  <!--common script for all pages-->
  <script src="{% static 'lib/common-scripts.js' %}"></script>
  <!--script for this page-->
  <script type="text/javascript">

    $(document).ready(function() {
      /*
       * Insert a 'details' column to the table
       */
      var nCloneTh = document.createElement('th');
      var nCloneTd = document.createElement('td');
      nCloneTd.innerHTML = '<img src="{% static "lib/advanced-datatable/images/details_open.png" %}">';
      nCloneTd.className = "center";

      $('#hidden-table-disk thead tr').each(function() {
        this.insertBefore(nCloneTh, this.childNodes[-1]);
      });

      $('#hidden-table-disk tbody tr').each(function() {
        this.insertBefore(nCloneTd.cloneNode(true), this.childNodes[-1]);
      });

      var oTable = $('#hidden-table-disk').dataTable({
        "aoColumnDefs": [{
          "bSortable": false,
          "aTargets": [0]
        }],
        "aaSorting": [
          [4, 'desc']
        ]
      });
    });
  </script>

  <script type="text/javascript">

    $(document).ready(function() {
      /*
       * Insert a 'details' column to the table
       */
      var nCloneTh = document.createElement('th');
      var nCloneTd = document.createElement('td');
      nCloneTd.innerHTML = '<img src="{% static "lib/advanced-datatable/images/details_open.png" %}">';
      nCloneTd.className = "center";

      $('#hidden-table-asterisk thead tr').each(function() {
        this.insertBefore(nCloneTh, this.childNodes[-1]);
      });

      $('#hidden-table-asterisk tbody tr').each(function() {
        this.insertBefore(nCloneTd.cloneNode(true), this.childNodes[-1]);
      });

      var oTable = $('#hidden-table-asterisk').dataTable({
        "aoColumnDefs": [{
          "bSortable": false,
          "aTargets": [0]
        }],
        "aaSorting": [
          [4, 'desc']
        ]
      });
    });
  </script>

  <script type="text/javascript">

    $(document).ready(function() {
      /*
       * Insert a 'details' column to the table
       */
      var nCloneTh = document.createElement('th');
      var nCloneTd = document.createElement('td');
      nCloneTd.innerHTML = '<img src="{% static "lib/advanced-datatable/images/details_open.png" %}">';
      nCloneTd.className = "center";

      $('#hidden-table-httpd thead tr').each(function() {
        this.insertBefore(nCloneTh, this.childNodes[-1]);
      });

      $('#hidden-table-httpd tbody tr').each(function() {
        this.insertBefore(nCloneTd.cloneNode(true), this.childNodes[-1]);
      });

      var oTable = $('#hidden-table-httpd').dataTable({
        "aoColumnDefs": [{
          "bSortable": false,
          "aTargets": [0]
        }],
        "aaSorting": [
          [4, 'desc']
        ]
      });
    });
  </script>


  <style>
    .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    }

    .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
    }

    .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    }

    .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    }

    input:checked + .slider {
    background-color: #2196F3;
    }

    input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
    }

    input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
    }

    /* Rounded sliders */
    .slider.round {
    border-radius: 34px;
    }

    .slider.round:before {
    border-radius: 50%;
    }
  </style>

  <script>
    function updatestatus(){
        var x = document.getElementById("checked");
        if (x.checked){
            document.getElementById("state").innerHTML = "UP";
        }
        
    }
  </script>

  <script>
    $('#myModal').on('hidden.bs.modal', function(){
      $('#modal2').modal('show')
    })
  </script>


</body>
</html>