<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>test SSH</title>
</head>
<body>
    <h1>test SSH</h1>
    <p>Current status:</p>
    <pre>{{ output }}</pre>
    <pre>{{ output2 }}</pre>
</body>
</html>