{% comment %} {% extends 'base.html' %} {% endcomment %}
{% load static %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Dashboard">
    <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
    {% comment %} <link rel="icon" type="image/png" href="../assets/img/favicon.ico"> {% endcomment %}
    <title>Voice Home</title>
    {% comment %} <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' /> {% endcomment %}
    <link rel="stylesheet" href="{% static 'lib/bootstrap/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'lib/font-awesome/css/font-awesome.css' %}" />
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/style-responsive.css' %}" rel="stylesheet">
    <link href="{% static 'css/tablefordisk.min.css' %}" rel="stylesheet" id="bootstrap-css">
    <link href="{% static 'css/circle9.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/normalize.min.css' %}" rel="stylesheet">
    {% comment %} <link href="{% static 'css/graphshoz.css' %}" rel="stylesheet"> {% endcomment %}
    <link href="{% static 'css/hozBarChart.css' %}" rel="stylesheet">
    <link href="{% static 'css/mychart.css' %}" rel="stylesheet">
    {% comment %} <link href="{% static 'js/normalize.min.css' %}" rel="stylesheet"> {% endcomment %}
    <link href="{% static 'img/gosoft.png' %}" rel="icon">
    <link href="{% static 'img/gosoft.png' %}" rel="apple-touch-icon">
    <link rel="stylesheet" type="text/css" href="{% static 'css/datatable_sdwan.css' %}">
    <script src="{% static 'js/datatable_sdwan.js' %}" type="text/javascript"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/style-responsive.css' %}" rel="stylesheet">
    <link href="{% static 'css/circle9.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/normalize.min.css' %}" rel="stylesheet">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>

    <style>
      table {
        border-collapse: collapse;
        border-spacing: 0;
        width: 800px;
        border: 1px solid #ddd;
      }

      th, td {
        text-align: left;
        padding: 8px;
      }

      tr:nth-child(even){background-color: #f2f2f2}
    </style>
    {% comment %} script Scroll text {% endcomment %}
    <style>
      .example1 {
      height: 20px;	
      overflow: hidden;
      position: relative;
      }
      .example1 h5 {
      font-size: 2em;
      color: limegreen;
      position: absolute;
      width: 100%;
      height: 100%;
      margin: 0;
      line-height: 20px;
      text-align: center;
      /* Starting position */
      -moz-transform:translateX(100%);
      -webkit-transform:translateX(100%);	
      transform:translateX(100%);
      /* Apply animation to this element */	
      -moz-animation: example1 15s linear infinite;
      -webkit-animation: example1 15s linear infinite;
      animation: example1 15s linear infinite;
      }
      /* Move it (define the animation) */
      @-moz-keyframes example1 {
      0%   { -moz-transform: translateX(100%); }
      100% { -moz-transform: translateX(-100%); }
      }
      @-webkit-keyframes example1 {
      0%   { -webkit-transform: translateX(100%); }
      100% { -webkit-transform: translateX(-100%); }
      }
      @keyframes example1 {
      0%   { 
      -moz-transform: translateX(100%); /* Firefox bug fix */
      -webkit-transform: translateX(100%); /* Firefox bug fix */
      transform: translateX(100%); 		
      }
      100% { 
      -moz-transform: translateX(-100%); /* Firefox bug fix */
      -webkit-transform: translateX(-100%); /* Firefox bug fix */
      transform: translateX(-100%); 
      }
      }
    </style>

  </head>
<body>
  <section id="container">
    {% comment %} <-- All Navigation Bars  --> {% endcomment %}
    <header class="header black-bg">
      <div class="sidebar-toggle-box">
        <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
      </div>
      <!--logo start-->
      <a href="" class="logo"><b>GO<span>SOFT</span></b></a>
      <!--logo end-->
      <div class="nav notify-row" id="top_menu">
        <!--  notification start -->
        <ul class="nav top-menu">
          <!-- settings start -->
          
          <!-- settings end -->
          <!-- inbox dropdown start-->
          
          <!-- inbox dropdown end -->
          <!-- notification dropdown start-->
          <li id="header_notification_bar" class="dropdown">
            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
              <i class="fa fa-bell-o"></i>
              <span class="badge bg-warning">!</span>
            </a>
            <ul class="dropdown-menu extended notification">
              <div class="notify-arrow notify-arrow-yellow"></div>
              <li>
                <p class="yellow">You have new notifications</p>
              </li>
              <li>
                <a href="#">
                  <span class="label label-danger"><i class="fa fa-bolt"></i></span>
                  Server Overloaded.
                  <span class="small italic">4 mins.</span>
                  </a>
              </li>
              
              <li>
                <a href="#">See all notifications</a>
              </li>
            </ul>
          </li>
          <!-- notification dropdown end -->
        </ul>
        <!--  notification end -->
      </div>
      <div class="top-menu">
        <ul class="nav pull-right top-menu">
          <li><a class="logout" href="#">Logout</a></li>
        </ul>
      </div>
    </header>
    {% comment %} <-- All Navigation Bars  --> {% endcomment %}
    
    {% comment %} Side panel  {% endcomment %}
    <aside>
      <div id="sidebar" class="nav-collapse">
        <ul class="sidebar-menu" id="nav-accordion">
          <p class="centered"><a href="#"><img src="{% static 'img/user.png' %}" class="img-circle" width="80"></a></p>
          <h4 class="centered">เค๊าเอง</h4>
          <li class="mt">
            <a href="../">
              <i class="fa fa-dashboard"></i>
              <span>Dashboard</span>
            </a>
          </li>
          <br>
          <li class="sub-menu">
            <a href="javascript:;">
              <i class="fa fa-tty"></i>
              <span>VOICE</span>
            </a>
            <ul class="sub">
              <li><a href="../voicemanual">Manual CheckList</a></li>
              <li><a href="../voiceAuto/">voice service status </a></li>
              <li><a href="../voicedataTable/">ดูข้อมูลย้อนหลัง</a></li>
              {% comment %} <li><a href="#">Trunk Status Cisco CUCM</a></li> {% endcomment %}
            </ul>
          </li>
          {% comment %} <li class="mt">
            <a href="#">
              <i class="fa fa-credit-card-alt"></i>
              <span>AP Radio Reset</span>
            </a>
          </li> {% endcomment %}
          <li class="sub-menu">
            <a href="javascript:;">
              <i class="fa fa-rss"></i>
              <span>AP Radio Reset</span>
              </a>
            <ul class="sub">
              {% comment %} <li><a href="../wireless">WIIRELESS ร้าน</a></li> {% endcomment %}
              <li><a href="../controllerhealth">WIIRELESS Controller</a></li>
              <li><a href="../controllerAP">Controller AP Down Count</a></li>
            </ul>
          </li>
          <li class="mt">
            <a href="#">
              <i class="fa fa-server"></i>
              <span>Router And Switch</span>
            </a>
          </li>
          <br>
          <li class="sub-menu">
            <a href="javascript:;">
              <i class="fa fa-rss"></i>
              <span>WirelessOffice & Warehouse</span>
              </a>
            <ul class="sub">
              <li><a href="../wireless">WIIRELESS ร้าน</a></li>
              
              <li><a href="#">Data Tables</a></li>
            </ul>
          </li>
          <br>
          <li class="sub-menu">
            <a href="javascript:;">
              <i class="fa fa-exchange"></i>
              <span>F5 Load Balancer</span>
              </a>
            <ul class="sub">
              <li><a href="../f5/">F5 Data</a></li>
            </ul>
          </li>
          
          
          <li class="sub-menu">
            <a href="javascript:;">
              <i class="fa fa-exchange"></i>
              <span>SDWAN</span>
              </a>
            <ul class="sub">
              <li><a href="../sdwan/">Overview</a></li>
            </ul>
          </li>
          
        </ul>
      </div>
    </aside>
    {% comment %} Side panel  {% endcomment %}

    {% comment %} section ส่วนข้อมูลหลักที่นำมาแสดง {% endcomment %}
    
    <section id="main-content">
      <section class="wrapper">
        <div class="row">
          <div class="col-md-12 main-chart">
              <div class="jumbotron">
                <h3 class="display-5">Asterisk Disk Capacity</h3>
                <div class="table-responsive">
                  <table class="table table-condensed">
                    <thead>
                      <tr>
                        <th>Hostname</th>
                        <th>IP Address</th>
                        <th>Status</th>
                        <th>Disk Used</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for disk  in diskcapstatus  %}
                        {% if disk.status == 'Pass' %}
                          <tr class="clickable waring dropdown-deliverable" data-for="#details_1">
                            <td>{{disk.hostname}}</td>
                            <td>{{disk.ip}}</td>
                            <td>{{disk.status}}</td>
                            <td>
                              <div class="progressx">
                                <div class="progressx-bar progressx-bar-success" style="width: {{disk.diskused}}%;">
                                  {{disk.diskused}}%
                                </div>
                              </div>
                            </td>
                          </tr>
                        {% elif disk.status == 'Alert' %}
                          <tr class="clickable waring dropdown-deliverable" data-for="#details_1">
                            <td>{{disk.hostname}}</td>
                            <td>{{disk.ip}}</td>
                            <td>{{disk.status}}</td>
                            <td>
                              <div class="progressx">
                                <div class="progressx-bar progressx-bar-warning" style="width: {{disk.diskused}}%;">
                                  {{disk.diskused}}%
                                </div>
                              </div>
                            </td>
                          </tr>
                        {% else %}
                          <tr class="clickable waring dropdown-deliverable" data-for="#details_1">
                            <td>{{disk.hostname}}</td>
                            <td>{{disk.ip}}</td>
                            <td>{{disk.status}}</td>
                            <td>
                              <div class="progressx">
                                <div class="progressx-bar progressx-bar-danger" style="width: {{disk.diskused}}%;">
                                  {{disk.diskused}}%
                                </div>
                              </div>
                            </td>
                          </tr>
                        {% endif %}
                          
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
              
              <div class="jumbotron">
                <h3>Asterisk Server Status</h3>
                <hr>
                <div class="row">
                  <div class="col-md-6">
                    <div class="showback">
                        <h4><i class="fa fa-angle-right"></i><a href="../voiceAuto/"> Asterisk Status</a> </h4>
                          <div class="box-container">
                            {% for asterisk in asteriskstatus  %}
                            {% if asterisk.status == 'active (running)' %}
                              <div class="alert alert-success" style="background: linear-gradient(to left, #05a805, #4fee41);"><font color="white"><b>{{asterisk.hostname}}</b> : {{asterisk.status}}</font></div>
                            {% elif asterisk.status == 'inactive' %}
                              <div class="alert alert-warning" style="background: linear-gradient(to left, #f6fa02, #fcea48);"><font color="black"><b>{{asterisk.hostname}}</b> : {{asterisk.status}}</font></div>
                            {% else %}
                              <div class="alert alert-danger" style="background: linear-gradient(to left, #f73605, #ed7051);"><font color="white"><b>{{asterisk.hostname}}</b> : {{asterisk.status}}</font></div>
                            {% endif %}
                            {% endfor %}
                          </div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="showback">
                      <h4><i class="fa fa-angle-right"></i><a href="../voiceAuto/"> HTTPD Status</a> </h4>
                      <div class="box-container">
                      {% for http in httpdstatus  %}
                      {% if http.status == 'active (running)' %}
                        <div class="alert alert-success" style="background: linear-gradient(to left, #05a805, #4fee41);"><font color="white"><b>{{http.hostname}}</b> : {{http.status}}</font></div>
                      {% elif http.status == 'inactive' %}
                        <div class="alert alert-warning" style="background: linear-gradient(to left, #f6fa02, #fcea48);"><font color="black"><b>{{http.hostname}}</b> : {{http.status}}</font></div>
                      {% else %}
                        <div class="alert alert-danger" style="background: linear-gradient(to left, #f73605, #ed7051);"><font color="white"><b>{{http.hostname}}</b> : {{http.status}}</font></div>
                      {% endif %}
                      {% endfor %}
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="jumbotron">
                <h3>VeloCould Status</h3>
                <hr>
                <div class="row">
                  <div class="col-md-6">
                    <div class="card">
                      <div class="card-block">
                        <hr>
                        <h3 style="text-align:center;"><a href="../sdwan/">Edges</a></h3>
                        <hr>
                      </div>
                      <div class="card-title" style="text-align:center;"><h3>Edges Overview</h3></div>
                      <br>
                      
                      <div class="card-text" >
                        <div class="row" style="text-align:center;">
                          {% if edge %}
                            <div class="col-sm-3"><strong>{{edge.outOfActivated}}</strong><h6>Activated</h6></div>
                            <div class="col-sm-3"><strong>{{edge.down}}</strong><h6>Down</h6></div>
                            <div class="col-sm-3"><strong>{{edge.degraded}}</strong><h6>Degraded</h6></div>
                            <div class="col-sm-3"><strong>{{edge.connected}}</strong><h6>Connected</h6></div>

                          {% else %}
                            <div class="col-sm-3"><strong>0</strong><h6>Activated</h6></div>
                            <div class="col-sm-3"><strong>0</strong><h6>Down</h6></div>
                            <div class="col-sm-3"><strong>0</strong><h6>Degraded</h6></div>
                            <div class="col-sm-3"><strong>0</strong><h6>Connected</h6></div>
                          {% endif %}
                          
                        </div>                  
                      </div>
                      <div class="card-footer">
                      </div>
                    </div>
                  </div>
              
                  <div class="col-md-6">
                    <div class="card">
                      <div class="card-block">
                      <hr>
                        <h3 style="text-align:center;"><a  href="../sdwan/">Links</a></h3>
                      <hr>
                      </div>
                      <div class="card-title" style="text-align:center;"><h3>Links Overview</h3></div>
                      <br>
                      
                      <div class="card-text" >
                        <div class="row" style="text-align:center;">
                          
                          {% if link %}
                            <div class="col-sm-3"><strong>{{link.alllinks}}</strong></div>
                            <div class="col-sm-3"><strong>{{link.down}}</strong><h6>Down</h6></div>
                            <div class="col-sm-3"><strong>{{link.unstable}}</strong><h6>Ustable</h6></div>
                            <div class="col-sm-3"><strong>{{link.stable}}</strong><h6>Stable</h6></div>

                          {% else %}
                            <div class="col-sm-3"><strong>0</strong></div>
                            <div class="col-sm-3"><strong>0</strong><h6>Down</h6></div>
                            <div class="col-sm-3"><strong>0</strong><h6>Ustable</h6></div>
                            <div class="col-sm-3"><strong>0</strong><h6>Stable</h6></div>
                          {% endif %}                     
                        </div>                  
                      </div>
                      <div class="card-footer">
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="jumbotron">
                <div class="row">
                  <div class="col-md-9 main-chart">
                      <div class="row">
                          <span>  <h3><i class="fa fa-angle-right"></i> Wireless Controller Average CPU Usage</h3></span>
                          {% comment %} DISK CAPACITY ON SERVER:{% endcomment %}
                          {% for diskcap in healthcpu %}
                            {% if  diskcap %}
                              <div class="col-md-4 col-sm-4 mb">
                                  <div class="grey-panel pn donut-chart">
                                      <div class="grey-header">
                                          <h5>{{ diskcap.deviceName}}: {{diskcap.deviceIP}} </h5>
                                      </div>
                                      <div class="centerR">
                                          <div class="col-sm-3 col-md-2">
                                          <div class="progress" data-percentage="{{ diskcap.deviceCPUavg }}">
                                              <span class="progress-left">
                                              <span class="progress-bar"></span>
                                              </span>
                                              <span class="progress-right">
                                              <span class="progress-bar"></span>
                                              </span>
                                              <div class="progress-value">
                                              <div>
                                                  <p>{{ diskcap.deviceCPUavg }}%</p>
                                                  <span>CPU USAGE</span>
                                                  <br> 
                                              </div>
                                              </div>
                                          </div>
                                          </div>
                                      </div>
                                      <footer>
                                      <div class="pull-center">
                                          <h4><i class="fa fa-check-circle" style="color:green;" ></i> Max CPU:  {{diskcap.deviceCPUmax}}%</h4>
                                      </div>                               
                                  </footer>
                                  </div>
                              </div>                       
                            {% else %}
                            {% endif %}
                          {% endfor %}
                      </div>

                      <div class="row">
                        <span>  <h3><i class="fa fa-angle-right"></i> Wireless Controller Average RAM Usage</h3></span>
                        {% for health in healthram %}
                            {% if health %}
                              <div class="col-md-4 col-sm-4 mb">
                                <div class="grey-panel pn donut-chart">
                                    <div class="grey-header">
                                        <h5>{{ health.deviceName}}: {{health.deviceIP}} </h5>
                                    </div>
                                    <div class="centerR">
                                        <div class="col-sm-3 col-md-2">
                                        <div class="progress" data-percentage="{{ health.deviceRAMavg }}">
                                            <span class="progress-left">
                                            <span class="progress-bar"></span>
                                            </span>
                                            <span class="progress-right">
                                            <span class="progress-bar"></span>
                                            </span>
                                            <div class="progress-value">
                                            <div>
                                                <p>{{ health.deviceRAMavg }}%</p>
                                                <span>RAM USAGE</span>
                                                <br> 
                                            </div>
                                            </div>
                                        </div>
                                        </div>
                                    </div>
                                    <footer>
                                    <div class="pull-center">
                                        <h4><i class="fa fa-check-circle" style="color:green;" ></i> Max RAM:  {{health.deviceRAMmax}}%</h4>
                                    </div>                               
                                </footer>
                                </div>
                              </div>
                            {% else %}
                            {% endif %}
                          {% endfor %}
                      </div>
                      {% comment %} DISK CAPACITY ON SERVER:{% endcomment %}
                  </div>
                </div>
              </div>

              <div class="jumbotron">
                <div class="col-md-9 main-chart">
                  <div class="row">
                    <span>  <h3><i class="fa fa-angle-right"></i> Wireless Controller Count AP Down</h3></span>
                    {% comment %} DISK CAPACITY ON SERVER:{% endcomment %}
                    {% for count in  countAP %}
                    {% if count.wlcCount == '1' %}
                      <div class="col-md-4 col-sm-4 mb">
                        <div class="grey-panel pn donut-chart">
                          <div class="grey-header">
                            <h5>{{count.wlcName}} </h5>
                          </div>
                          <div >
                            <span><i class="far fa-grin-beam" style="font-size:120px"></i></span>  
                          </div>
                          <footer>
                            <div class="pull-center">
                              <h4><i class="fa fa-check-circle" style="color:green;" ></i> AP Down:  {{count.wlcCount}} ตัว</h4>
                            </div>                               
                          </footer>
                        </div>
                      </div>
                    {% elif count.wlcCount == '2' %}
                      <div class="col-md-4 col-sm-4 mb">
                        <div class="grey-panel pn donut-chart">
                          <div class="grey-header">
                            <h5>{{count.wlcName}} </h5>
                          </div>
                          <div >
                            <span><i class="far fa-grin-alt" style="font-size:120px"></i></span>  
                          </div>
                          <footer>
                            <div class="pull-center">
                              <h4><i class="fa fa-check-circle" style="color:green;" ></i> AP Down:  {{count.wlcCount}} ตัว</h4>
                            </div>                               
                          </footer>
                        </div>
                      </div>
                    {% elif count.wlcCount == '3' %}
                      <div class="col-md-4 col-sm-4 mb">
                        <div class="grey-panel pn donut-chart">
                          <div class="grey-header">
                            <h5>{{count.wlcName}} </h5>
                          </div>
                          <div >
                            <span><i class="far fa-frown-open" style="font-size:120px"></i></span>  
                          </div>
                          <footer>
                            <div class="pull-center">
                              <h4><i class="fa fa-check-circle" style="color:green;" ></i> AP Down:  {{count.wlcCount}} ตัว</h4>
                            </div>                               
                          </footer>
                        </div>
                      </div>                   
                    {% else %}
                    <div class="col-md-4 col-sm-4 mb">
                        <div class="grey-panel pn donut-chart">
                          <div class="grey-header">
                            <h5>{{count.wlcName}} </h5>
                          </div>
                          <div >
                            <span><i class="far fa-frown" style="font-size:120px"></i></span>  
                          </div>
                          <footer>
                            <div class="pull-center">
                              <h4><i class="fa fa-check-circle" style="color:green;" ></i> AP Down:  {{count.wlcCount}} ตัว</h4>
                            </div>                               
                          </footer>
                        </div>
                      </div>         
                    {% endif %}           
                    {% endfor %}  
                  </div>
                </div>
              </div>

              <div class="jumbotron">
                <div class="col-md-9 main-chart">
                  <div class="row">
                    <span>  <h3><i class="fa fa-angle-right"></i><a href="../f5/"> F5 Fan Status Overview</a></h3></span>
                    {% comment %} DISK CAPACITY ON SERVER:{% endcomment %}
                    {% for fan in  f5fan %}
                      {% if fan.fanstatus1 == 'up' and fan.fanstatus2 == 'up' and fan.fanstatus3 == 'up' and fan.fanstatus4 == 'up' %}
                        <div class="col-md-4 col-sm-4 mb">
                          <div class="grey-panel pn donut-chart">
                            <div class="grey-header">
                              <h5>{{fan.ip}} </h5>
                            </div>
                            <div >
                              <span><i class="far fa-grin-beam" style="font-size:120px"></i></span>  
                            </div>
                            <footer>
                              <div class="pull-center">
                                <h4><i class="fa fa-check-circle" style="color:green;" ></i> Fan Status: up 4/4</h4>
                              </div>                               
                            </footer>
                          </div>
                        </div>  
                      {% elif fan.fanstatus1 == 'up' or fan.fanstatus2 == 'up' or fan.fanstatus3 == 'up' or fan.fanstatus4 == 'down' %}      
                        <div class="col-md-4 col-sm-4 mb">
                          <div class="grey-panel pn donut-chart">
                            <div class="grey-header">
                              <h5>{{fan.ip}} </h5>
                            </div>
                            <div >
                              <span><i class="far fa-frown" style="font-size:120px"></i></span>  
                            </div>
                            <footer>
                              <div class="pull-center">
                                <h4><i class="fa fa-check-circle" style="color:green;" ></i> Fan Status: down </h4>
                              </div>                               
                            </footer>
                          </div>
                        </div>               
                      {% else %}
                      
                      {% endif %}           
                    {% endfor %}  
                  </div>
                  <div class="row">
                    <span>  <h3><i class="fa fa-angle-right"></i><a href="../f5/"> F5 UPS Status Overview</a></h3></span>
                    {% comment %} DISK CAPACITY ON SERVER:{% endcomment %}
                    {% for ups in  f5psu %}
                      {% if ups.psustatus1 == 'up' and ups.psustatus2 == 'up' %}
                        <div class="col-md-4 col-sm-4 mb">
                          <div class="grey-panel pn donut-chart">
                            <div class="grey-header">
                              <h5>{{ups.ip}} </h5>
                            </div>
                            <div >
                              <span><i class="far fa-grin-beam" style="font-size:120px"></i></span>  
                            </div>
                            <footer>
                              <div class="pull-center">
                                <h4><i class="fa fa-check-circle" style="color:green;" ></i> UPS Status: up 2/2</h4>
                              </div>                               
                            </footer>
                          </div>
                        </div>  
                      {% elif ups.psustatus1 == 'down' or ups.psustatus2 == 'down' %}
                        <div class="col-md-4 col-sm-4 mb">
                          <div class="grey-panel pn donut-chart">
                            <div class="grey-header">
                              <h5>{{ups.ip}} </h5>
                            </div>
                            <div >
                              <span><i class="far fa-frown" style="font-size:120px"></i></span>  
                            </div>
                            <footer>
                              <div class="pull-center">
                                <h4><i class="fa fa-check-circle" style="color:green;" ></i> UPS Status: up 1/2</h4>
                              </div>                               
                            </footer>
                          </div>
                        </div>       
                      {% else %}
                      
                      {% endif %}           
                    {% endfor %}  
                  </div>

                  <div class="row">
                    <span>  <h3><i class="fa fa-angle-right"></i><a href="../f5/"> F5 Machine Temp Status Overview</a></h3></span>
                    {% comment %} DISK CAPACITY ON SERVER:{% endcomment %}
                    {% for temp in  f5mb %}
                      {% if temp.tempMBcurrent >= '60' and temp.tempMBcurrent <= '79' or temp.tempcpu >= '60' and temp.tempcpu <= '79' %}
                        {% comment %} far fa-frown-open {% endcomment %}
                        <div class="col-md-4 col-sm-4 mb">
                          <div class="grey-panel pn donut-chart">
                            <div class="grey-header">
                              <h5>{{temp.ip}} </h5>
                            </div>
                            <div >
                              <span><i class="far fa-frown-open" style="font-size:120px"></i></span>  
                            </div>
                            <footer>
                              <div class="pull-center">
                                <h4><i class="fa fa-exclamation-triangle" style="color:yellow;" ></i>MB: Alert {{temp.tempMBcurrent}}   ํc</h4>
                                 <h4><i class="fa fa-exclamation-triangle" style="color:yellow;" ></i>CPU: Alert {{temp.tempcpu}}   ํc</h4>
                              </div>                               
                            </footer>
                          </div>
                        </div>
                      {% elif temp.tempMBcurrent >= '0' and temp.tempMBcurrent <= '59' or temp.tempcpu >= '0' and temp.tempcpu <= '59' %}
                        <div class="col-md-4 col-sm-4 mb">
                          <div class="grey-panel pn donut-chart">
                            <div class="grey-header">
                              <h5>{{temp.ip}} </h5>
                            </div>
                            <div >
                              <span><i class="far fa-grin-beam" style="font-size:120px"></i></span>  
                            </div>
                            <footer>
                              <div class="pull-center">
                                <h4><i class="fa fa-check-circle" style="color:green;" ></i>MB: Good {{temp.tempMBcurrent}}   ํc</h4>
                                <h4><i class="fa fa-check-circle" style="color:green;" ></i>CPU: Good {{temp.tempcpu}}   ํc</h4>
                              </div>                               
                            </footer>
                          </div>
                        </div>
                      {% else %}
                        <div class="col-md-4 col-sm-4 mb">
                          <div class="grey-panel pn donut-chart">
                            <div class="grey-header">
                              <h5>{{temp.ip}} </h5>
                            </div>
                            <div >
                              <span><i class="far fa-dizzy" style="font-size:120px"></i></span>  
                              
                            </div>
                            <footer>
                              <div class="pull-center">
                                <h4><i class="fa fa-times-circle" style="color:red;" ></i>MB: Ex Alert {{temp.tempMBcurrent}}   ํc</h4>
                                <h4><i class="fa fa-times-circle" style="color:red;" ></i>CPU: Ex Alert {{temp.tempcpu}}   ํc</h4>
                              </div>                               
                            </footer>
                          </div>
                        </div>
                      {% endif %}
                                
                    {% endfor %}  
                  </div>
                </div>
              </div>
              

        </div>
      </section>
    </section>
    



    {% comment %} section ส่วนข้อมูลหลักที่นำมาแสดง {% endcomment %}
  </section>  
  <script src="{% static 'lib/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'js/graphshoz.js' %}"></script>
  <script src="{% static 'js/datatable-jquery-1.11.1.min.js' %}"></script>
  <script src="{% static 'js/dataTables.bootstrap.min.js' %}"></script>
  <script src="{% static 'lib/bootstrap/js/bootstrap.min.js' %}"></script>
  <script class="include" type="text/javascript" src="{% static 'lib/jquery.dcjqaccordion.2.7.js' %}"></script>
  <script src="{% static 'lib/jquery.scrollTo.min.js' %}"></script>
  <script src="{% static 'lib/jquery.nicescroll.js' %}" type="text/javascript"></script>
  <script src="{% static 'lib/jquery.sparkline.js' %}"></script>
  {% comment %} <script src="{% static 'js/jquery.min.js' %}"></script> {% endcomment %}
  <!--common script for all pages-->
  <script src="{% static 'lib/common-scripts.js' %}"></script>
  <script type="text/javascript" src="{% static 'lib/gritter/js/jquery.gritter.js' %}"></script>
  <script type="text/javascript" src="{% static 'lib/gritter-conf.js' %}"></script>
  <!--script for this page-->
  <script src="{% static 'lib/sparkline-chart.js' %}"></script>
  <script src="{% static 'lib/zabuto_calendar.js' %}"></script>
  <script type="text/javascript">
    $(document).ready(function() {
      var unique_id = $.gritter.add({
        // (string | mandatory) the heading of the notification
        title: 'Welcome to Dashio!',
        // (string | mandatory) the text inside the notification
        //text: 'Hover me to enable the Close Button. You can hide the left sidebar clicking on the button next to the logo. Developed by <a href="http://alvarez.is" target="_blank" style="color:#4ECDC4">Alvarez.is</a>.',
        // (string | optional) the image to display on the left
        image: 'img/ui-sam.jpg',
        // (bool | optional) if you want it to fade out on its own or just sit there
        sticky: false,
        // (int | optional) the time you want it to be alive for before fading out
        time: 1,
        // (string | optional) the class name you want to apply to that specific message
        class_name: 'my-sticky-class'
      });

      return false;
    });
  </script>
  <script type="application/javascript">
    $(document).ready(function() {
      $("#date-popover").popover({
        html: true,
        trigger: "manual"
      });
      $("#date-popover").hide();
      $("#date-popover").click(function(e) {
        $(this).hide();
      });

      $("#my-calendar").zabuto_calendar({
        action: function() {
          return myDateFunction(this.id, false);
        },
        action_nav: function() {
          return myNavFunction(this.id);
        },
        ajax: {
          url: "show_data.php?action=1",
          modal: true
        },
        legend: [{
            type: "text",
            label: "Special event",
            badge: "00"
          },
          {
            type: "block",
            label: "Regular event",
          }
        ]
      });
    });

    function myNavFunction(id) {
      $("#date-popover").hide();
      var nav = $("#" + id).data("navigation");
      var to = $("#" + id).data("to");
      console.log('nav ' + nav + ' to: ' + to.month + '/' + to.year);
    }
  </script>
  <script>
    n =  new Date();
    y = n.getFullYear();
    m = n.getMonth() + 1;
    d = n.getDate();
    document.getElementById("date").innerHTML = m + "/" + d + "/" + y;
  </script>

  
</body>
</html>