{% comment %} {% extends 'base.html' %} {% endcomment %}
{% load static %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Dashboard">
    <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
    <title>Voice Home</title>
    <link rel="stylesheet" href="{% static 'lib/bootstrap/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'lib/font-awesome/css/font-awesome.css' %}" />
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/style-responsive.css' %}" rel="stylesheet">
    <link href="{% static 'css/circle9.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/normalize.min.css' %}" rel="stylesheet">
    {% comment %} <link href="{% static 'js/normalize.min.css' %}" rel="stylesheet"> {% endcomment %}
    <link href="{% static 'img/gosoft.png' %}" rel="icon">
    <link href="{% static 'img/gosoft.png' %}" rel="apple-touch-icon">
    <link rel="stylesheet" type="text/css" href="{% static 'css/fileupload.css' %}">
    <script src="{% static 'js/fileupload.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/loadpage.js' %}" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/loadpage.css' %}">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> 

    
    
  </head>
<body>
  <section id="container">
    {% comment %} <-- All Navigation Bars  --> {% endcomment %}
    <header class="header black-bg">
      <div class="sidebar-toggle-box">
        <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
      </div>
      <!--logo start-->
      <a href="" class="logo"><b>GO<span>SOFT</span></b></a>
      <!--logo end-->
      <div class="nav notify-row" id="top_menu">
        <!--  notification start -->
        <ul class="nav top-menu">
          <!-- settings start -->
          
          <!-- settings end -->
          <!-- inbox dropdown start-->
          
          <!-- inbox dropdown end -->
          <!-- notification dropdown start-->
          <li id="header_notification_bar" class="dropdown">
            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
              <i class="fa fa-bell-o"></i>
              <span class="badge bg-warning">!</span>
            </a>
            <ul class="dropdown-menu extended notification">
              <div class="notify-arrow notify-arrow-yellow"></div>
              <li>
                <p class="yellow">You have new notifications</p>
              </li>
              <li>
                <a href="#">
                  <span class="label label-danger"><i class="fa fa-bolt"></i></span>
                  Server Overloaded.
                  <span class="small italic">4 mins.</span>
                  </a>
              </li>
              
              <li>
                <a href="#">See all notifications</a>
              </li>
            </ul>
          </li>
          <!-- notification dropdown end -->
        </ul>
        <!--  notification end -->
      </div>
      <div class="top-menu">
        <ul class="nav pull-right top-menu">
          <li><a class="logout" href="#">Logout</a></li>
        </ul>
      </div>
    </header>
    {% comment %} <-- All Navigation Bars  --> {% endcomment %}
    
    {% comment %} Side panel  {% endcomment %}
    <aside>
      <div id="sidebar" class="nav-collapse">
        <ul class="sidebar-menu" id="nav-accordion">
          <p class="centered"><a href="#"><img src="{% static 'img/user.png' %}" class="img-circle" width="80"></a></p>
          <h4 class="centered">เค๊าเอง</h4>
          <li class="mt">
            <a href="../">
              <i class="fa fa-dashboard"></i>
              <span>Dashboard</span>
            </a>
          </li>
          <br>
          <li class="sub-menu">
            <a href="javascript:;">
              <i class="fa fa-tty"></i>
              <span>VOICE</span>
            </a>
            <ul class="sub">
              <li><a href="../voicemanual">Manual CheckList</a></li>
              <li><a href="../voiceAuto/">voice service status </a></li>
              <li><a href="../voicedataTable/">ดูข้อมูลย้อนหลัง</a></li>
              {% comment %} <li><a href="#">Trunk Status Cisco CUCM</a></li> {% endcomment %}
            </ul>
          </li>
          {% comment %} <li class="mt">
            <a href="#">
              <i class="fa fa-credit-card-alt"></i>
              <span>AP Radio Reset</span>
            </a>
          </li> {% endcomment %}
          <li class="sub-menu">
            <a href="javascript:;">
              <i class="fa fa-rss"></i>
              <span>AP Radio Reset</span>
              </a>
            <ul class="sub">
              {% comment %} <li><a href="../wireless">WIIRELESS ร้าน</a></li> {% endcomment %}
              <li><a href="../controllerhealth">WIIRELESS Controller</a></li>
              <li><a href="../controllerAP">Controller AP Down Count</a></li>
            </ul>
          </li>
          <li class="mt">
            <a href="#">
              <i class="fa fa-server"></i>
              <span>Router And Switch</span>
            </a>
          </li>
          <br>
          <li class="sub-menu">
            <a href="javascript:;">
              <i class="fa fa-rss"></i>
              <span>WirelessOffice & Warehouse</span>
              </a>
            <ul class="sub">
              <li><a href="../wireless">WIIRELESS ร้าน</a></li>
              
              <li><a href="#">Data Tables</a></li>
            </ul>
          </li>
          <br>
          <li class="sub-menu">
            <a href="javascript:;">
              <i class="fa fa-exchange"></i>
              <span>F5 Load Balancer</span>
              </a>
            <ul class="sub">
              <li><a href="../f5/">F5 Data</a></li>
            </ul>
          </li>
          
          
          <li class="sub-menu">
            <a href="javascript:;">
              <i class="fa fa-exchange"></i>
              <span>SDWAN</span>
              </a>
            <ul class="sub">
              <li><a href="../sdwan/">Overview</a></li>
            </ul>
          </li>
          
        </ul>
      </div>
    </aside>
    {% comment %} Side panel  {% endcomment %}

    {% comment %} section ส่วนข้อมูลหลักที่นำมาแสดง {% endcomment %}
    
    <section id="main-content">
        <div class="wrapper">
            

            <div class="row" style="margin-left: 2px">
                <div class="col-lg-12">
                <h3><i class="fa fa-angle-right"></i>  Wireless ร้านที่ Down</h3>
                <div class="row mt">
                    <div class="content-panel">
                    <div class="adv-table">
                        <table cellpadding="0" cellspacing="0" border="5" class="display table table-bordered" id="hidden-table-disk">
                        <thead>
                            <tr>
                            <th>IP Address</th>
                            <th class="hidden-phone">AP Name</th>
                            <th class="hidden-phone">BGN STATUS</th>
                            <th class="hidden-phone">AC STATUS</th>
                            <th class="hidden-phone">Controller</th>
                            <th class="hidden-phone">checking</th>
                            
                            </tr>
                        </thead>
                        <tbody>
                        {% for wire in wireless  %}
                            <tr>
                            <th>{{wire.APIP}}</th>
                            <th class="center hidden-phone">{{wire.APname}}</th>
                            <th class="center hidden-phone">{{wire.Status802bgn}}</th>
                            <th class="center hidden-phone">{{wire.Status802ac}}</th>
                            <th class="center hidden-phone">{{wire.PrimeCtrlName}}</th>
                            <th>
                                <label class="switch">
                                <input type="checkbox" id="checked">
                                <span class="slider round"></span>
                                </label>
                            </th>
                            
                            </tr>
                           
                        {% endfor %}
                        </tbody>
                         
                        </table>
                    </div>
                    
                    </div>
                    
                    <table>
                    </table>
                </div>
                </div>
            </div>
            <div class="page">
              <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Uplod Files to Server</button>
              <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog-centered">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title">Files Upload</h4>
                    </div>
                    <div class="modal-body">
                      <form method="post" class="file-uploader" action="" enctype="multipart/form-data">
                        <div class="file-upload">
                          <div class="image-upload-wrap">
                            <input class="file-upload-input" type="file" name="myfile" onchange="readURL(this);" accept=".zip, .7z, .rar"/>
                            <div class="drag-text">
                              <h3>Drag and drop files</h3>
                            </div>
                          </div>
                          
                            <div class="file-upload-content">
                              {% csrf_token %}
                              {% comment %} <p class="image-title"><font size="6">Uploaded Image</font></p> {% endcomment %}
                              {% comment %} <i class="fas fa-file-import"></i> {% endcomment %}
                              <div class="file-uploader__message-area">
                                <div class="file-box-max">
                                  <span class="image-title" style="font-size:12px"></span>
                                  <img class="center-img-file" style="200px" src="{% static 'img/file.png' %}" alt="your image" height="100" width="100" class="center-img-file" />
                                  {% comment %} <i class='far fa-file-archive' style='font-size:36px'></i> {% endcomment %}
                                </div>
                              </div>
                              <div class="image-title-wrap">
                                <button type="button" onclick="removeUpload()" class="remove-image">
                                  REMOVE
                                  <span class="image-title"> 
                                    Uploaded Image
                                  </span>
                                </button>
                                
                                <button class="file-uploader__submit-button"  type="submit" onclick="parent.open='../wireless'">Upload Files</button>
                                
                              </div>
                            
                          </div>
                        </div>
                      </form>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="model fade" id="modal2" role="dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">สถานะการทำงาน....</h4>
                  </div>
                  <div class="modal-body">
                    <h5 class="modal-title">กำลังประมวลผลไฟล์....</h5>
                  </div>
                  <div class="modal-footer">
                  </div>
                </div>
              </div>
            </div>
            <div id="loading"></div>
        </div>
        
        
        
    </section>
    



    {% comment %} section ส่วนข้อมูลหลักที่นำมาแสดง {% endcomment %}
  </section>  
  <!-- js placed at the end of the document so the pages load faster -->
  <script src="{% static 'lib/jquery/jquery.min.js' %}"></script>
  <script type="text/javascript" language="javascript" src="{% static 'lib/advanced-datatable/js/jquery.js' %}"></script>
  <script src="{% static 'lib/bootstrap/js/bootstrap.min.js' %}"></script>
  <script class="include" type="text/javascript" src="{% static 'lib/jquery.dcjqaccordion.2.7.js' %}"></script>
  <script src="{% static 'lib/jquery.scrollTo.min.js' %}"></script>
  <script src="{% static 'lib/jquery.nicescroll.js' %}" type="text/javascript"></script>
  <script type="text/javascript" language="javascript" src="{% static 'lib/advanced-datatable/js/jquery.dataTables.js' %}"></script>
  <script type="text/javascript" src="{% static 'lib/advanced-datatable/js/DT_bootstrap.js' %}"></script>
  <!--common script for all pages-->
  <script src="{% static 'lib/common-scripts.js' %}"></script>
  <!--script for this page-->
  <script type="text/javascript">

    $(document).ready(function() {
      /*
       * Insert a 'details' column to the table
       */
      var nCloneTh = document.createElement('th');
      var nCloneTd = document.createElement('td');
      nCloneTd.innerHTML = '<img src="{% static "lib/advanced-datatable/images/details_open.png" %}">';
      nCloneTd.className = "center";

      $('#hidden-table-disk thead tr').each(function() {
        this.insertBefore(nCloneTh, this.childNodes[-1]);
      });

      $('#hidden-table-disk tbody tr').each(function() {
        this.insertBefore(nCloneTd.cloneNode(true), this.childNodes[-1]);
      });

      var oTable = $('#hidden-table-disk').dataTable({
        "aoColumnDefs": [{
          "bSortable": false,
          "aTargets": [0]
        }],
        "aaSorting": [
          [4, 'desc']
        ]
      });
    });
  </script>

  <script type="text/javascript">

    $(document).ready(function() {
      /*
       * Insert a 'details' column to the table
       */
      var nCloneTh = document.createElement('th');
      var nCloneTd = document.createElement('td');
      nCloneTd.innerHTML = '<img src="{% static "lib/advanced-datatable/images/details_open.png" %}">';
      nCloneTd.className = "center";

      $('#hidden-table-asterisk thead tr').each(function() {
        this.insertBefore(nCloneTh, this.childNodes[-1]);
      });

      $('#hidden-table-asterisk tbody tr').each(function() {
        this.insertBefore(nCloneTd.cloneNode(true), this.childNodes[-1]);
      });

      var oTable = $('#hidden-table-asterisk').dataTable({
        "aoColumnDefs": [{
          "bSortable": false,
          "aTargets": [0]
        }],
        "aaSorting": [
          [4, 'desc']
        ]
      });
    });
  </script>

  <script type="text/javascript">

    $(document).ready(function() {
      /*
       * Insert a 'details' column to the table
       */
      var nCloneTh = document.createElement('th');
      var nCloneTd = document.createElement('td');
      nCloneTd.innerHTML = '<img src="{% static "lib/advanced-datatable/images/details_open.png" %}">';
      nCloneTd.className = "center";

      $('#hidden-table-httpd thead tr').each(function() {
        this.insertBefore(nCloneTh, this.childNodes[-1]);
      });

      $('#hidden-table-httpd tbody tr').each(function() {
        this.insertBefore(nCloneTd.cloneNode(true), this.childNodes[-1]);
      });

      var oTable = $('#hidden-table-httpd').dataTable({
        "aoColumnDefs": [{
          "bSortable": false,
          "aTargets": [0]
        }],
        "aaSorting": [
          [4, 'desc']
        ]
      });
    });
  </script>


  <style>
    .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    }

    .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
    }

    .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    }

    .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    }

    input:checked + .slider {
    background-color: #2196F3;
    }

    input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
    }

    input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
    }

    /* Rounded sliders */
    .slider.round {
    border-radius: 34px;
    }

    .slider.round:before {
    border-radius: 50%;
    }
  </style>

  <script>
    function updatestatus(){
        var x = document.getElementById("checked");
        if (x.checked){
            document.getElementById("state").innerHTML = "UP";
        }
        
    }
  </script>

  <script>
    $('#myModal').on('hidden.bs.modal', function(){
      $('#modal2').modal('show')
    })
  </script>


</body>
</html>