{% comment %} {% extends 'base.html' %} {% endcomment %}
{% load static %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Dashboard">
    <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
    {% comment %} <link rel="icon" type="image/png" href="../assets/img/favicon.ico"> {% endcomment %}
    <title>Voice Home</title>
    {% comment %} <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' /> {% endcomment %}
    <link rel="stylesheet" href="{% static 'lib/bootstrap/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'lib/font-awesome/css/font-awesome.css' %}" />
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/style-responsive.css' %}" rel="stylesheet">
    <link href="{% static 'css/tablefordisk.min.css' %}" rel="stylesheet" id="bootstrap-css">
    <link href="{% static 'css/circle9.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/normalize.min.css' %}" rel="stylesheet">
    {% comment %} <link href="{% static 'css/graphshoz.css' %}" rel="stylesheet"> {% endcomment %}
    <link href="{% static 'css/hozBarChart.css' %}" rel="stylesheet">
    <link href="{% static 'css/mychart.css' %}" rel="stylesheet">
    {% comment %} <link href="{% static 'js/normalize.min.css' %}" rel="stylesheet"> {% endcomment %}
    <link href="{% static 'img/gosoft.png' %}" rel="icon">
    <link href="{% static 'img/gosoft.png' %}" rel="apple-touch-icon">
    <script src="{% static 'js/bootstrap4.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/jquery321.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/radialIndicator.js' %}" type="text/javascript"></script>

    <link href="{% static 'css/bootstrap4.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/fileinput.css' %}" rel="stylesheet">
    <script src="{% static 'js/fileinput.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/popper.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/theme.js' %}" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/ful.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/uploader.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/buttoncloster.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/fileupload.css' %}">
    <script src="{% static 'js/fileupload.js' %}" type="text/javascript"></script>
    {% comment %} <script class="jsbin" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> {% endcomment %}
    
  </head>
<body>
  <section id="container">
    {% comment %} <-- All Navigation Bars  --> {% endcomment %}
    <header class="header black-bg">
      <div class="sidebar-toggle-box">
        <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
      </div>
      <!--logo start-->
      <a href="" class="logo"><b>GO<span>SOFT</span></b></a>
      <!--logo end-->
      <div class="nav notify-row" id="top_menu">
        <!--  notification start -->
        <ul class="nav top-menu">
          <!-- settings start -->
          
          <!-- settings end -->
          <!-- inbox dropdown start-->
          
          <!-- inbox dropdown end -->
          <!-- notification dropdown start-->
          <li id="header_notification_bar" class="dropdown">
            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
              <i class="fa fa-bell-o"></i>
              <span class="badge bg-warning">!</span>
            </a>
            <ul class="dropdown-menu extended notification">
              <div class="notify-arrow notify-arrow-yellow"></div>
              <li>
                <p class="yellow">You have new notifications</p>
              </li>
              <li>
                <a href="#">
                  <span class="label label-danger"><i class="fa fa-bolt"></i></span>
                  Server Overloaded.
                  <span class="small italic">4 mins.</span>
                  </a>
              </li>
              
              <li>
                <a href="#">See all notifications</a>
              </li>
            </ul>
          </li>
          <!-- notification dropdown end -->
        </ul>
        <!--  notification end -->
      </div>
      <div class="top-menu">
        <ul class="nav pull-right top-menu">
          <li><a class="logout" href="#">Logout</a></li>
        </ul>
      </div>
    </header>
    {% comment %} <-- All Navigation Bars  --> {% endcomment %}
    
    {% comment %} Side panel  {% endcomment %}
    <aside>
      <div id="sidebar" class="nav-collapse">
        <ul class="sidebar-menu" id="nav-accordion">
          <p class="centered"><a href="#"><img src="{% static 'img/user.png' %}" class="img-circle" width="80"></a></p>
          <h4 class="centered">เค๊าเอง</h4>
          <li class="mt">
            <a href="#">
              <i class="fa fa-dashboard"></i>
              <span>Dashboard</span>
            </a>
          </li>
          <br>
          <li class="sub-menu">
            <a href="javascript:;">
              <i class="fa fa-tty"></i>
              <span>VOICE</span>
              </a>
            <ul class="sub">
              <li><a href="../voicemanual">Manual CheckList</a></li>
              <li><a href="../voiceAuto/">voice service status </a></li>
              <li><a href="../voicedataTable/">ดูข้อมูลย้อนหลัง</a></li>
              {% comment %} <li><a href="#">Trunk Status Cisco CUCM</a></li> {% endcomment %}
            </ul>
          </li>
          <li class="mt">
            <a href="#">
              <i class="fa fa-credit-card-alt"></i>
              <span>AP Radio Reset</span>
            </a>
          </li>
          <li class="mt">
            <a href="#">
              <i class="fa fa-server"></i>
              <span>Router And Switch</span>
            </a>
          </li>
          <br>
          <li class="sub-menu">
            <a href="javascript:;">
              <i class="fa fa-rss"></i>
              <span>WirelessOffice & Warehouse</span>
              </a>
            <ul class="sub">
              <li><a href="../wireless">WIIRELESS ร้าน</a></li>
            </ul>
          </li>
          <br>
          <li class="sub-menu">
            <a href="javascript:;">
              <i class="fa fa-exchange"></i>
              <span>F5 Load Balancer</span>
              </a>
            <ul class="sub">
              <li><a href="../f5/">F5 Data</a></li>
            </ul>
          </li>
          
          
          <li class="mt">
            <a href="#">
              <i class="fa fa-cloud"></i>
              <span>SDWAN</span>
            </a>
          </li>
          
        </ul>
      </div>
    </aside>
    {% comment %} Side panel  {% endcomment %}

    {% comment %} section ส่วนข้อมูลหลักที่นำมาแสดง {% endcomment %}
    
    <section id="main-content">
      <section class="wrapper">
        <form method="post" class="file-uploader" action="" enctype="multipart/form-data">
          <div class="file-upload">
            <div class="image-upload-wrap">
              <input class="file-upload-input" type="file" name="myfile" onchange="readURL(this);" accept=".xls, .xlsx, .csv"/>
              <div class="drag-text">
                <h3>Drag and drop files</h3>
              </div>
            </div>
            
              <div class="file-upload-content">
                {% csrf_token %}
                {% comment %} <p class="image-title"><font size="6">Uploaded Image</font></p> {% endcomment %}
                {% comment %} <i class="fas fa-file-import"></i> {% endcomment %}
                <div class="file-uploader__message-area">
                  <div class="file-box-max">
                    <span class="image-title" style="font-size:12px"></span>
                    <img style="200px" src="{% static 'img/file.png' %}" alt="your image" height="100" width="100" class="center-img-file" />
                    {% comment %} <i class='far fa-file-archive' style='font-size:36px'></i> {% endcomment %}
                  </div>
                </div>
                <div class="image-title-wrap">
                  <button type="button" onclick="removeUpload()" class="remove-image">
                    REMOVE
                    <span class="image-title"> 
                      Uploaded Image
                    </span>
                  </button>
                  <button class="file-uploader__submit-button" type="submit">Upload</button>
                </div>
              
            </div>
          </div>
        </form>
      </section>
    </section>
    



    {% comment %} section ส่วนข้อมูลหลักที่นำมาแสดง {% endcomment %}
  </section>  
  <script src="{% static 'lib/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'js/graphshoz.js' %}"></script>
  <script src="{% static 'js/datatable-jquery-1.11.1.min.js' %}"></script>
  <script src="{% static 'js/dataTables.bootstrap.min.js' %}"></script>
  <script src="{% static 'lib/bootstrap/js/bootstrap.min.js' %}"></script>
  <script class="include" type="text/javascript" src="{% static 'lib/jquery.dcjqaccordion.2.7.js' %}"></script>
  <script src="{% static 'lib/jquery.scrollTo.min.js' %}"></script>
  <script src="{% static 'lib/jquery.nicescroll.js' %}" type="text/javascript"></script>
  <script src="{% static 'lib/jquery.sparkline.js' %}"></script>
  {% comment %} <script src="{% static 'js/jquery.min.js' %}"></script> {% endcomment %}
  <!--common script for all pages-->
  <script src="{% static 'lib/common-scripts.js' %}"></script>
  <script type="text/javascript" src="{% static 'lib/gritter/js/jquery.gritter.js' %}"></script>
  <script type="text/javascript" src="{% static 'lib/gritter-conf.js' %}"></script>
  <!--script for this page-->
  <script src="{% static 'lib/sparkline-chart.js' %}"></script>
  <script src="{% static 'lib/zabuto_calendar.js' %}"></script>
  <script type="text/javascript">
    $(document).ready(function() {
      var unique_id = $.gritter.add({
        // (string | mandatory) the heading of the notification
        title: 'Welcome to Dashio!',
        // (string | mandatory) the text inside the notification
        //text: 'Hover me to enable the Close Button. You can hide the left sidebar clicking on the button next to the logo. Developed by <a href="http://alvarez.is" target="_blank" style="color:#4ECDC4">Alvarez.is</a>.',
        // (string | optional) the image to display on the left
        image: 'img/ui-sam.jpg',
        // (bool | optional) if you want it to fade out on its own or just sit there
        sticky: false,
        // (int | optional) the time you want it to be alive for before fading out
        time: 1,
        // (string | optional) the class name you want to apply to that specific message
        class_name: 'my-sticky-class'
      });

      return false;
    });
  </script>
  <script type="application/javascript">
    $(document).ready(function() {
      $("#date-popover").popover({
        html: true,
        trigger: "manual"
      });
      $("#date-popover").hide();
      $("#date-popover").click(function(e) {
        $(this).hide();
      });

      $("#my-calendar").zabuto_calendar({
        action: function() {
          return myDateFunction(this.id, false);
        },
        action_nav: function() {
          return myNavFunction(this.id);
        },
        ajax: {
          url: "show_data.php?action=1",
          modal: true
        },
        legend: [{
            type: "text",
            label: "Special event",
            badge: "00"
          },
          {
            type: "block",
            label: "Regular event",
          }
        ]
      });
    });

    function myNavFunction(id) {
      $("#date-popover").hide();
      var nav = $("#" + id).data("navigation");
      var to = $("#" + id).data("to");
      console.log('nav ' + nav + ' to: ' + to.month + '/' + to.year);
    }
  </script>
  <script>
    n =  new Date();
    y = n.getFullYear();
    m = n.getMonth() + 1;
    d = n.getDate();
    document.getElementById("date").innerHTML = m + "/" + d + "/" + y;
  </script>


  {% comment %} <script>
    $(document).ready(function(){

        //file upload example
        var container = $('#indicatorContainerWrap'),
        msgHolder = container.find('.rad-cntnt'),
        containerProg = container.radialIndicator({
        radius: 100,
        percentage: true,
        displayNumber: false
        }).data('radialIndicator');


        container.on({
        'dragenter': function (e) {
        msgHolder.html("Drop here");
        },
        'dragleave': function (e) {
        msgHolder.html("Click / Drop file to select.");
        },
        'drop': function (e) {
        e.preventDefault();
        handleFileUpload(e.originalEvent.dataTransfer.files);
        }
        });

        $('#prgFileSelector').on('change', function () {
        handleFileUpload(this.files);
        });

        function handleFileUpload(files) {
        msgHolder.hide();
        containerProg.option('displayNumber', true);

        var file = files[0],
        fd = new FormData();

        fd.append('file', file);


        $.ajax({
        url: 'service/upload.php', 
        type: 'POST',
        data: fd,
        processData: false,
        contentType: false,
        success: function () {
        containerProg.option('displayNumber', false);
        msgHolder.show().html('File upload done.');
        },
        xhr: function () {
        var xhr = new window.XMLHttpRequest();
        //Upload progress
        xhr.upload.addEventListener("progress", function (e) {
        if (e.lengthComputable) {
        var percentComplete = (e.loaded || e.position) * 100 / e.total;
        //Do something with upload progress
        console.log(percentComplete);
        containerProg.animate(percentComplete);
        }
        }, false);

        return xhr;
        }
        });

        }


        });
  </script> {% endcomment %}
  
  {% comment %} <script>
    $("#file-1").fileinput({
        theme: 'fa',
        uploadUrl: '#',
        allowedFileExtensions: ['jpg', 'png', 'gif', 'jpeg', 'deb', 'js'],
        overwriteInitial: false,
        maxFileSize:20000,
        maxFilesNum: 10,
        slugCallback: function (filename) {
            return filename.replace('(', '_').replace(']', '_');
        }
    });
  </script> {% endcomment %}

  {% comment %} <script>
    // ************************ Drag and drop ***************** //
    let dropArea = document.getElementById("drop-area")

    // Prevent default drag behaviors
    ;['dragenter', 'dragover', 'dragleave', 'drop'].forEach(eventName => {
    dropArea.addEventListener(eventName, preventDefaults, false)   
    document.body.addEventListener(eventName, preventDefaults, false)
    })

    // Highlight drop area when item is dragged over it
    ;['dragenter', 'dragover'].forEach(eventName => {
    dropArea.addEventListener(eventName, highlight, false)
    })

    ;['dragleave', 'drop'].forEach(eventName => {
    dropArea.addEventListener(eventName, unhighlight, false)
    })

    // Handle dropped files
    dropArea.addEventListener('drop', handleDrop, false)

    function preventDefaults (e) {
    e.preventDefault()
    e.stopPropagation()
    }

    function highlight(e) {
    dropArea.classList.add('highlight')
    }

    function unhighlight(e) {
    dropArea.classList.remove('active')
    }

    function handleDrop(e) {
    var dt = e.dataTransfer
    var files = dt.files

    handleFiles(files)
    }

    let uploadProgress = []
    let progressBar = document.getElementById('progress-bar')

    function initializeProgress(numFiles) {
    progressBar.value = 0
    uploadProgress = []

    for(let i = numFiles; i > 0; i--) {
        uploadProgress.push(0)
    }
    }

    function updateProgress(fileNumber, percent) {
    uploadProgress[fileNumber] = percent
    let total = uploadProgress.reduce((tot, curr) => tot + curr, 0) / uploadProgress.length
    console.debug('update', fileNumber, percent, total)
    progressBar.value = total
    }

    function handleFiles(files) {
    files = [...files]
    initializeProgress(files.length)
    files.forEach(uploadFile)
    files.forEach(previewFile)
    }

    function previewFile(file) {
    let reader = new FileReader()
    reader.readAsDataURL(file)
    reader.onloadend = function() {
        let img = document.createElement('img')
        img.src = reader.result
        document.getElementById('gallery').appendChild(img)
    }
    }

    function uploadFile(file, i) {
    var url = 'https://api.cloudinary.com/v1_1/joezimim007/image/upload'
    var xhr = new XMLHttpRequest()
    var formData = new FormData()
    xhr.open('POST', url, true)
    xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest')

    // Update progress (can be used to show progress indicator)
    xhr.upload.addEventListener("progress", function(e) {
        updateProgress(i, (e.loaded * 100.0 / e.total) || 100)
    })

    xhr.addEventListener('readystatechange', function(e) {
        if (xhr.readyState == 4 && xhr.status == 200) {
        updateProgress(i, 100) // <- Add this
        }
        else if (xhr.readyState == 4 && xhr.status != 200) {
        // Error. Inform the user
        }
    })

    formData.append('upload_preset', 'ujpu6gyk')
    formData.append('file', file)
    xhr.send(formData)
    }
  </script> {% endcomment %}

  {% comment %} <script>
    function _(el) {
        return document.getElementById(el);
    }

    function uploadFile() {
        var file = _("file1").files[0];
        // alert(file.name+" | "+file.size+" | "+file.type);
        var formdata = new FormData();
        formdata.append("file1", file);
        var ajax = new XMLHttpRequest();
        ajax.upload.addEventListener("progress", progressHandler, false);
        ajax.addEventListener("load", completeHandler, false);
        ajax.addEventListener("error", errorHandler, false);
        ajax.addEventListener("abort", abortHandler, false);
        ajax.open("POST", "file_upload_parser.php"); // http://www.developphp.com/video/JavaScript/File-Upload-Progress-Bar-Meter-Tutorial-Ajax-PHP
        //use file_upload_parser.php from above url
        ajax.send(formdata);
    }

    function progressHandler(event) {
        _("loaded_n_total").innerHTML = "Uploaded " + event.loaded + " bytes of " + event.total;
        var percent = (event.loaded / event.total) * 100;
        _("progressBar").value = Math.round(percent);
        _("status").innerHTML = Math.round(percent) + "% uploaded... please wait";
    }

    function completeHandler(event) {
        _("status").innerHTML = event.target.responseText;
        _("progressBar").value = 0; //wil clear progress bar after successful upload
    }

    function errorHandler(event) {
        _("status").innerHTML = "Upload Failed";
    }

    function abortHandler(event) {
        _("status").innerHTML = "Upload Aborted";
    }
  </script> {% endcomment %}

  {% comment %} <script>
    //jQuery plugin
    (function( $ ) {
    
    $.fn.uploader = function( options ) {
        var settings = $.extend({
        MessageAreaText: "No files selected.",
        MessageAreaTextWithFiles: "File List:",
        DefaultErrorMessage: "Unable to open this file.",
        BadTypeErrorMessage: "We cannot accept this file type at this time.",
        acceptedFileTypes: ['pdf', 'jpg', 'gif', 'jpeg', 'bmp', 'tif', 'tiff', 'png', 'xps', 'doc', 'docx',
            'fax', 'wmp', 'ico', 'txt', 'cs', 'rtf', 'xls', 'xlsx']
        }, options );
    
        var uploadId = 1;
        //update the messaging 
        $('.file-uploader__message-area p').text(options.MessageAreaText || settings.MessageAreaText);
        
        //create and add the file list and the hidden input list
        var fileList = $('<ul class="file-list"></ul>');
        var hiddenInputs = $('<div class="hidden-inputs hidden"></div>');
        $('.file-uploader__message-area').after(fileList);
        $('.file-list').after(hiddenInputs);
        
        //when choosing a file, add the name to the list and copy the file input into the hidden inputs
        $('.file-chooser__input').on('change', function(){
            var file = $('.file-chooser__input').val();
            var fileName = (file.match(/([^\\\/]+)$/)[0]);

        //clear any error condition
        $('.file-chooser').removeClass('error');
        $('.error-message').remove();
        
        //validate the file
        var check = checkFile(fileName);
        if(check === "valid") {
            
            // move the 'real' one to hidden list 
            $('.hidden-inputs').append($('.file-chooser__input')); 
        
            //insert a clone after the hiddens (copy the event handlers too)
            $('.file-chooser').append($('.file-chooser__input').clone({ withDataAndEvents: true})); 
        
            //add the name and a remove button to the file-list
            $('.file-list').append('<li style="display: none;"><span class="file-list__name">' + fileName + '</span><button class="removal-button" data-uploadid="'+ uploadId +'"></button></li>');
            $('.file-list').find("li:last").show(800);
            
            //removal button handler
            $('.removal-button').on('click', function(e){
            e.preventDefault();
            
            //remove the corresponding hidden input
            $('.hidden-inputs input[data-uploadid="'+ $(this).data('uploadid') +'"]').remove(); 
            
            //remove the name from file-list that corresponds to the button clicked
            $(this).parent().hide("puff").delay(10).queue(function(){$(this).remove();});
            
            //if the list is now empty, change the text back 
            if($('.file-list li').length === 0) {
                $('.file-uploader__message-area').text(options.MessageAreaText || settings.MessageAreaText);
            }
            });
        
            //so the event handler works on the new "real" one
            $('.hidden-inputs .file-chooser__input').removeClass('file-chooser__input').attr('data-uploadId', uploadId); 
        
            //update the message area
            $('.file-uploader__message-area').text(options.MessageAreaTextWithFiles || settings.MessageAreaTextWithFiles);
            
            uploadId++;
            
        } else {
            //indicate that the file is not ok
            $('.file-chooser').addClass("error");
            var errorText = options.DefaultErrorMessage || settings.DefaultErrorMessage;
            
            if(check === "badFileName") {
            errorText = options.BadTypeErrorMessage || settings.BadTypeErrorMessage;
            }
            
            $('.file-chooser__input').after('<p class="error-message">'+ errorText +'</p>');
        }
        });
        
        var checkFile = function(fileName) {
        var accepted          = "invalid",
            acceptedFileTypes = this.acceptedFileTypes || settings.acceptedFileTypes,
            regex;

        for ( var i = 0; i < acceptedFileTypes.length; i++ ) {
            regex = new RegExp("\\." + acceptedFileTypes[i] + "$", "i");

            if ( regex.test(fileName) ) {
            accepted = "valid";
            break;
            } else {
            accepted = "badFileName";
            }
        }

        return accepted;
        };
    }; 
    }( jQuery ));

    //init 
    $(document).ready(function(){
    $('.fileUploader').uploader({
        MessageAreaText: "No files selected. Please select a file."
    });
    });
  </script> {% endcomment %}
</body>
</html>