{% comment %} {% extends 'base.html' %} {% endcomment %}
{% load static %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" >
<head>
<meta charset="UTF-8">
<title>Bootstrap 3 Lightbox with Modal</title>
<link href='https://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{% static 'css/s.css' %}">
<link rel="stylesheet" href="{% static 'css/w3.css' %}">
<style>
.bs-example{
    margin: 20px;
}
body{
    padding-top: 50px;
}
</style>
</head>
<body>
{% comment %} ส่วนนี้เป็นส่วนจัดการ nav-bar ทั้งหมดเลยยย {% endcomment %}
<div class="w3-top">
  <div class="w3-container">
    <div class="w3-bar w3-grey w3-border w3-xmedium">
      <a href="#" class="w3-bar-item w3-button w3-dark-grey"><i class="fa fa-home"><span>HOME</span></i></a>
      <a href="#" class="w3-bar-item w3-button w3-hide-small"><i class="fa fa-envelope"><span>ไม่รู้อ่ะ</span></i></a>
      <a href="#" class="w3-bar-item w3-button w3-hide-small"><i class="fa fa-globe"><span>ไม่รู้อ่ะ</span></i></a>
      <a href="#" class="w3-bar-item w3-button w3-hide-small"><i class="fa fa-sign-in"><span>ไม่รู้อ่ะ</span></i></a>
      <div class="w3-dropdown-click">
        <button class="w3-button" onclick="myFunction()">
          กดเข้าไปดิ่ <i class="fa fa-caret-down"></i>
        </button>
        <div id="demo" class="w3-dropdown-content w3-bar-block w3-card">
          <a href="#" class="w3-bar-item w3-button">กด 1</a>
          <a href="#" class="w3-bar-item w3-button">กด 2</a>
          <a href="#" class="w3-bar-item w3-button">กด 3</a>
        </div>
      </div>
      <input type="text" class="w3-bar-item w3-input w3-white w3-mobile w3-hide-small w3-right" placeholder="Search..">
      <button class="w3-bar-item w3-button w3-dark-grey w3-mobile w3-hide-small w3-right">Go</button>
      <a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium" onclick="myFunction()">&#9776;</a>
    </div>
  </div>
  <div id="demo" class="w3-bar-block w3-dark-grey w3-hide w3-hide-large w3-hide-medium">
      <a href="#" class="w3-bar-item w3-button"><i class="fa fa-envelope"><span>ไม่รู้อ่ะ</span></i></a>
      <a href="#" class="w3-bar-item w3-button"><i class="fa fa-globe"><span>ไม่รู้อ่ะ</span></i></a>
      <a href="#" class="w3-bar-item w3-button"><i class="fa fa-sign-in"><span>ไม่รู้อ่ะ</span></i></a>
      <input type="text" class="w3-bar-item w3-input w3-white w3-mobile" placeholder="Search..">
      <button class="w3-bar-item w3-button w3-dark-grey w3-mobile">Go</button>
  </div>
</div>
{% comment %} ส่วนนี้เป็นส่วนจัดการ nav-bar ทั้งหมดเลยยย {% endcomment %}
<script>
function myFunction() {
  var x = document.getElementById("demo");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else { 
    x.className = x.className.replace(" w3-show", "");
  }
}
</script>
<!-- partial:index.partial.html -->
<section id="profiles" class="page">
  
		<div class="container">
          
			<div class="content text-center">
				<div class="heading">
					<h2>Bootstrap Lightbox using Modal</h2>
					<hr>
				</div>
			</div>
				
			<div class="container-fluid">
				<div class="row" id="profile-grid">
				
					<div class="col-sm-4 col-xs-12 profile">
				        <div class="panel panel-default" >
				          <div class="panel-thumbnail" >
				          	<a href="#" title="F5 Load Balance" class="thumb">
				          		<img src="//dummyimage.com/900x350.png/c0c0c0&amp;text=image0x202" class="img-responsive img-rounded" data-toggle="modal" data-target="#f6">
				          	</a>
				          </div>
				          <div class="panel-body">
				            <p class="profile-name">F5 Load Balance</p>
				            <p>simple description of image 1</p>
				          </div>
				        </div>
				    </div>
                  
					<div class="col-sm-4 col-xs-12 profile">
				        <div class="panel panel-default">
				          <div class="panel-thumbnail">
				          	<a href="#" title="SDWAN" class="thumb">
				          		<img src="//dummyimage.com/900x350.png/c0c0c0&amp;text=image0x202" class="img-responsive img-rounded" data-toggle="modal" data-target="#sdwan">
				          	</a>
				          </div>
				          <div class="panel-body">
				            <p class="profile-name">SDWAN</p>
				            <p>simple description of image 2</p>
				          </div>
				        </div>
				    </div>

					<div class="col-sm-4 col-xs-12 profile">
				        <div class="panel panel-default">
				          <div class="panel-thumbnail">
				          	<a href="#" title="VOICE" class="thumb">
				          		<img src="//dummyimage.com/900x350.png/c0c0c0&amp;text=image0x203" class="img-responsive img-rounded" data-toggle="modal" data-target="#voice">
				          	</a>
				          </div>
				          <div class="panel-body">
				            <p class="profile-name">VOICE</p>
				            <p>simple description of image 3</p>
				          </div>
				        </div>
				    </div> 
                  
					<div class="col-sm-4 col-xs-12 profile">
				        <div class="panel panel-default">
				          <div class="panel-thumbnail">
				          	<a href="#" title="WAREHOUSE" class="thumb">
				          		<img src="//dummyimage.com/900x350.png/c0c0c0&amp;text=image0x204" class="img-responsive img-rounded" data-toggle="modal" data-target="#warehouse">
				          	</a>
				          </div>
				          <div class="panel-body">
				            <p class="profile-name">WAREHOUSE</p>
				            <p>simple description of image 4</p>
				          </div>
				        </div>
				    </div>                  

                  
                  	<div class="col-sm-4 col-xs-12 profile">
				        <div class="panel panel-default">
				          <div class="panel-thumbnail">
				          	<a href="#" title="WIRELESS" class="thumb">
				          		<img src="//dummyimage.com/900x350.png/c0c0c0&amp;text=image0x205" class="img-responsive img-rounded" data-toggle="modal" data-target="#wireless">
				          	</a>
				          </div>
				          <div class="panel-body">
				            <p class="profile-name">WIRELESS</p>
				            <p>simple description of image 5</p>
				          </div>
				        </div>
				    </div>

                  
                  	<div class="col-sm-4 col-xs-12 profile">
				        <div class="panel panel-default">
				          <div class="panel-thumbnail">
				          	<a href="#" title="VeloCoulde" class="thumb">
				          		<img src="//dummyimage.com/900x350.png/c0c0c0&amp;text=image0x206" class="img-responsive img-rounded" data-toggle="modal" data-target="#velo">
				          	</a>
				          </div>
				          <div class="panel-body">
				            <p class="profile-name">VeloCoulde</p>
				            <p>simple description of image 6</p>
				          </div>
				        </div>
				    </div>

                  
   				 </div>
			</div>
		</div>

	</section>
	
	<!-- .modal-profile -->
	{% comment %} <div class="modal fade modal-profile" tabindex="-1" role="dialog" aria-labelledby="modalProfile" aria-hidden="true">
			<div class="modal-dialog modal-md">
				<div class="modal-content">
					<div class="modal-header">
						<button class="close" type="button" data-dismiss="modal">×</button>
						<h3 class="modal-title"></h3>
					</div>
					<div class="modal-body">
					</div>
					<div class="modal-footer">
						<button class="btn btn-danger" data-dismiss="modal">Close</button>
            <button class="btn btn-success w3-left" data-target="">กดสิ้</button>
					</div>
				</div>
        
			</div>
	</div> {% endcomment %}
<div class="modal fade" id="f6" tabindex="-1" role="dialog" aria-labelledby="modalProfile" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Small Modal</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>แกว๊ก~~~~~~</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="sdwan" tabindex="-1" role="dialog" aria-labelledby="modalProfile" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Small Modal</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h3>Modal Body</h3>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="voice" tabindex="-1" role="dialog" aria-labelledby="modalProfile" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Small Modal</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h3>Modal Body</h3>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="warehouse" tabindex="-1" role="dialog" aria-labelledby="modalProfile" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Small Modal</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h3>Modal Body</h3>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="wireless" tabindex="-1" role="dialog" aria-labelledby="modalProfile" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Small Modal</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h3>Modal Body</h3>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="velo" tabindex="-1" role="dialog" aria-labelledby="modalProfile" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Small Modal</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h3>Modal Body</h3>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
  
    
	<!-- //.modal-profile -->
<!-- partial -->
  <script  src="{% static 'js/s1.js' %}"></script>

</body>
</html>